<template>
  <div class="q-ma-sm">
    <div style="display: none">
      <div id="myelement">
        <center>
          <p>
            <span style="font-size: 14px;">{{ title }}</span>
            <br />
            <span style="font-size: 10px;display:block ">{{ address1 }}</span>
            <span style="font-size: 10px;display:block ">{{ address2 }}</span>
            <span style="font-size: 10px;display:block ">{{ address3 }}</span>
          </p>
        </center>
        <div>
          <br />
          <q-list separator class="q-mt-sm q-mb-sm">
            <q-item v-ripple>
              <q-item-section>
                <q-item-label>
                  <strong>User:</strong>
                  {{ name }}
                </q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label>
                  <strong>Address:</strong>
                  {{ address.street_lot_blk }},
                  {{ address.brgy.description }}
                  <br />
                  {{ address.city.description }},
                  {{ address.province.description }}
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item v-ripple>
              <q-item-section>
                <q-item-label>
                  <strong>Mobile:</strong>
                  {{ mobile }}
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item v-ripple>
              <q-item-section>
                <q-item-label>
                  <strong>Status:</strong>
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
          <table border="1" id="first" padding="5">
            <tr>
              <th style="padding: 5">Store</th>
              <th style="padding: 5">Product Name</th>
              <th style="padding: 5">Price</th>
              <th style="padding: 5">Qty</th>
              <th style="padding: 5">Total</th>
            </tr>
            <tr v-for="(v, k) in locProducts" :key="k">
              <td style="padding: 5">{{ v.store }}</td>
              <td style="padding: 5">{{ v.name }}</td>
              <td style="padding: 5">{{ v.amount | currency("₱ ") }}</td>
              <td style="padding: 5">{{ v.qty }}</td>
              <td style="padding: 5">
                {{ (v.amount * v.qty) | currency("₱ ") }}
              </td>
            </tr>
          </table>

          <div id="grandTotal">
            <strong>Grand Total:</strong>
            <span>{{ grandTotal | currency("₱ ") }}</span>
          </div>
        </div>
      </div>
    </div>
    <form @submit.prevent="$emit('add')">
      <div class="row">
        <div class="col-12">
          <p class="text-h6 q-ma-sm">
            <q-icon name="add_circle" color="grey" />&nbsp; Store (Payment
            Requests)
          </p>
        </div>
        <div class="col-xs-12">
          <q-list
            :bordered="paymentRequest.length > 0"
            separator
            class="q-ma-sm"
          >
            <q-item v-ripple v-for="(dr, k) in paymentRequest" :key="k">
              <q-item-section>
                <q-item-label>{{ dr.store }}</q-item-label>
                <q-item-label caption>Store</q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ dr.label }}</q-item-label>
                <q-item-label caption>Delivery No.</q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ dr.invoice_no }}</q-item-label>
                <q-item-label caption>Invoice No.</q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ dr.total | currency("₱ ") }}</q-item-label>
                <q-item-label caption>Total</q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-btn
                  icon="far fa-times-circle"
                  flat
                  color="negative"
                  @click="removePaymentRequest(k)"
                />
              </q-item-section>
            </q-item>
          </q-list>
        </div>
        <div class="col-xs-12">
          <q-list
            :bordered="locProducts.length > 0"
            separator
            class="q-mt-sm q-mb-sm"
          >
            <q-item v-for="(product, k) in locProducts" :key="k">
              <q-item-section avatar>
                <q-avatar rounded>
                  <img :src="product.img" />
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ product.store }}</q-item-label>
                <q-item-label caption>Store Name</q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ product.invoice }}</q-item-label>
                <q-item-label caption>Invoice No.</q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ product.deliveryNo }}</q-item-label>
                <q-item-label caption>Delivery No.</q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ product.name }}</q-item-label>
                <q-item-label caption>Item Name</q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label
                  class="text-subtitle1 text-negative text-weight-medium"
                  >{{ product.amount | currency("₱") }}</q-item-label
                >
                <q-item-label caption>Price</q-item-label>
              </q-item-section>
              <q-item-section>
                <div class="row">
                  <div class="col-xs-6">
                    <q-input
                      type="number"
                      label="Qty"
                      v-model="product.qty"
                      outlined
                      dense
                      min="0"
                      readonly
                    ></q-input>
                  </div>
                </div>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section
                ><strong
                  >GRAND TOTAL:
                  <span class="text-subtitle1 text-negative text-weight-medium">
                    {{ grandTotal | currency("₱ ") }}
                  </span></strong
                >
              </q-item-section>
            </q-item>
          </q-list>
        </div>
        <div class="col-xs-12">
          <q-input
            dense
            outlined
            v-model="remarks"
            label="Remarks"
            type="textarea"
            class="q-ml-sm"
          />
        </div>
        <div class="col-xs-12">
          <div class="q-ma-sm">
            <q-uploader
              accept="image/jpeg, image/png"
              label="Upload Payment Confirmation"
              multiple
              @added="added"
              hide-upload-btn
              ref="uploader"
              @removed="removed"
              class="full-width"
            >
              <template v-slot:list="scope">
                <q-list separator>
                  <q-item v-for="file in scope.files" :key="file.name">
                    <q-item-section>
                      <q-item-label class="full-width ellipsis">
                        {{ file.name }}
                      </q-item-label>

                      <q-item-label caption
                        >Status: {{ file.__status }}</q-item-label
                      >

                      <q-item-label caption>
                        {{ file.__sizeLabel }}
                        <!-- / {{ file.__progressLabel }} -->
                      </q-item-label>
                    </q-item-section>

                    <q-item-section v-if="file.__img" thumbnail>
                      <img :src="file.__img.src" />
                    </q-item-section>

                    <q-item-section top side>
                      <q-radio
                        v-model="is_primary"
                        :val="file.name"
                        style="margin-top: 5px;"
                      />
                    </q-item-section>
                    <q-item-section top side>
                      <q-btn
                        class="q-mt-sm"
                        color="negative"
                        flat
                        dense
                        round
                        icon="delete"
                        @click="scope.removeFile(file)"
                      />
                    </q-item-section>
                  </q-item>
                </q-list>
              </template>
            </q-uploader>
          </div>
        </div>
      </div>
    </form>
    <slot></slot>
  </div>
</template>
<script>
import { mapActions, mapState } from "vuex";
import { find } from "lodash";
import { Printd } from "printd";
const cssText = `
  table {
    margin-top: 15px;
    border-collapse: collapse;
    width: 100%;
  }
  table tr th, table tr td{
    padding: 10px;
  }

  #grandTotal {
    float: right;
    padding: 20px;
  }

  #grandTotal span {
    display: inline-block;
    padding: 20px;
    margin-right: 30px;
  }

`;

export default {
  props: ["products", "name", "address", "mobile", "images"],
  data() {
    return {
      is_primary: null,
      selectedFile: [],
      locPaymentImages: [],
      pagination: {
        rowsPerPage: 100,
        page: 1
      },
      paymentRequest: [],
      locProducts: [],
      locStores: [],
      deliveryReceived: [],
      locBranch: this.branch,
      title: process.env.APP_TITLE,
      address1: process.env.APP_ADDRESS1,
      address2: process.env.APP_ADDRESS2,
      address3: process.env.APP_ADDRESS3,
      columns: [
        {
          name: "name",
          required: true,
          label: "Product Name",
          align: "left"
        },
        {
          name: "price",
          align: "left",
          label: "Price"
        },
        {
          name: "qty",
          align: "center",
          label: "Qty"
        },
        {
          name: "total",
          align: "right",
          label: "Subtotal"
        }
      ],
      selectedFile: [],
      is_primary: null
    };
  },
  computed: {
    remarks: {
      get() {
        return this.$store.getters["SPR/remarks"];
      },
      set(v) {
        this.setRemarks(v);
      }
    },
    grandTotal: {
      get() {
        return this.$store.getters["SPR/grandTotal"];
      },
      set(v) {
        this.setGrandTotal(v);
      }
    },
    selectedStore: {
      get() {
        return this.$store.getters["SPR/selectedStore"];
      },
      set(v) {
        this.setSelectedStore(v);
      }
    },
    selectedDeliveryReceived: {
      get() {
        return this.$store.getters["SPR/selectedDeliveryReceived"];
      },
      set(v) {
        this.setSelectedDeliveryReceived(v);
      }
    }
  },
  methods: {
    ...mapActions("SPR", [
      "setSelectedStore",
      "setSelectedDeliveryReceived",
      "setGrandTotal",
      "setRemarks"
    ]),
    added(files) {
      for (var i = 0; i <= files.length; i++) {
        this.selectedFile.push(files[i]);
      }
    },
    removed(files) {
      let x = this.selectedFile.filter(function(v) {
        if (v !== undefined) {
          return v.name !== files[0].name;
        }
      });
      this.selectedFile = x;
    },
    print() {
      const d = new Printd();
      d.print(document.getElementById("myelement"), [cssText]);
    },

    data() {
      const fd = new FormData();
      for (var i = 0; i <= this.selectedFile.length; i++) {
        if (this.selectedFile[i] !== undefined) {
          if (this.selectedFile[i].__img.complete) {
            fd.append("files[]", this.selectedFile[i]);
          } else {
            fd.append("ids[]", this.selectedFile[i].id);
          }
          fd.append("is_primary", this.is_primary);
        }
      }
      fd.append("remarks", this.remarks);
      return fd;
    },
    update() {
      this.$axios
        .post(`pr_update/${this.$route.params.id}`, this.data())
        .then(res => {
          this.$q.notify({
            color: "positive",
            icon: "far fa-check-circle",
            message: `Payment Request created successfully.`
          });
        });
    },
    cancel() {
      this.$router.go(-1);
    }
  },
  mounted() {
    this.locProducts = this.products;
    this.locPaymentImages = this.images;
    console.log(this.images);
    if (this.locPaymentImages != null) {
      for (var i = 0; i < this.locPaymentImages.length; i++) {
        let fileName = this.locPaymentImages[i].name;
        let url = this.locPaymentImages[i].path_url;

        if (this.locPaymentImages[i].is_primary === 1) {
          this.is_primary = fileName;
        }
        let file = {
          id: this.locPaymentImages[i].id,
          size: 123,
          type: fileName.split(".").pop(),
          name: fileName,
          __img: {
            src: url
          }
        };
        this.$refs.uploader.files.push(file);
        this.selectedFile.push(file);
      }
    }
  }
};
</script>
