<template>
  <div class="row">
    <div class="col-sm-12 gt-sm">
      <generic-table
        :data="serverData"
        :columns="columns"
        :pagination="serverPagination"
        @serverside-request="request"
        @search-change="filter = $event"
        :search-field="filter"
        @selected="selected"
        ref="storeTable"
        :title="'All Stores'"
        :loading="loading"
        :search-placeholder="'Search store...'"
        entity="Store"
        @add="add"
        @edit="edit"
        @restore="restore"
        @del="del"
      ></generic-table>
    </div>
    <div class="col-sm-12 lt-md">
      <grid
        :data="serverData"
        :columns="columns"
        :pagination="serverPagination"
        @serverside-request="request"
        @search-change="filter = $event"
        :search-field="filter"
        @selected="selected"
        ref="storeTable"
        :title="'All Categories'"
        :loading="loading"
        :search-placeholder="'Search store...'"
        :grid="true"
        entity="Store"
        @add="add"
        @edit="edit"
        @restore="restore"
        @del="del"
      ></grid>
    </div>
  </div>
</template>

<script>
import catchError from "components/api-errors/catch";
import genericTable from "components/data-table/new-generic";
import grid from "components/data-table/grid";
import { values } from "lodash";
import { debounce } from "quasar";
import { mapState, mapActions } from "vuex";
export default {
  mixins: [catchError],
  components: {
    genericTable,
    grid
  },
  data() {
    return {
      selectedValue: "",
      debouncedFunction: "",
      loading: false,
      filter: "",
      options: [5, 10, 15, 20],
      serverPagination: {
        page: 1,
        rowsNumber: 10,
        rowsPerPage: 10 // specifying this determines pagination is server-side
      },
      serverData: [],
      columns: [
        {
          name: "name",
          label: "Name",
          field: "name",
          align: "left"
        },
        {
          name: "description",
          label: "Description",
          align: "left",
          field: "desc"
        },
        {
          name: "created_by",
          label: "Created By",
          align: "left",
          field: row => `${row.user.firstname} ${row.user.lastname}`
        },
        {
          name: "Action",
          label: "ACTIONS",
          align: "left"
        }
      ]
    };
  },
  computed: {
    ...mapState("branches", ["branch"])
  },
  methods: {
    ...mapActions("branches", ["setBranch"]),
    restore() {},
    add() {
      this.setBranch({
        name: "",
        mobile: "",
        desc: "",
        address: {
          province_id: 722,
          city_id: 72230,
          brgy_id: null,
          street_lot_blk: ""
        },
        is_active: false
      });
      this.$router.push({
        path: `/dashboard/stores/create`
      });
    },
    edit(optimusId) {
      this.$axios
        .get(`/branches/${optimusId}/edit?id=${optimusId}`)
        .then(res => {
          var branch = res.data.branch;
          var address = res.data.address;
          var brgyId = null;
          if (address.brgy_id != null) {
            brgyId = {
              label: address.brgy_id.label,
              value: address.brgy_id.value
            };
          }
          this.setBranch({
            is_active: branch.is_active,
            name: branch.name,
            mobile: branch.mobile,
            desc: branch.desc,
            address: {
              province_id: 722,
              city_id: 72230,
              brgy_id: brgyId,
              street_lot_blk: address.street_lot_blk
            }
          });
          this.$router.push({
            path: `/dashboard/stores/${optimusId}`
          });
        });
    },
    del(optimusId) {
      this.$axios.get(`/branches/${optimusId}?id=${optimusId}`).then(res => {
        this.setBranch(res.data.branch);
        this.$q.notify({
          color: "negative",
          icon: "warning",
          message: `Delete ${this.branch.name}?`,
          actions: [
            {
              label: "OK",
              color: "white",
              handler: () => {
                this.$axios
                  .delete(
                    `/branches/${this.branch.optimus_id}?id=${this.branch.optimus_id}`
                  )
                  .then(res => {
                    this.$q.notify({
                      color: "positive",
                      icon: "far fa-check-circle",
                      message: `${this.branch.name} deleted successfully`
                    });
                    this.request({
                      pagination: this.serverPagination,
                      filter: this.filter
                    });
                    this.$refs.storeTable.selected = [];
                  })
                  .catch(err => {
                    console.log(`${err.response.data.message}`);
                    this.$q.notify({
                      color: "negative",
                      icon: "warning",
                      message: "Failed... Integrity Constraint" // `${err.response.data.message}`
                    });
                  });
              }
            }
          ]
        });
      });
    },
    selected(val) {
      this.selectedValue = val;
    },
    request(props) {
      this.debouncedFunction(props);
    }
  },
  mounted() {
    this.debouncedFunction = debounce(props => {
      this.loading = true;
      this.$axios
        .get(
          `/branches?page=${props.pagination.page}&perPage=${props.pagination.rowsPerPage}&filter=${this.filter}`
        )
        .then(res => {
          this.serverPagination = props.pagination;
          this.serverData = values(res.data.branches.data);
          this.serverPagination.rowsNumber = res.data.branches.total;
          this.lastPage = res.data.branches.last_page;
          this.loading = false;
        })
        .catch(err => {
          this.$router.go(-1);
          this.catch(err);
        });
    }, 500);

    this.request({
      pagination: this.serverPagination,
      filter: this.filter
    });
  }
};
</script>
