<template>
  <div class="q-ma-sm">
    <form @submit.prevent="$emit('add')">
      <div class="row">
        <div class="col-12">
          <p class="text-h5 q-ma-sm">
            <q-icon name="add_circle" color="grey" />
            {{ locShareCredit.user.name }}
          </p>
        </div>
        <div class="col-12">
          <q-input
            dense
            outlined
            v-model="$v.locShareCredit.code.$model"
            label="Share Credit Code"
            :error="$v.locShareCredit.code.$error"
            bottom-slots
            error-message="Share Credit Code is required."
          />
        </div>
      </div>
    </form>
    <slot></slot>
  </div>
</template>
<script>
import { required } from "vuelidate/lib/validators";
export default {
  props: ["shareCredit"],
  validations: {
    locShareCredit: {
      code: {
        required
      }
    }
  },
  data() {
    return {
      locShareCredit: this.shareCredit
    };
  },
  methods: {
    update() {
      this.$v.$touch();
      if (this.$v.$error) {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          message: `Please check required the fields.`
        });
      } else {
        this.$axios
          .put(`share-credits/${this.$route.params.id}`, this.locShareCredit)
          .then(res => {
            this.$v.$reset();
            this.$q.notify({
              color: "positive",
              icon: "far fa-check-circle",
              message: `Share credit updated successfully.`
            });
          });
      }
    },
    cancel() {
      this.$router.go(-1);
    }
  },
  mounted() {
    this.locShareCredit = this.shareCredit;
  }
};
</script>
