<template>
  <q-input
    bottom-slots
    v-model="row.qty"
    counter
    maxlength="2"
    dense
    outlined
    readonly
    style="width: 130px;"
  >
    <template v-slot:prepend>
      <q-btn round dense flat icon="remove" @click="$emit('subQty', row)" />
    </template>

    <template v-slot:append>
      <q-btn round dense flat icon="add" @click="$emit('addQty', row)" />
    </template>
  </q-input>
</template>
<script>
export default {
  props: ["row"],
  mounted() {
    console.log(this.row);
  }
};
</script>
