<template>
  <div class="q-ma-sm">
    <div class="row">
      <div class="col-xs-12 gt-xs">
        <q-list separator class="q-mt-sm q-mb-sm">
          <q-item v-ripple>
            <q-item-section>
              <q-item-label>User:</q-item-label>
              <q-item-label caption>{{ fullName }}</q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>Delivery Address:</q-item-label>
              <q-item-label caption>
                {{ payment.delivery_address.address.complete_address }}
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-item v-ripple>
            <q-item-section>
              <q-item-label>Invoice No. :</q-item-label>
              <q-item-label caption>{{
                payment.invoice.invoice_no
              }}</q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>Mobile:</q-item-label>
              <q-item-label caption>{{ payment.mobile }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item v-ripple>
            <q-item-section>
              <q-item-label>Payment Option:</q-item-label>
              <q-item-label caption>{{
                payment.payment_option.name
              }}</q-item-label>
            </q-item-section>
            <q-item-section>
              <q-btn
                icon="fas fa-truck"
                label="Accept Delivery"
                color="info"
                @click="acceptDelivery"
                style="width: 200px;"
              />
            </q-item-section>
          </q-item>
        </q-list>
        <q-separator />
        <q-table
          :data="payment.invoice.invoice_items"
          :columns="columns"
          row-key="id"
          class="no-shadow"
          :pagination.sync="pagination"
          hide-bottom
        >
          <template slot="body" slot-scope="props">
            <q-tr :props="props">
              <q-td key="image">
                <q-avatar rounded>
                  <img :src="props.row.product.default_image.path_url" />
                </q-avatar>
              </q-td>
              <q-td key="name">{{ props.row.product.name }}</q-td>
              <q-td key="price">
                {{ props.row.product.discounted_price | currency("₱") }}
              </q-td>
              <q-td key="qty" align="center">{{ props.row.qty }}</q-td>
              <q-td key="total" align="right">
                {{ (props.row.price * props.row.qty) | currency("₱") }}
              </q-td>
            </q-tr>
          </template>
          <template v-slot:bottom-row>
            <q-tr>
              <q-td colspan="4">
                <div class="float-right">
                  DELIVERY CHARGE:
                </div>
              </q-td>
              <q-td align="right">{{
                payment.invoice.delivery_invoice.price | currency("₱")
              }}</q-td>
            </q-tr>
            <q-tr>
              <q-td colspan="4">
                <div class="float-right text-subtitle2">
                  <strong>GRAND TOTAL: </strong>
                </div>
              </q-td>
              <q-td align="right">
                <div class="text-subtitle2">
                  {{ grandTotal | currency("₱") }}
                </div>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>

      <div class="col-xs-12 lt-sm">
        <q-list separator class="q-mt-sm">
          <q-item>
            <q-item-section>User:</q-item-section>
            <q-item-section side>{{ fullName }}</q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Delivery Address:</q-item-section>
            <q-item-section side>
              {{ payment.delivery_address.address.complete_address }}
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Invoice No.:</q-item-section>
            <q-item-section side>{{
              payment.invoice.invoice_no
            }}</q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Mobile:</q-item-section>
            <q-item-section side>{{ payment.mobile }}</q-item-section>
          </q-item>
          <q-item>
            <q-item-section>Payment Option:</q-item-section>
            <q-item-section side>{{
              payment.payment_option.name
            }}</q-item-section>
          </q-item>
          <q-item>
            <q-item-section>
              <q-btn
                icon="fas fa-truck"
                label="Accept Delivery"
                color="info"
                style="width: 200px;"
                @click="acceptDelivery"
              />
            </q-item-section>
          </q-item>
        </q-list>
        <q-card
          class="full-width q-pa-sm q-mt-sm"
          v-for="(c, i) in payment.invoice.invoice_items"
          :key="i"
        >
          <center :key="i">
            <q-avatar rounded :key="i" style="width: 100px; height: 100px;">
              <img :src="c.product.default_image.path_url" />
            </q-avatar>
          </center>
          <q-card-section :key="c.id">
            <q-list dense>
              <q-item>
                <q-item-section>Name:</q-item-section>
                <q-item-section side>{{ c.product.name }}</q-item-section>
              </q-item>
              <q-item>
                <q-item-section>Price:</q-item-section>
                <q-item-section side>
                  {{ c.product.discounted_price | currency("₱") }}
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>Qty:</q-item-section>
                <q-item-section side>{{ c.qty }}</q-item-section>
              </q-item>
              <q-item>
                <q-item-section>Total:</q-item-section>
                <q-item-section side>
                  {{ (c.qty * c.product.discounted_price) | currency("₱") }}
                </q-item-section>
              </q-item>
            </q-list>
          </q-card-section>
        </q-card>
        <q-list bordered separator dense class="q-mt-sm">
          <q-item clickable v-ripple>
            <q-item-section>Delivery Charge:</q-item-section>
            <q-item-section side>{{
              payment.invoice.delivery_invoice.price | currency("₱")
            }}</q-item-section>
          </q-item>
          <q-item clickable v-ripple>
            <q-item-section>GrandTotal:</q-item-section>
            <q-item-section side>{{
              grandTotal | currency("₱")
            }}</q-item-section>
          </q-item>
        </q-list>
      </div>
      <q-btn
        icon="fas fa-chevron-circle-left"
        label="Back"
        color="negative"
        @click="$router.go(-1)"
        class="q-mt-sm q-mr-sm"
      />
      <q-btn
        label="Print"
        color="primary"
        icon="print"
        @click="print"
        class="q-mt-sm"
      />
      <print-payment
        ref="hardcopy"
        :payment="payment"
        :fullName="fullName"
        :grandTotal="grandTotal"
      ></print-payment>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
import printPayment from "components/print/payment";
export default {
  components: {
    printPayment
  },
  data() {
    return {
      pagination: {
        rowsPerPage: 100,
        page: 1
      },
      columns: [
        {
          name: "image",
          required: true,
          label: "Image",
          align: "left"
        },
        {
          name: "name",
          required: true,
          label: "Produt Name",
          align: "left"
        },
        {
          name: "price",
          align: "left",
          label: "Price"
        },
        {
          name: "qty",
          align: "center",
          label: "Qty"
        },
        {
          name: "total",
          align: "right",
          label: "Subtotal"
        }
      ]
    };
  },
  computed: {
    ...mapState("payments", ["payment", "grandTotal"]),
    fullName() {
      return `${this.payment.user.firstname} ${this.payment.user.middlename} ${this.payment.user.lastname}`;
    }
  },
  methods: {
    ...mapActions("payments", [
      "setPayment",
      "setPaymentOptions",
      "setGrandTotal"
    ]),
    acceptDelivery() {
      this.$axios.post(
        `delivery_payments_accept/${this.$route.params.id}?id=${this.$route.params.id}`
      );
    },
    info() {
      this.$axios
        .get(
          `user_payments/${this.$route.params.id}?id=${this.$route.params.id}`
        )
        .then(res => {
          this.setPayment(res.data.payment);
          this.setGrandTotal(res.data.grandTotal);
        });
    },
    print() {
      this.$refs.hardcopy.print();
    }
  },
  mounted() {}
};
</script>
