<template>
  <generic :catalog="catalog" icon="add_circle" ref="catalog">
    <div class="col-12">
      <q-btn @click="cancel" color="negative" label="Back" class="q-ma-sm" />
      <q-btn @click="update" color="primary" label="Update" class="q-ma-sm" />
    </div>
  </generic>
</template>
<script>
import generic from "pages/dashboard/catalogs/form/generic-store";
import { mapState } from "vuex";
export default {
  components: {
    generic
  },
  computed: {
    ...mapState("catalogs", ["catalog"])
  },
  methods: {
    update() {
      this.$refs.catalog.update();
    },
    cancel() {
      this.$refs.catalog.cancel();
    }
  }
};
</script>
