<template>
  <div class="q-ma-sm">
    <div class="row">
      <div class="col-xs-12 gt-xs">
        <q-list separator class="q-mt-sm q-mb-sm">
          <q-item>
            <q-item-section>
              <q-item-label>User:</q-item-label>
              <q-item-label caption>{{ fullName }}</q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>Delivery Address:</q-item-label>
              <q-item-label caption>{{
                payment.delivery_address.address.complete_address
              }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>
              <q-item-label>Invoice No. :</q-item-label>
              <q-item-label caption>
                {{ payment.invoice.invoice_no }}
              </q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>Mobile:</q-item-label>
              <q-item-label caption>{{ payment.mobile }}</q-item-label>
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section>
              <q-item-label>Payment Option:</q-item-label>
              <q-item-label caption>
                {{ payment.payment_option.name }}
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
        <q-separator />
        <q-table
          :data="payment.invoice.invoice_items"
          :columns="columns"
          row-key="id"
          class="no-shadow"
          :pagination.sync="pagination"
          hide-bottom
        >
          <template slot="body" slot-scope="props">
            <q-tr :props="props">
              <q-td key="feedback">
                <q-btn
                  icon="far fa-comments"
                  flat
                  color="primary"
                  @click="
                    addFeedback(
                      props.row.product.optimus_id,
                      payment.invoice.invoice_no
                    )
                  "
                />
              </q-td>
              <q-td key="image">
                <q-avatar rounded>
                  <img :src="props.row.product.default_image.path_url" />
                </q-avatar>
              </q-td>
              <q-td key="name">{{ props.row.product.name }}</q-td>
              <q-td key="price">{{
                props.row.product.discounted_price | currency("₱")
              }}</q-td>
              <q-td key="qty" align="center">{{ props.row.qty }}</q-td>

              <q-td key="total" align="right">{{
                (props.row.price * props.row.qty) | currency("₱")
              }}</q-td>
            </q-tr>
          </template>
          <template v-slot:bottom-row>
            <q-tr>
              <q-td colspan="5">
                <div class="float-right">Delivery Charge:</div>
              </q-td>
              <q-td align="right">
                {{ payment.invoice.delivery_invoice.price | currency("₱") }}
              </q-td>
            </q-tr>
            <q-tr>
              <q-td colspan="5">
                <div class="float-right text-subtitle2">Grand Total:</div>
              </q-td>
              <q-td align="right">
                <div class="text-subtitle2">
                  {{ grandTotal | currency("₱") }}
                </div>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>

      <div class="col-xs-12 lt-sm">
        <q-list separator class="q-mt-sm">
          <q-item clickable>
            <q-item-section>USER:</q-item-section>
            <q-item-section side>{{ fullName }}</q-item-section>
          </q-item>
          <q-item clickable>
            <q-item-section>DELIVERY ADDRESS:</q-item-section>
            <q-item-section side style="width: 210px;">{{
              payment.delivery_address.address.complete_address
            }}</q-item-section>
          </q-item>
          <q-item clickable>
            <q-item-section>INVOICE NO.:</q-item-section>
            <q-item-section side>
              {{ payment.invoice.invoice_no }}
            </q-item-section>
          </q-item>
          <q-item clickable>
            <q-item-section>MOBILE:</q-item-section>
            <q-item-section side>{{ payment.mobile }}</q-item-section>
          </q-item>
          <q-item clickable>
            <q-item-section>PAYMENT OPTION:</q-item-section>
            <q-item-section side>
              {{ payment.payment_option.name }}
            </q-item-section>
          </q-item>
        </q-list>
        <q-card
          class="full-width q-pa-sm q-mt-sm"
          v-for="(c, i) in payment.invoice.invoice_items"
          :key="i"
        >
          <center :key="i">
            <q-avatar rounded :key="i" style="width: 100px; height: 100px;">
              <img :src="c.product.default_image.path_url" />
            </q-avatar>
          </center>
          <q-card-section :key="c.id">
            <q-list dense>
              <q-item>
                <q-item-section>PRODUCT:</q-item-section>
                <q-item-section side>{{ c.product.name }}</q-item-section>
              </q-item>
              <q-item>
                <q-item-section>PRICE:</q-item-section>
                <q-item-section side>{{
                  c.product.discounted_price | currency("₱")
                }}</q-item-section>
              </q-item>
              <q-item>
                <q-item-section>QTY:</q-item-section>
                <q-item-section side>{{ c.qty }}</q-item-section>
              </q-item>
              <q-item>
                <q-item-section>TOTAL:</q-item-section>
                <q-item-section side>{{
                  (c.qty * c.product.discounted_price) | currency("₱")
                }}</q-item-section>
              </q-item>
            </q-list>
          </q-card-section>
        </q-card>
        <q-list bordered separator dense class="q-mt-sm">
          <q-item clickable>
            <q-item-section><strong>DELIVERY CHARGE:</strong></q-item-section>
            <q-item-section side style="font-size: 15px; font-weight:bold;">
              {{ payment.invoice.delivery_invoice.price | currency("₱") }}
            </q-item-section>
          </q-item>
          <q-item clickable>
            <q-item-section><strong>GRANDTOTAL:</strong></q-item-section>
            <q-item-section side style="font-size: 15px; font-weight:bold;">{{
              grandTotal | currency("₱")
            }}</q-item-section>
          </q-item>
        </q-list>
      </div>
      <q-btn
        label="Back"
        color="negative"
        @click="$router.go(-1)"
        class="q-mt-sm q-mr-sm"
      />
      <q-btn
        label="Print"
        color="primary"
        icon="print"
        @click="print"
        class="q-mt-sm"
      />
      <print-payment
        ref="hardcopy"
        :payment="payment"
        :fullName="fullName"
        :grandTotal="grandTotal"
      ></print-payment>
    </div>
  </div>
</template>
<script>
import { mapState } from "vuex";
import printPayment from "components/print/payment";
export default {
  components: {
    printPayment
  },
  data() {
    return {
      pagination: {
        rowsPerPage: 100,
        page: 1
      },
      columns: [
        {
          name: "feedback",
          align: "left",
          label: "Comment"
        },
        {
          name: "image",
          required: true,
          label: "Image",
          align: "left"
        },
        {
          name: "name",
          required: true,
          label: "Produt Name",
          align: "left"
        },
        {
          name: "price",
          align: "left",
          label: "Price"
        },
        {
          name: "qty",
          align: "center",
          label: "Qty"
        },
        {
          name: "total",
          align: "right",
          label: "Subtotal"
        }
      ]
    };
  },
  computed: {
    ...mapState("payments", ["payment", "grandTotal"]),
    fullName() {
      var middlename = "";
      if (this.payment.user.middlename != null) {
        middlename = this.payment.user.middlename;
      }
      return `${this.payment.user.firstname} ${middlename} ${this.payment.user.lastname}`;
    }
  },
  methods: {
    print() {
      this.$refs.hardcopy.print();
    },
    addFeedback(optimusId, invoiceNo) {
      this.$router.push({
        path: `/dashboard/feedback/${invoiceNo}/${optimusId}`
      });
    },
    deliveryAddress(payment) {}
  },
  mounted() {
    console.log(this.grandTotal);
  }
};
</script>
