<template>
  <div class="q-ma-sm">
    <form @submit.prevent="$emit('add')">
      <div class="row">
        <div class="col-xs-6">
          <p class="text-h5 q-ma-sm">
            <q-icon name="add_circle" color="grey" />
            {{ locBranch.name }}
          </p>
        </div>
        <div class="col-xs-6">
          <q-space />
          <q-toggle
            v-model="locBranch.is_active"
            color="green"
            label="Disabled"
          />
        </div>
        <div class="col-xs-6">
          <q-input
            dense
            outlined
            v-model="$v.locBranch.name.$model"
            label="Store Name"
            :error="$v.locBranch.name.$error"
            bottom-slots
            error-message="Store name is required."
            class="q-ml-sm"
          />
        </div>
        <div class="col-xs-6">
          <q-input
            dense
            outlined
            class="q-ml-sm"
            v-model="$v.locBranch.mobile.$model"
            label="Contact No."
            :error="$v.locBranch.mobile.$error"
            bottom-slots
            error-message="Contact No. is required."
          />
        </div>
        <div class="col-xs-12">
          <q-input
            dense
            outlined
            v-model="locBranch.desc"
            label="Description"
            type="textarea"
            class="q-ml-sm"
            bottom-slots
          />
        </div>
        <!-- <div class="col-xs-12 col-sm-6 col-md-4">
          <q-select
            outlined
            v-model="$v.locBranch.address.province_id.$model"
            :options="provinces"
            label="Province"
            class="q-ml-sm"
            :error="$v.locBranch.address.province_id.$error"
            bottom-slots
            error-message="Province is required."
            dense
          />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <q-select
            outlined
            v-model="$v.locBranch.address.city_id.$model"
            :options="cities"
            label="City"
            class="q-ml-sm"
            :error="$v.locBranch.address.city_id.$error"
            bottom-slots
            error-message="City is required."
            dense
          />
        </div> -->
        <div class="col-xs-12 ">
          <p class="h5 q-ma-sm"><strong>STORE ADDRESS</strong></p>
          <q-select
            outlined
            v-model="$v.locBranch.address.brgy_id.$model"
            :options="locBrgys"
            label="Brgys"
            class="q-ml-sm"
            :error="$v.locBranch.address.brgy_id.$error"
            bottom-slots
            error-message="Barangay is required."
            dense
            use-input
            @filter="filterBrgy"
            use-chips
          />
        </div>
        <div class="col-xs-12">
          <q-input
            type="textarea"
            outlined
            dense
            label="Street, Block and Lot No."
            v-model="$v.locBranch.address.street_lot_blk.$model"
            class="q-ml-sm"
            :error="$v.locBranch.address.street_lot_blk.$error"
            bottom-slots
            error-message="Street, Bloc and Lot No. is required."
          ></q-input>
        </div>
      </div>
    </form>
    <slot></slot>
  </div>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
export default {
  props: ['branch'],
  validations: {
    locBranch: {
      name: {
        required
      },
      mobile: {
        required
      },
      address: {
        province_id: {
          required
        },
        city_id: {
          required
        },
        brgy_id: {
          required
        },
        street_lot_blk: {
          required
        }
      }
    }
  },
  data () {
    return {
      locBranch: this.branch,
      provinces: [],
      cities: [],
      brgys: [],
      locBrgys: []
    }
  },
  methods: {
    filterBrgy (val, update, abort) {
      // call abort() at any time if you can't retrieve data somehow
      setTimeout(() => {
        update(() => {
          const needle = val.toLowerCase()
          this.locBrgys = this.brgys.filter(
            v => v.label.toLowerCase().indexOf(needle) > -1
          )
        })
      }, 500)
    },
    getBrgys () {
      this.$axios.get(`/brgys/72230`).then(res => {
        this.brgys = res.data.brgys
        this.locBrgys = res.data.brgys
      })
    },
    add () {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.$q.notify({
          color: 'negative',
          icon: 'warning',
          message: `Please check the fields.`
        })
      } else {
        this.$axios.post('branches', this.locBranch).then(res => {
          this.locBranch = {
            name: '',
            desc: ''
          }
          this.$v.$reset()
          this.$q.notify({
            color: 'positive',
            icon: 'far fa-check-circle',
            message: `${this.branch.name} created successfully.`
          })
        })
      }
    },
    update () {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.$q.notify({
          color: 'negative',
          icon: 'warning',
          message: `Please check the fields.`
        })
      } else {
        this.$axios
          .put(`branches/${this.$route.params.id}`, this.locBranch)
          .then(res => {
            this.$v.$reset()
            this.$q.notify({
              color: 'positive',
              icon: 'far fa-check-circle',
              message: `${this.branch.name} created successfully.`
            })
          })
      }
    },
    cancel () {
      this.$router.go(-1)
    }
  },
  mounted () {
    this.getBrgys()
  },
  watch: {
    locBranch: {
      handler (oldVal) {
        this.$emit('change', oldVal)
      },
      deep: true
    }
  }
}
</script>
