<template>
  <div>
    <div class="row">
      <div class="col-xs-12 col-sm-10">
        <q-breadcrumbs
          class="text-negative"
          active-color="black"
          style="padding: 10px; margin: 5px; "
        >
          <template v-slot:separator>
            <q-icon size="1.5em" name="chevron_right" color="black" />
          </template>
          <q-breadcrumbs-el icon="home" to="/">
            <strong style="font-size: 14px; letter-spacing: 1px;"
              >&nbsp;Home</strong
            >
          </q-breadcrumbs-el>
          <template v-for="(breadCrumb, k) in breadCrumbs">
            <q-breadcrumbs-el
              exact
              :to="`/catalog/${breadCrumbs[k - 1]}/${breadCrumb}`"
              :key="k"
              v-if="isNaN(parseInt(breadCrumb)) && breadCrumbs.length <= 4"
            >
              <strong style="font-size: 15px; letter-spacing: 1px;">{{
                breadCrumb.replace("-", " ") | capitalize
              }}</strong>
            </q-breadcrumbs-el>
            <q-breadcrumbs-el
              exact
              :to="
                `/catalog/${breadCrumbs[0]}/${breadCrumbs[1]}/${breadCrumbs[2]}/${breadCrumbs[3]}`
              "
              :key="k"
              v-if="isNaN(parseInt(breadCrumb)) && breadCrumbs.length === 6"
            >
              <strong style="font-size: 15px; letter-spacing: 1px;">{{
                breadCrumb.replace("-", " ") | capitalize
              }}</strong>
            </q-breadcrumbs-el>
          </template>
        </q-breadcrumbs>
      </div>
      <div class="col-xs-12 col-sm-2">
        <q-select
          outlined
          dense
          class="q-ma-sm"
          v-model="perPage"
          :options="['15', '20', '30', '40']"
          label="No. of products"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="products">
          <product
            :product="v"
            v-for="(v, k) in products.data"
            :key="k"
          ></product>
        </div>
      </div>
    </div>

    <q-page-scroller
      expand
      position="bottom-right"
      :scroll-offset="150"
      :offset="[10, 15]"
    >
      <q-btn icon="keyboard_arrow_up" round color="negative"></q-btn>
    </q-page-scroller>
  </div>
</template>

<style></style>

<script>
import { mapState, mapActions } from "vuex";
import product from "components/products/product";
export default {
  name: "allProducts",
  components: {
    product
  },
  data() {
    return {
      style: "margin: 3px; height: 360px;",
      stars: 0,
      shadowCard: ""
    };
  },
  methods: {
    ...mapActions("users", ["setPerPage"])
  },
  computed: {
    ...mapState("products", ["products"]),
    ...mapState("global", ["breadCrumbs"]),
    leftDrawer: {
      get() {
        return this.$store.getters["global/leftDrawer"];
      }
    },
    perPage: {
      get() {
        return this.$store.getters["users/perPage"];
      },
      set(val) {
        this.setPerPage(val);
      }
    }
  },
  watch: {
    leftDrawer(val) {
      if (val === false) {
        this.style = "margin: 3px; height: 400px;";
      } else {
        this.style = "margin: 3px; height: 360px;";
      }
      console.log(this.style);
    }
  }
};
</script>
<style scoped>
.products {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .products {
    justify-content: center;
  }
}
</style>
