<template>
  <div>
    <div class="row">
      <div
        class="col-lg-1 col-md-2 col-sm-4 col-xs-6"
        v-for="(product, k) in products.data"
        :key="k"
      >
        <div>
          <q-card
            class="my-card q-pa-sm"
            onmouseover="this.style.boxShadow='0 0 10px #888888'; this.style.cursor='pointer';"
            onmouseout="this.style.boxShadow=''; this.style.cursor='auto';"
            style="margin: 3px; height: 200px;"
            @click="productNav(product)"
          >
            <q-img
              :key="k"
              :src="product.default_image.path_url"
              align="center"
              contain
              style="max-width: 400px;"
            >
            </q-img>
            <div class="text-caption" align="center">
              {{ product.name | truncate(20) }}
            </div>
            <div class="text-subtitle2 text-negative " align="center">
              {{ product.discounted_price | currency("₱") }}
            </div>
          </q-card>
        </div>
      </div>
    </div>

    <q-page-scroller
      expand
      position="bottom-right"
      :scroll-offset="150"
      :offset="[10, 15]"
    >
      <q-btn icon="keyboard_arrow_up" round color="negative"></q-btn>
    </q-page-scroller>
  </div>
</template>

<style></style>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  data () {
    return {
      stars: 3,
      shadowCard: ''
    }
  },
  methods: {
    ...mapActions('users', ['setPerPage']),
    productNav (product) {
      this.$router.push({
        path: `/products_home/${product.category_slug_name}/${product.optimus_id}/${product.slug_name}`
      })
    }
  },
  computed: {
    ...mapState('products', ['products']),
    ...mapState('global', ['breadCrumbs']),
    perPage: {
      get () {
        return this.$store.getters['users/perPage']
      },
      set (val) {
        this.setPerPage(val)
      }
    }
  }
}
</script>
