<template>
  <router-link
    :to="
      `/products/${product.category_slug_name}/${product.optimus_id}/${product.slug_name}`
    "
    class="hover"
  >
    <div class="product" @mouseover="onHvr" @mouseleave="onlev">
      <div v-if="product.default_image !== null">
        <img :src="product.default_image.path_url" class="product-img" />
      </div>

      <p class="product-discounted-price">
        {{ product.discounted_price | currency("₱") }}
        <span :class="{ show: product.discount <= 0 }">
          <span class="pro-pri-desc">
            <span class="pro-pri-bef">
              {{ product.up_price | currency("₱") }}</span
            >
            &nbsp;
            <span class="pro-dis-per">-{{ product.discount }}%</span>
          </span>
        </span>
      </p>

      <div class="product-btm">
        <p
          class="product-name text-spacing"
          :class="{
            'product-add-margin':
              product.name.length <= 16 && product.discount <= 0
          }"
        >
          {{ product.name | truncate(30) }}
        </p>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  props: ["product"],
  methods: {
    onHvr(event) {
      event.currentTarget.className = "product  shadow-8";
    },
    onlev(event) {
      event.currentTarget.className = "product hover";
    }
  }
};
</script>
<style>
.text-spacing {
  letter-spacing: 0.5px;
}

.product-add-margin {
  padding-top: 20px !important;
}
.show {
  display: none;
}
.hover {
  text-decoration: none;
  color: #1d1d1d;
}
.product {
  margin: 5px;
  width: 200px;
  height: 290px;
  text-align: left;
  border: 1px solid #d3d3d3;
  overflow: hidden;
  border-radius: 10px;
}

.product-name {
  padding-top: 10px;
  padding-bottom: 15px;
  color: black;
  margin-top: 5px;
  font-size: 16px;
  text-align: center;
  height: 65px;
}
.product-discounted-price {
  color: #ff8938;
  margin-top: 5px;
  font-size: 20px;
  margin-bottom: 0px;
  text-align: center;
}

.pro-pri-desc {
  color: #9e9e9e;
  font-size: 14px;
  margin-top: 3px;
}
.pro-pri-bef {
  text-decoration: line-through;
}
.pro-dis-per {
  color: grey;
  font-size: 14px;
}
.product-img {
  width: 100%;
  height: 158px;
}

@media screen and (max-width: 1538px) {
  .product {
    width: 190px;
    height: 290px;
  }
}
@media screen and (max-width: 1280px) {
  .product {
    width: 180px;
    height: 280px;
  }
}
@media screen and (max-width: 480px) {
  .product {
    width: 200px;
    height: 290px;
  }
}

@media screen and (max-width: 431px) {
  .product {
    width: 185px;
    height: 275px;
  }
}

@media screen and (max-width: 401px) {
  .product {
    width: 175px;
  }
}
@media screen and (max-width: 381px) {
  .product {
    width: 165px;
  }
}
@media screen and (max-width: 361px) {
  .product {
    width: 210px;
  }
}
</style>
