<template>
  <div>
    <div style="display: none">
      <div id="myelement">
        <center>
          <p>
            <span style="font-size: 14px;">{{ title }}</span>
            <br />
            <span style="font-size: 10px;display:block ">{{ address1 }}</span>
            <span style="font-size: 10px;display:block ">{{ address2 }}</span>
            <span style="font-size: 10px;display:block ">{{ address3 }}</span>
            <span style="font-size: 10px;display:block ">{{ contact }}</span>
            <span style="font-size: 10px;display:block ">{{ email }}</span>
          </p>
        </center>
        <br />
        <table>
          <tr>
            <td>
              Username:
              <span style="color: gray;">{{ fullName }}</span>
            </td>
          </tr>
          <tr>
            <td>
              Delivery Address:
              <span style="color: gray;">{{
                payment.delivery_address.address.complete_address
              }}</span>
            </td>
          </tr>
          <tr>
            <td>
              Invoice No. :
              <span style="color: gray;">{{ payment.invoice.invoice_no }}</span>
            </td>
          </tr>
          <tr>
            <td>
              Mobile:
              <span style="color: gray;">{{ payment.mobile }}</span>
            </td>
          </tr>
          <tr>
            <td>
              Payment Option:
              <span style="color: gray;">{{
                payment.payment_option.name
              }}</span>
            </td>
          </tr>
        </table>

        <br />
        <table style="border-collapse: collapse" id="itemTable">
          <tr>
            <th style="text-align: left">Item Name</th>
            <th>Qty</th>
            <th>Amount</th>
            <th>Subtotal</th>
          </tr>
          <tr v-for="(v, i) in payment.invoice.invoice_items" :key="i">
            <q-td>{{ v.product.name }}</q-td>
            <q-td>{{ v.qty }}</q-td>
            <q-td>{{ v.product.discounted_price | currency("₱") }}</q-td>
            <q-td>{{ (v.price * v.qty) | currency("₱") }}</q-td>
          </tr>
          <q-tr>
            <q-td colspan="3">
              <div style="float:right">Delivery Charge:</div>
            </q-td>
            <q-td>{{
              payment.invoice.delivery_invoice.price | currency("₱")
            }}</q-td>
          </q-tr>
          <q-tr>
            <q-td colspan="3">
              <div style="float:right">
                <strong>Grand Total:</strong>
              </div>
            </q-td>
            <q-td>
              <div>{{ grandTotal | currency("₱") }}</div>
            </q-td>
          </q-tr>
        </table>
      </div>
      <!-- End Element -->
    </div>
  </div>
</template>
<script>
import { Printd } from "printd";
const cssText = `
  #itemTable tr, #itemTable tr td, #itemTable tr th {
    padding: 10px;
    width: 100%;
  }
`;
export default {
  props: ["grandTotal", "fullName", "payment"],
  data() {
    return {
      title: process.env.APP_TITLE,
      address1: process.env.APP_ADDRESS1,
      address2: process.env.APP_ADDRESS2,
      address3: process.env.APP_ADDRESS3,
      contact: process.env.APP_CONTACT,
      email: process.env.APP_EMAIL
    };
  },
  methods: {
    print() {
      const d = new Printd();
      d.print(document.getElementById("myelement"), [cssText]);
    }
  }
};
</script>
