<template>
  <div class="q-ma-sm">
    <div class="row">
      <div class="col-xs-12">
        <q-btn
          label="My Payments"
          color="negative"
          to="/dashboard/my-payments"
          class="float-right"
        />
      </div>
      <div class="col-xs-12">
        <q-list separator class="q-mt-sm">
          <q-item v-ripple v-for="(v, i) in invoiceItemss" :key="i">
            <q-item-section avatar>
              <q-avatar rounded>
                <img :src="v.product.default_image.path_url" />
              </q-avatar>
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ v.product.name }}</q-item-label>
              <q-item-label caption>Item Name</q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ v.qty }}</q-item-label>
              <q-item-label caption>Qty</q-item-label>
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ v.price | currency("₱") }}</q-item-label>
              <q-item-label caption>Price</q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-item-label>{{ (v.price * v.qty) | currency("₱") }}</q-item-label>
              <q-item-label caption>Total</q-item-label>
            </q-item-section>
          </q-item>
          <q-item v-ripple>
            <q-item-section side>&nbsp;</q-item-section>
            <q-item-section>&nbsp;</q-item-section>
            <q-item-section>&nbsp;</q-item-section>
            <q-item-section side>
              <q-item-label>{{ delivery.price | currency("₱") }}</q-item-label>
              <q-item-label caption>Delivery Charge</q-item-label>
            </q-item-section>
          </q-item>
          <q-item v-ripple>
            <q-item-section>&nbsp;</q-item-section>
            <q-item-section>&nbsp;</q-item-section>
            <q-item-section>&nbsp;</q-item-section>
            <q-item-section side>
              <q-item-label>{{ grandTotal | currency("₱") }}</q-item-label>
              <q-item-label caption>GRANDTOTAL</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
import { Loading } from "quasar";
export default {
  data() {
    return {
      grandTotal: 0,
      delivery: {
        price: 0
      },
      invoiceItemss: [],
      deliveryInvoice: {
        price: 0
      }
    };
  },
  computed: {
    ...mapState("checkout", [
      "mobile",
      "paymentOptionn",
      "markersPosition",
      "address"
    ]),
    ...mapState("global", ["cart"]),
    ...mapState("payments", ["cartt"])
  },
  methods: {
    ...mapActions("global", ["setCart", "setDefaultCart"]),
    ...mapActions("checkout", ["setMobile", "setPaymentOptionn"]),
    paypalSuccess() {
      Loading.show();
      var urlString = window.location.href;
      var url = new URL(urlString);
      var invoice = url.searchParams.get("invoice");
      var token = url.searchParams.get("token");
      var payerId = url.searchParams.get("PayerID");

      this.$axios
        .post(`paypal_payments`, {
          invoice_id: invoice,
          token_id: token,
          payer_id: payerId,
          mobile: this.mobile,
          lat: this.markersPosition.lat,
          lng: this.markersPosition.lng
        })
        .then(res => {
          this.$q.notify({
            color: "positive",
            icon: "far fa-check-circle",
            message: `Paypal Payment successfully paid.`
          });
          this.invoiceItemss = res.data.payment.invoice.invoice_items;
          this.delivery = res.data.payment.invoice.delivery_invoice;
          this.grandTotal = res.data.grandTotal;
          Loading.hide();
          this.setDefaultCart([]);
          this.setMobile("");
          this.setPaymentOption({
            label: "",
            value: null
          });
        })
        .catch(res => {
          Loading.hide();
          this.invoiceItems = [];
        });
    }
  },
  mounted() {
    this.paypalSuccess();
  }
};
</script>
