<template>
  <div class="row">
    <div class="col-sm-12 gt-sm">
      <generic-table
        :data="serverData"
        :columns="columns"
        :pagination="serverPagination"
        @serverside-request="request"
        @search-change="filter = $event"
        :search-field="filter"
        @selected="selected"
        ref="storeTable"
        :title="'Store Payment Requests'"
        :loading="loading"
        :search-placeholder="'Search store...'"
        entity="Store Payment Request"
        @add="add"
        @view="view"
      ></generic-table>
    </div>
    <div class="col-sm-12 lt-md">
      <grid
        :data="serverData"
        :columns="columns"
        :pagination="serverPagination"
        @serverside-request="request"
        @search-change="filter = $event"
        :search-field="filter"
        @selected="selected"
        ref="storeTable"
        :title="'Store Payment Requests'"
        :loading="loading"
        :search-placeholder="'Search store...'"
        :grid="true"
        entity="Store Payment Request"
        @add="add"
        @view="view"
      ></grid>
    </div>
  </div>
</template>

<script>
import catchError from "components/api-errors/catch";
import genericTable from "components/data-table/spr/store-payment-request";
import grid from "components/data-table/spr/grid";
import { values } from "lodash";
import { debounce } from "quasar";
import { mapState, mapActions } from "vuex";
export default {
  mixins: [catchError],
  components: {
    genericTable,
    grid
  },
  data() {
    return {
      spr_dr: [],
      medium: false,
      selectedValue: "",
      debouncedFunction: "",
      loading: false,
      filter: "",
      options: [5, 10, 15, 20],
      serverPagination: {
        page: 1,
        rowsNumber: 10,
        rowsPerPage: 10 // specifying this determines pagination is server-side
      },
      serverData: [],
      columns: [
        {
          name: "grand_total",
          label: "Grand Total",
          field: row => this.$options.filters.currency(row.grand_total, "₱ "),
          align: "left"
        },
        {
          name: "is_paid",
          label: "Paid",
          align: "left",
          field: "is_paid"
        },
        {
          name: "remarks",
          label: "remarks",
          align: "left",
          field: row => this.$options.filters.truncate(row.remarks, 10)
        },
        {
          name: "created_at",
          label: "Created At",
          align: "left",
          field: "created_at"
        },
        {
          name: "Action",
          label: "Actions",
          align: "left"
        }
      ]
    };
  },
  methods: {
    ...mapActions("SPR", [
      "setSelectedStore",
      "setSelectedDeliveryReceived",
      "setProducts",
      "setGrandTotal",
      "setRemarks",
      "setAddress",
      "setPaymentImages"
    ]),
    restore() {},
    view(optimusId) {
      this.$axios.get(`/spr/${optimusId}?id=${optimusId}`).then(res => {
        var products = [];
        var dr = res.data.spr.deliveryReceived;
        for (let i = 0; i < dr.length; i++) {
          for (let a = 0; a < dr[i].delivery_received.dr_products.length; a++) {
            var product = dr[i].delivery_received.dr_products[a].product;
            products.push({
              img: product.default_image.path_url,
              name: product.name,
              amount: product.discounted_price,
              qty: dr[i].delivery_received.dr_products[a].qty,
              store: dr[i].delivery_received.store.name,
              deliveryNo: dr[i].delivery_received.delivery_no,
              invoice: dr[i].delivery_received.store_invoice.invoice.invoice_no
            });
          }
        }
        this.setGrandTotal(res.data.spr.grand_total);
        this.setRemarks(res.data.spr.remarks);
        this.setAddress(res.data.userAddress);
        this.setProducts(products);
        this.setPaymentImages(res.data.paymentImages);
        this.$router.push({
          path: `/dashboard/store-payment-requests/${optimusId}`
        });
      });
    },
    add() {
      this.setSelectedStore(null);
      this.setSelectedDeliveryReceived(null);
      this.setGrandTotal(0);
      this.setProducts([]);
      this.$router.push({
        path: `/dashboard/store-payment-requests/create`
      });
    },
    show(optimusId) {
      this.$axios
        .get(`/spr_delivery_received/${optimusId}?id=${optimusId}`)
        .then(res => {
          this.medium = true;
        });
    },
    selected(val) {
      this.selectedValue = val;
    },
    request(props) {
      this.debouncedFunction(props);
    }
  },
  mounted() {
    this.debouncedFunction = debounce(props => {
      this.loading = true;
      this.$axios
        .get(
          `/spr?page=${props.pagination.page}&perPage=${props.pagination.rowsPerPage}&filter=${this.filter}`
        )
        .then(res => {
          this.serverPagination = props.pagination;
          this.serverData = values(res.data.spr.data);
          this.serverPagination.rowsNumber = res.data.spr.total;
          this.lastPage = res.data.spr.last_page;
          this.loading = false;
        })
        .catch(err => {
          this.$router.go(-1);
          this.catch(err);
        });
    }, 500);

    this.request({
      pagination: this.serverPagination,
      filter: this.filter
    });
  }
};
</script>
