<template>
  <div>
    Dashboard
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  methods: {
    ...mapActions("global", ["setLeftDrawer"])
  },
  mounted() {
    this.setLeftDrawer(true);
  }
};
</script>
