<template>
  <div
    :class="{
      'q-mr-sm': $q.platform.is.mobile,
      'q-mt-md': $q.platform.is.desktop
    }"
  >
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <p class="text-h5 q-ma-sm">
          <q-icon name="edit" color="grey" />
          {{ locUser.firstname }} {{ locUser.middlename }}
          {{ locUser.lastname }}
        </p>
        <div class="row">
          <div class="col-xs-12 col-sm-4 ">
            <q-input
              outlined
              v-model="$v.locUser.username.$model"
              bottom-slots
              error-message="Username is required."
              :error="$v.locUser.username.$error"
              label="Username"
              dense
              class="q-ml-sm"
            />
          </div>
          <div class="col-xs-12 col-sm-4 ">
            <q-input
              outlined
              v-model="$v.locUser.email.$model"
              bottom-slots
              error-message="Email must be valid and required."
              label="Email"
              class="q-ml-sm"
              :error="$v.locUser.email.$error"
              dense
            />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <q-input
              outlined
              v-model="$v.locUser.mobile.$model"
              bottom-slots
              error-message="Mobile must be 11 digits and required."
              label="Mobile"
              class="q-ml-sm"
              :error="$v.locUser.mobile.$error"
              dense
            />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <q-input
              outlined
              v-model="$v.locUser.firstname.$model"
              bottom-slots
              error-message="Firstname is required."
              label="Firstname"
              class="q-ml-sm"
              :error="$v.locUser.firstname.$error"
              dense
            />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <q-input
              outlined
              v-model="$v.locUser.middlename.$model"
              bottom-slots
              error-message="Middlename is required."
              label="Middlename"
              class="q-ml-sm"
              :error="$v.locUser.middlename.$error"
              dense
            />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <q-input
              outlined
              v-model="$v.locUser.lastname.$model"
              bottom-slots
              error-message="Lastname is required."
              label="Lastname"
              class="q-ml-sm"
              :error="$v.locUser.lastname.$error"
              dense
            />
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div
          :class="{
            'q-ma-md': $q.platform.is.desktop,
            'q-mb-md q-ml-sm': $q.platform.is.mobile
          }"
        >
          <q-uploader
            accept="image/jpeg, image/png"
            label="Upload Profile Images"
            multiple
            @added="added"
            hide-upload-btn
            ref="uploader"
            @removed="removed"
            class="full-width"
          >
            <template v-slot:list="scope">
              <q-list separator>
                <q-item v-for="file in scope.files" :key="file.name">
                  <q-item-section>
                    <q-item-label class="full-width ellipsis">
                      {{ file.name }}
                    </q-item-label>

                    <q-item-label caption
                      >Status: {{ file.__status }}</q-item-label
                    >

                    <q-item-label caption>
                      {{ file.__sizeLabel }}
                      <!-- / {{ file.__progressLabel }} -->
                    </q-item-label>
                  </q-item-section>

                  <q-item-section v-if="file.__img" thumbnail>
                    <img :src="file.__img.src" />
                  </q-item-section>

                  <q-item-section top side>
                    <q-radio
                      v-model="is_primary"
                      :val="file.name"
                      style="margin-top: 5px;"
                    />
                  </q-item-section>
                  <q-item-section top side>
                    <q-btn
                      class="q-mt-sm"
                      color="negative"
                      flat
                      dense
                      round
                      icon="far fa-trash-alt"
                      @click="scope.removeFile(file)"
                    />
                  </q-item-section>
                </q-item>
              </q-list>
            </template>
          </q-uploader>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <q-select
              outlined
              v-model="$v.locUser.address.province_id.$model"
              :options="provinces"
              label="Province"
              class="q-ml-sm"
              :error="$v.locUser.address.province_id.$error"
              bottom-slots
              error-message="Province is required."
              dense
            />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <q-select
              outlined
              v-model="$v.locUser.address.city_id.$model"
              :options="cities"
              label="City"
              class="q-ml-sm"
              :error="$v.locUser.address.city_id.$error"
              bottom-slots
              error-message="City is required."
              dense
            />
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <q-select
              outlined
              v-model="$v.locUser.address.brgy_id.$model"
              :options="brgys"
              label="Brgys"
              class="q-ml-sm"
              :error="$v.locUser.address.brgy_id.$error"
              bottom-slots
              error-message="Barangay is required."
              dense
            />
          </div>
          <div class="col-xs-12">
            <q-input
              type="textarea"
              outlined
              v-model="$v.locUser.address.street_lot_blk.$model"
              label="Blk, Lot and Street No."
              class="q-ml-sm"
              :error="$v.locUser.address.street_lot_blk.$error"
              bottom-slots
              error-message="Street, lot and block is required."
              dense
            />
          </div>
        </div>
      </div>

      <div class="col-xs-12">
        <q-btn
          @click="cancel"
          color="negative"
          label="Cancel"
          class="q-ml-sm"
          no-caps
        />
        <q-btn
          @click="update"
          color="positive"
          label="Update"
          class="q-ma-sm"
          no-caps
        />
        <q-btn
          :to="`/dashboard/user/${$route.params.id}/change-password`"
          label="Change Password"
          color="primary"
          class="q-ml-sm"
          no-caps
        />
      </div>
    </div>
  </div>
</template>

<script>
import genericPlaces from "components/mixins/generic-places";
// import _ from 'lodash'
import { integer, email, required, minLength } from "vuelidate/lib/validators";
import { mapState, mapActions } from "vuex";

export default {
  mixins: [genericPlaces],
  data() {
    return {
      is_primary: "",
      selectedFile: [],
      is_primary: null,
      locUser: {
        firstname: null,
        lastname: null,
        middlename: null
      },
      dialogChangePassword: false,
      loading: false,
      password: "",
      confirmPassword: ""
    };
  },
  validations: {
    locUser: {
      username: {
        required
      },
      email: {
        required,
        email
      },
      firstname: {
        required
      },
      middlename: {
        required
      },
      lastname: {
        required
      },
      mobile: {
        required,
        integer,
        minLength: minLength(11)
      },
      address: {
        province_id: {
          required
        },
        city_id: {
          required
        },
        brgy_id: {
          required
        },
        street_lot_blk: {
          required
        }
      },
      roles: {
        required
      }
    }
  },
  methods: {
    ...mapActions("users", ["setRoles", "setEditCities"]),
    ...mapActions("provinces", ["setProvinces"]),
    ...mapActions("cities", ["setCities"]),
    ...mapActions("brgys", ["setBrgys"]),
    added(files) {
      for (var i = 0; i <= files.length; i++) {
        this.selectedFile.push(files[i]);
      }
    },
    removed(files) {
      let x = this.selectedFile.filter(function(v) {
        if (v !== undefined) {
          return v.name !== files[0].name;
        }
      });
      this.selectedFile = x;
    },
    getRoles() {
      this.$axios.get("/roles").then(res => {
        this.setRoles(res.data.roles);
      });
    },
    cancel() {
      this.$router.go(-1);
    },
    data() {
      const fd = new FormData();
      for (var i = 0; i <= this.selectedFile.length; i++) {
        if (this.selectedFile[i] !== undefined) {
          if (this.selectedFile[i].__img.complete) {
            fd.append("files[]", this.selectedFile[i]);
          } else {
            fd.append("ids[]", this.selectedFile[i].id);
          }
        }
      }

      let u = this.locUser;
      let roles = u.roles.map(function(v) {
        return v.value;
      });
      fd.append("is_primary", this.is_primary);
      fd.append("firstname", u.firstname);
      fd.append("middlename", u.middlename);
      fd.append("lastname", u.lastname);
      fd.append("email", u.email);

      fd.append("mobile", u.mobile);
      fd.append("notes", u.notes);
      fd.append("roles", roles);
      fd.append(
        "address",
        JSON.stringify({
          province_id: u.address.province_id.value,
          city_id: u.address.city_id.value,
          brgy_id: u.address.brgy_id.value,
          street_lot_blk: u.address.street_lot_blk
        })
      );

      return fd;
    },
    edit() {
      this.$q.loadingBar.start();
      this.$axios.get(`/profile`).then(res => {
        this.$q.loadingBar.stop();
        let user = res.data.user;
        let roles = [];
        for (var i = 0; i < user.roles.length; i++) {
          roles.push({
            label: user.roles[i].name,
            value: user.roles[i].id
          });
        }
        let address = {
          province_id: null,
          city_id: null,
          brgy_id: null,
          street_lot_blk: ""
        };
        if (user.address !== null) {
          var a = user.address;
          address = {
            province_id: {
              label: a.province.description,
              value: a.province.id
            },
            city_id: {
              label: a.city.description,
              value: a.city.id
            },
            brgy_id: {
              label: a.brgy.description,
              value: a.brgy.id
            },
            street_lot_blk: a.street_lot_blk
          };
        }

        this.locUser = {
          fullname: user.fullname,
          username: user.name,
          email: user.email,
          mobile: user.mobile,
          firstname: user.firstname,
          middlename: user.middlename,
          lastname: user.lastname,
          notes: user.notes,
          address: address,
          roles: roles
        };
        if (user.images != null) {
          for (var i = 0; i < user.images.length; i++) {
            let fileName = user.images[i].name;
            let url = user.images[i].path_url;

            if (user.images[i].is_primary === 1) {
              this.is_primary = fileName;
            }
            let file = {
              id: user.images[i].id,
              size: 123,
              type: fileName.split(".").pop(),
              name: fileName,
              __img: {
                src: url
              }
            };
            this.$refs.uploader.files.push(file);
            this.selectedFile.push(file);
          }
        }
      });

      // .catch(err => {
      //   this.catch(err)
      // })
    },
    update() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          message: `Please check the fields.`
        });
      } else {
        this.$axios
          .post(
            `/user_profile/${this.user.optimus_id}?id=${this.user.optimus_id}`,
            this.data()
          )
          .then(res => {
            this.$q.notify({
              color: "positive",
              icon: "far fa-check-circle",
              message: `User updated successfully.`
            });
          });
      }
    }
  },
  computed: {
    ...mapState("users", ["editUser", "user"]),
    ...mapState("provinces", ["provinces"]),
    ...mapState("cities", ["cities"]),
    ...mapState("brgys", ["brgys"]),
    roles() {
      return this.$store.getters["users/roles"].map(e => {
        return {
          label: e.name,
          value: e.id
        };
      });
    },
    provinces() {
      return this.$store.getters["provinces/provinces"].map(e => {
        return {
          label: e.description,
          value: e.id
        };
      });
    },
    cities() {
      return this.$store.getters["cities/cities"].map(e => {
        return {
          label: e.description,
          value: e.id
        };
      });
    },
    brgys() {
      return this.$store.getters["brgys/brgys"].map(e => {
        return {
          label: e.description,
          value: e.id
        };
      });
    }
  },
  mounted() {
    this.getRoles();
    this.getProvinces();
    this.edit();
  },
  watch: {
    "locUser.address.province_id"(val) {
      if (this.locUser.address.province_id !== null) {
        this.getCities(val.value);
      }
    },
    "locUser.address.city_id"(val) {
      if (this.locUser.address.city_id !== null) {
        this.getBrgys(val.value);
      }
    }
  }
};
</script>
