<template>
  <div>
    <q-table
      :data="data"
      :columns="columns"
      selection="single"
      :selected.sync="selected"
      row-key="optimus_id"
      :pagination.sync="paginationControl"
      :filter="filterOpts"
      @request="$emit('serverside-request', $event)"
      :title="title"
      :loading="loading"
    >
      <template v-slot:top-right>
        <q-select
          outlined
          dense
          style="width: 200px"
          label="Payment Options"
          v-model="paymentOption"
          :options="paymentOptions"
          placeholder="Payment Option"
          use-chips
        ></q-select>
        <q-input
          borderless
          dense
          debounce="300"
          v-model="filterOpts"
          :placeholder="searchPlaceholder"
          outlined
          class="q-ma-sm"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <!-- <q-tr :props="props" :class="'cursor-pointer'" @click.native="props.selected = !props.selected"> -->
          <q-td auto-width>
            <!-- <q-checkbox dense v-model="props.selected" v-if="restoreData"/> -->
          </q-td>

          <q-td :key="col.name" :props="props" v-for="col in props.cols">
            <span v-if="col.name === 'Action'">
              <q-btn @click="$emit('edit', props.row.optimus_id)" color="primary" flat>
                <q-icon name="far fa-file" />
                <q-tooltip
                  transition-show="flip-right"
                  transition-hide="flip-left"
                  content-class="bg-primary"
                  content-style="font-size: 16px"
                  anchor="top left"
                  :offset="[30, 30]"
                >View {{ entity }}</q-tooltip>
              </q-btn>
              <q-btn @click="$emit('unvoid', props.row.optimus_id)" color="primary" flat>
                <q-tooltip
                  transition-show="flip-right"
                  transition-hide="flip-left"
                  content-class="bg-primary"
                  content-style="font-size: 16px"
                  anchor="top left"
                  :offset="[30, 30]"
                >Unvoid {{ entity }}</q-tooltip>
                <q-icon name="far fa-check-circle" />
              </q-btn>
              <q-btn @click="$emit('del', props.row.optimus_id)" color="negative" flat>
                <q-tooltip
                  transition-show="flip-right"
                  transition-hide="flip-left"
                  content-class="bg-negative"
                  content-style="font-size: 16px"
                  anchor="top left"
                  :offset="[30, 30]"
                >Void {{ entity }}</q-tooltip>
                <q-icon name="far fa-window-close" />
              </q-btn>
            </span>
            <span v-else-if="col.name === 'is_completed'">
              <span v-if="col.value === true">
                <q-icon name="fas fa-check-circle" size="xs" color="grey-7" />
              </span>
            </span>
            <span v-else-if="col.name === 'is_void'">
              <span v-if="col.value === true">
                <q-icon name="fas fa-check-circle" size="xs" color="grey-7" />
              </span>
            </span>
            <span v-else>{{ col.value }}</span>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  props: {
    viewPayment: {
      type: [Boolean],
      default: false
    },
    payments: {
      type: [Boolean],
      default: false
    },
    products: {
      type: [Boolean],
      default: false
    },
    restoreData: {
      type: [Boolean],
      default: false
    },
    entity: {
      type: [String],
      default: null
    },
    // the table data
    searchPlaceholder: {
      type: [String],
      default: null
    },
    data: {
      type: [Array, Object],
      default: null
    },
    // column definition
    columns: {
      type: [Array, Object],
      default: null
    },
    search: {
      Boolean,
      default: true
    },
    grid: {
      Boolean,
      default: false
    },
    // current pagination settings of the table
    pagination: {
      type: Object,
      default: () => {
        return {
          rowsPerPage: 7,
          page: 1
        };
      }
    },
    rowOptions: {
      type: Array,
      default: () => [3, 5, 7, 10, 15, 25, 50, 0]
    },

    // the filter model of your table
    searchField: {
      type: String,
      default: () => ""
    },

    title: {
      type: String,
      default: () => ""
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      selected: [],
      paymentOption: null
    };
  },
  computed: {
    ...mapState("payments", ["paymentOptions"]),
    paginationControl: {
      set() {},
      get() {
        return this.pagination;
      }
    },
    filterOpts: {
      set(val) {
        this.$emit("search-change", val);
      },
      get() {
        return this.searchField;
      }
    }
  },
  watch: {
    selected(val) {
      this.$emit("selected", val);
    },
    paymentOption(val) {
      this.$emit("payment-option", val);
    }
  }
};
</script>
