<template>
  <generic :delivery-price="deliveryPrice" icon="add_circle" ref="dp">
    <div class="col-12">
      <q-btn @click="cancel" color="negative" label="Back" class="q-ma-sm" />
      <q-btn @click="add" color="primary" label="Submit" class="q-ma-sm" />
    </div>
  </generic>
</template>
<script>
import generic from "pages/dashboard/delivery-price/form/generic";
import { mapState } from "vuex";
export default {
  components: {
    generic
  },
  computed: {
    ...mapState("deliveryPrice", ["deliveryPrice"])
  },
  methods: {
    add() {
      this.$refs.dp.add();
    },
    cancel() {
      this.$refs.dp.cancel();
    }
  }
};
</script>
