<template>
  <div class="row">
    <div class="col-sm-12 gt-sm">
      <generic-table
        :data="serverData"
        :columns="columns"
        :pagination="serverPagination"
        @serverside-request="request"
        @search-change="filter = $event"
        :search-field="filter"
        @selected="selected"
        ref="table"
        :title="'All Delivery Prices'"
        :loading="loading"
        :search-placeholder="'Search Name...'"
        entity="Delivery Price"
        @add="add"
        @edit="edit"
        @restore="restore"
        @del="del"
      ></generic-table>
    </div>
    <div class="col-sm-12 lt-md">
      <grid
        :data="serverData"
        :columns="columns"
        :pagination="serverPagination"
        @serverside-request="request"
        @search-change="filter = $event"
        :search-field="filter"
        @selected="selected"
        ref="storeTable"
        :title="'All Delivery Prices'"
        :loading="loading"
        :search-placeholder="'Search Name...'"
        entity="Delivery Price"
        :grid="true"
        @add="add"
        @edit="edit"
        @restore="restore"
        @del="del"
      ></grid>
    </div>
  </div>
</template>

<script>
import catchError from "components/api-errors/catch";
import genericTable from "components/data-table/new-generic";
import grid from "components/data-table/grid";
import { values } from "lodash";
import { debounce } from "quasar";
import { mapState, mapActions } from "vuex";
export default {
  mixins: [catchError],
  components: {
    genericTable,
    grid
  },
  data() {
    return {
      selectedValue: "",
      debouncedFunction: "",
      loading: false,
      filter: "",
      options: [5, 10, 15, 20],
      serverPagination: {
        page: 1,
        rowsNumber: 10,
        rowsPerPage: 10 // specifying this determines pagination is server-side
      },
      serverData: [],
      columns: [
        {
          name: "name",
          label: "Name",
          field: "name",
          align: "left"
        },
        {
          name: "amount",
          label: "Amount",
          align: "left",
          field: row => this.$options.filters.currency(row.amount, "₱ ")
        },
        {
          name: "is_default",
          label: "Default",
          align: "left",
          field: "is_default"
        },
        {
          name: "Action",
          label: "ACTIONS",
          align: "left"
        }
      ]
    };
  },
  computed: {
    ...mapState("deliveryPrice", ["deliveryPrice"])
  },
  methods: {
    ...mapActions("deliveryPrice", ["setDeliveryPrice"]),
    restore() {},
    add() {
      this.setDeliveryPrice({
        name: "",
        amount: 0,
        is_default: true
      });
      this.$router.push({
        path: `/dashboard/delivery-price/create`
      });
    },
    edit(optimusId) {
      this.$axios
        .get(`/delivery_price/${optimusId}/edit?id=${optimusId}`)
        .then(res => {
          this.setDeliveryPrice(res.data.deliveryPrice);
          this.$router.push({
            path: `/dashboard/delivery-price/${optimusId}`
          });
        });
    },
    del(optimusId) {
      this.$axios
        .get(`/delivery_price/${optimusId}/edit?id=${optimusId}`)
        .then(res => {
          this.setDeliveryPrice(res.data.deliveryPrice);
          this.$q.notify({
            color: "negative",
            icon: "warning",
            message: `Delete ${this.deliveryPrice.name}?`,
            actions: [
              {
                label: "OK",
                color: "white",
                handler: () => {
                  this.$axios
                    .delete(
                      `/delivery_price/${this.deliveryPrice.optimus_id}?id=${this.deliveryPrice.optimus_id}`
                    )
                    .then(res => {
                      this.$q.notify({
                        color: "positive",
                        icon: "check",
                        message: `${this.deliveryPrice.name} deleted successfully`
                      });
                      this.request({
                        pagination: this.serverPagination,
                        filter: this.filter
                      });
                    })
                    .catch(err => {
                      console.log(`${err.response.data.message}`);
                      this.$q.notify({
                        color: "negative",
                        icon: "warning",
                        message: "Failed... Integrity Constraint" // `${err.response.data.message}`
                      });
                    });
                }
              }
            ]
          });
        });
    },
    selected(val) {
      this.selectedValue = val;
    },
    request(props) {
      this.debouncedFunction(props);
    }
  },
  mounted() {
    this.debouncedFunction = debounce(props => {
      this.loading = true;
      this.$axios
        .get(
          `/delivery_price?page=${props.pagination.page}&perPage=${props.pagination.rowsPerPage}&filter=${this.filter}`
        )
        .then(res => {
          this.serverPagination = props.pagination;
          this.serverData = values(res.data.deliveryPrices.data);
          this.serverPagination.rowsNumber = res.data.deliveryPrices.total;
          this.lastPage = res.data.deliveryPrices.last_page;
          this.loading = false;
        })
        .catch(err => {
          this.$router.go(-1);
          this.catch(err);
        });
    }, 500);

    this.request({
      pagination: this.serverPagination,
      filter: this.filter
    });
  }
};
</script>
