<template>
  <div class="categories">
    <template v-for="(v, i) in categories">
      <category :category="v" :key="i"></category>
    </template>
  </div>
</template>
<script>
import category from "./category";
export default {
  props: ["categories"],
  components: {
    category
  }
};
</script>
<style>
.categories {
  display: flex;
  justify-content: left;
  overflow: hidden;
  width: 100%;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .categories {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .categories {
    border: none;
  }
}
</style>
