<template>
  <router-link :to="`/catalog/${category.url}`" class="hover">
    <div class="category" @mouseover="onHvr" @mouseleave="onlev">
      <div v-if="category.default_image !== null">
        <img :src="category.default_image.path_url" class="category-img" />
      </div>
      <div class="category-name">
        {{ category.name }}
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  props: ["category"],
  methods: {
    onHvr(event) {
      event.currentTarget.className = "category  shadow-8";
    },
    onlev(event) {
      event.currentTarget.className = "category hover";
    }
  }
};
</script>
<style>
.hover {
  text-decoration: none;
  color: #1d1d1d;
}
.category {
  margin: 5px;
  width: 200px;
  height: 230px;
  text-align: left;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
}
.category-name {
  letter-spacing: 0.5px;
  padding: 10px;
  color: black;
  margin-top: 5px;
  font-size: 16px;
  height: 50px;
  /* background-color: #40a551; */
  text-align: center;
}

.category-img {
  width: 100%;
  height: 158px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media screen and (max-width: 480px) {
  .category-img {
    height: 148px;
  }

  .category {
    width: 150px;
    text-align: left;
    border: 1px solid #d3d3d3;
  }
}

@media screen and (max-width: 400px) {
  .category {
    width: 170px;
    text-align: left;
    border: 1px solid #d3d3d3;
  }
  .category-img {
    height: 168px;
  }
}

@media screen and (max-width: 375px) {
  .category {
    width: 160px;
    text-align: left;
    border: 1px solid #d3d3d3;
  }

  .category-img {
    width: 158px;
    height: 158px;
  }
}

@media screen and (max-width: 352px) {
  .category {
    width: 150px;
    text-align: left;
    border: 1px solid #d3d3d3;
  }

  .category-img {
    width: 148px;
    height: 148px;
  }
}

@media screen and (max-width: 330px) {
  .category {
    width: 143px;
    text-align: left;
    border: 1px solid #d3d3d3;
  }

  .category-img {
    width: 141px;
    height: 141px;
  }
}
</style>
