<template>
  <div class="q-ma-sm">
    <p class="title">MY CART</p>
    <span v-if="cart.length > 0">
      <div class="row gt-xs">
        <div class="col-sm-12">
          <q-table
            :data="cart"
            :columns="columns"
            row-key="id"
            class="no-shadow"
            :pagination.sync="pagination"
            hide-bottom
          >
            <template slot="body" slot-scope="props">
              <q-tr :props="props">
                <q-td key="image">
                  <q-avatar rounded style="width: 100px; height: 100px;">
                    <img :src="props.row.product.default_image.path_url" />
                  </q-avatar>
                </q-td>
                <q-td key="name">
                  <p
                    style="width: 200px; white-space: normal; margin-top: 10px;"
                  >
                    {{ props.row.product.name }}
                  </p>
                </q-td>
                <q-td key="price">
                  {{ props.row.product.discounted_price | currency("₱") }}
                </q-td>
                <q-td key="qty" align="center" style="width: 150px;">
                  <qty :row="props.row" @subQty="subQty" @addQty="addQty"></qty>
                </q-td>
                <q-td key="total" align="right">
                  {{
                    (props.row.qty * props.row.product.discounted_price)
                      | currency("₱")
                  }}
                </q-td>
                <q-td key="action" align="right">
                  <q-btn
                    flat
                    round
                    color="negative"
                    icon="far fa-trash-alt"
                    @click="deleteRow(props.row.__index)"
                  />
                </q-td>
              </q-tr>
            </template>
            <template v-slot:bottom-row>
              <q-tr>
                <q-td colspan="4">
                  <div class="float-right">Delivery Charge:</div>
                </q-td>
                <q-td align="right">{{ deliveryPrice | currency("₱") }}</q-td>
                <q-td></q-td>
              </q-tr>
              <q-tr>
                <q-td colspan="4">
                  <div class="text-subtitle2 float-right">
                    <q-btn
                      color="primary"
                      label="Proceed to checkout"
                      class="q-mr-xl"
                      to="/checkout"
                    />GrandTotal:
                  </div>
                </q-td>
                <q-td align="right">
                  <div class="text-subtitle2">
                    {{ totalCart | currency("₱") }}
                  </div>
                </q-td>
                <q-td></q-td>
              </q-tr>
            </template>
          </q-table>
        </div>
      </div>

      <div class="lt-sm">
        <div v-for="(c, i) in cart" :key="i" class="product">
          <center :key="i">
            <q-avatar rounded :key="i" style="width: 100px; height: 100px;">
              <img :src="c.product.default_image.path_url" />
            </q-avatar>
          </center>
          <br />
          <q-list dense>
            <q-item>
              <q-item-section>PRODUCT:</q-item-section>
              <q-item-section side>{{ c.product.name }}</q-item-section>
            </q-item>
            <q-item>
              <q-item-section>PRICE:</q-item-section>
              <q-item-section side>{{
                c.product.discounted_price | currency("₱")
              }}</q-item-section>
            </q-item>
            <q-item>
              <q-item-section>QTY:</q-item-section>
              <q-item-section side>{{ c.qty }}</q-item-section>
            </q-item>
            <q-item>
              <q-item-section>TOTAL:</q-item-section>
              <q-item-section side>{{
                (c.qty * c.product.discounted_price) | currency("₱")
              }}</q-item-section>
            </q-item>
          </q-list>
          <!-- <q-btn
            flat
            icon="fas fa-times-circle"
            color="negative"
            @click="deleteRow(i)"
            style="position:absolute; top: -5px; left: 235px;"
            size="medium"
          ></q-btn>
          <div style="clear:both"></div>
          <img :src="c.product.default_image.path_url" class="cart-image" />
          <div style="padding-left: 15px;">
            <span style="display: flex; margin-top: 15px; ">
              <strong>Name: &nbsp;</strong>
              <span>{{ c.product.name }}</span>
            </span>
            <span class="product-desc">
              <strong>Price: &nbsp;</strong>
              <span>
                {{ c.product.discounted_price | currency("₱") }}
              </span>
            </span>
            <span class="product-desc" style="margin-top: 10px;">
              <strong>Qty: &nbsp;</strong>
              <qty :row="c" @subQty="subQty" @addQty="addQty"></qty>
            </span>
            <span class="product-desc">
              <strong>Total: &nbsp;</strong>
              <span>
                {{ (c.qty * c.product.discounted_price) | currency("₱") }}
              </span>
            </span>
            <br />
          </div> -->
        </div>
        <div class="total"></div>
        <div class="q-mt-lg grand-total">
          <strong>DELIVERY CHARGE:</strong>
          {{ deliveryPrice | currency("₱ ") }}
          <br />
          <strong style="display: inline-block; margin-top: 5px;"
            >GRANDTOTAL:</strong
          >
          {{ totalCart | currency("₱ ") }}
        </div>
        <q-btn
          color="primary"
          label="Proceed to checkout"
          class="q-mt-md full-width"
          to="/checkout"
        />
      </div>
    </span>
    <span v-else>
      <center>
        <q-banner rounded class="bg-negative text-white text-center full-width">
          <span class="text-subtitle1">
            <q-icon name="warning" size="md" />&nbsp; Empty Cart!
          </span>
        </q-banner>
      </center>
    </span>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import qty from "components/cart/qty";
export default {
  components: {
    qty
  },
  data() {
    return {
      actions: ["edit", "delete"],
      pagination: {
        rowsPerPage: 100,
        page: 1
      },
      selected: [],
      columns: [
        {
          name: "image",
          required: true,
          label: "Image",
          align: "left"
        },
        {
          name: "name",
          required: true,
          label: "Produt Name",
          align: "left"
        },
        {
          name: "price",
          align: "left",
          label: "Price"
        },
        {
          name: "qty",
          align: "center",
          label: "Qty"
        },
        {
          name: "total",
          align: "right",
          label: "Subtotal"
        },
        {
          name: "action",
          align: "right",
          label: "Action"
        }
      ]
    };
  },
  computed: {
    ...mapState("global", ["cart", "totalCart", "deliveryPrice"]),
    ...mapState("users", ["token"])
  },
  methods: {
    ...mapActions("global", [
      "setTotalCart",
      "deleteCartRow",
      "setDeliveryPrice",
      "setAddQty",
      "setRemoveQty"
    ]),
    addQty(row) {
      var index = _.findIndex(this.cart, { id: row.id });
      this.setAddQty({
        index: index,
        qty: parseInt(row.qty) + 1
      });
      this.setTotalCart();
    },
    subQty(row) {
      if (row.qty <= 1) {
        var index = _.findIndex(this.cart, { id: row.id });
        this.setRemoveQty({
          index: index,
          qty: 1
        });
      } else {
        var index = _.findIndex(this.cart, { id: row.id });
        this.setRemoveQty({
          index: index,
          qty: parseInt(row.qty) - 1
        });
      }

      this.setTotalCart();
    },
    deleteRow(index) {
      this.deleteCartRow(index);
      this.setTotalCart();
    },
    getDeliveryPrice() {
      this.$axios.get("delivery_price_cart").then(res => {
        if (this.cart.length > 0) {
          this.setDeliveryPrice(res.data.deliveryPrice.amount);
          this.setTotalCart();
        }
      });
    }
  },
  mounted() {
    this.getDeliveryPrice();
  }
};
</script>
<style scoped>
.cart-image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.title {
  margin-top: 20px;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #21552a;
  border-bottom: 2px solid #40a551;
}

.total {
  margin-top: 20px;
  border-bottom: 2px solid grey;
}
.grand-total {
  font-size: 16px;
}
.product {
  position: relative;
  width: 280px;
  height: auto;
  text-align: left;
  border: 1px solid #d3d3d3;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.product-desc {
  display: flex;
  margin-top: 5px;
}
@media screen and (max-width: 480px) {
  .title {
    text-align: center;
  }
}
</style>
