<template>
  <div class="q-ma-sm">
    <form @submit.prevent="$emit('add')">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <q-select
            dense
            outlined
            v-model="$v.selectedStore.$model"
            :options="locStores"
            label="Store"
            use-chips
            class="q-ml-sm"
            :error="$v.selectedStore.$error"
            bottom-slots
            error-message="Store is required."
          />
        </div>
        <div class="col-xs-12 col-sm-6">
          <q-select
            class="q-ml-sm"
            dense
            outlined
            v-model="$v.locDeliveryReceived.store_invoice_id.$model"
            :options="locStoreInvoices"
            label="Store Invoice"
            use-input
            use-chips
            :error="$v.locDeliveryReceived.store_invoice_id.$error"
            bottom-slots
            error-message="Store Invoice is required."
            @filter="filterStoreInvoices"
          />
        </div>
        <div class="col-xs-12">
          <q-input
            label="Delivery No."
            v-model="$v.locDeliveryReceived.no.$model"
            outlined
            dense
            class="q-ml-sm"
            :error="$v.locDeliveryReceived.no.$error"
            bottom-slots
            error-message="Delivery No. is required."
          ></q-input>
        </div>
        <div class="col-xs-12">
          <q-list bordered separator class="q-mt-sm q-ml-sm">
            <q-item v-for="(product, k) in locProducts" :key="k">
              <q-item-section avatar>
                <q-avatar rounded>
                  <img :src="product.product.default_image.path_url" />
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ product.product.name }}</q-item-label>
                <q-item-label caption>Item Name</q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label
                  class="text-subtitle1 text-negative text-weight-medium"
                >{{ product.amount | currency("₱") }}</q-item-label>
                <q-item-label caption>Price</q-item-label>
              </q-item-section>
              <q-item-section>
                <div class="row">
                  <div class="col-xs-6">
                    <q-input type="number" label="Qty" v-model="product.qty" outlined dense min="0"></q-input>
                  </div>
                </div>
              </q-item-section>
            </q-item>
          </q-list>
        </div>
      </div>
    </form>
    <slot></slot>
  </div>
</template>
<script>
import { mapActions, mapState } from 'vuex'
import { required } from 'vuelidate/lib/validators'
export default {
  props: ['deliveryReceived', 'products'],
  validations: {
    locDeliveryReceived: {
      store_invoice_id: {
        required
      },
      no: { required }
    },
    selectedStore: { required }
  },
  data () {
    return {
      locDeliveryReceived: this.products,
      deliveryNo: '',
      locProducts: [],
      locStores: [],
      locStoreInvoices: []
    }
  },
  computed: {
    ...mapState('deliveryReceived', ['stores', 'storeInvoices']),
    selectedStore: {
      get () {
        return this.$store.getters['deliveryReceived/selectedStore']
      },
      set (v) {
        this.setSelectedStore(v)
      }
    }
  },
  methods: {
    ...mapActions('deliveryReceived', [
      'setStores',
      'setStoreInvoices',
      'setSelectedStore'
    ]),
    data () {
      return {
        store_invoice_id: this.locDeliveryReceived.store_invoice_id.value,
        delivery_no: this.locDeliveryReceived.no,
        store_id: this.selectedStore.value,
        products: this.locProducts
      }
    },
    filterStoreInvoices (val, update, abort) {
      // call abort() at any time if you can't retrieve data somehow
      setTimeout(() => {
        update(() => {
          const needle = val.toLowerCase()
          this.locStoreInvoices = this.storeInvoices.filter(
            v => v.label.toLowerCase().indexOf(needle) > -1
          )
        })
      }, 500)
    },
    getStoreInvoices () {
      let selectedStore = null
      if (this.selectedStore !== null) {
        selectedStore = this.selectedStore.value
      }
      this.$axios
        .get(`dr_store_invoices?store_id=${selectedStore}`)
        .then(res => {
          this.locStoreInvoices = res.data.storeInvoices
          this.setStoreInvoices(res.data.storeInvoices)
        })
    },
    filterStores (val, update, abort) {
      // call abort() at any time if you can't retrieve data somehow
      setTimeout(() => {
        update(() => {
          const needle = val.toLowerCase()
          this.locStores = this.stores.filter(
            v => v.label.toLowerCase().indexOf(needle) > -1
          )
        })
      }, 500)
    },
    getStores () {
      this.$axios.get('dr_stores').then(res => {
        this.setStores(res.data.stores)
        this.locStores = res.data.stores
      })
    },
    add () {
      this.$v.$touch()
      if (this.$v.$error) {
        this.$q.notify({
          color: 'negative',
          icon: 'warning',
          message: `Please required fields.`
        })
      } else {
        this.$axios.post('delivery_received', this.data()).then(res => {
          this.locDeliveryReceived = {
            store_invoice_id: null,
            no: null
          }
          this.selectedStore = null
          this.$v.$reset()
          this.$q.notify({
            color: 'positive',
            icon: 'far fa-check-circle',
            message: `Delivery successfully received.`
          })
        })
      }
    },
    update () {
      this.$v.$touch()
      if (this.$v.$error) {
        this.$q.notify({
          color: 'negative',
          icon: 'warning',
          message: `Please check the required fields.`
        })
      } else {
        this.$axios
          .put(
            `delivery_received/${this.$route.params.id}?id=${this.$route.params.id}`,
            this.data()
          )
          .then(res => {
            this.$v.$reset()
            this.$q.notify({
              color: 'positive',
              icon: 'far fa-check-circle',
              message: `Delivery received updated successfully.`
            })
          })
      }
    },
    cancel () {
      this.$router.go(-1)
    }
  },
  mounted () {
    this.getStores()
    this.locDeliveryReceived = this.deliveryReceived
    this.locProducts = this.products
  },
  watch: {
    'locDeliveryReceived.store_invoice_id' (val) {
      console.log(val)
      if (val === null) {
        this.locProducts = []
      } else {
        this.locProducts = val.products
      }
    },
    selectedStore (val) {
      this.getStoreInvoices()
      this.locDeliveryReceived.store_invoice_id = null
    }
  }
}
</script>
