<template>
  <div class="q-ma-sm">
    <div class="row">
      <div class="col-xs-12">
        <q-editor
          v-model="locHomeImage.desc"
          :dense="$q.screen.lt.md"
          :toolbar="[
            [
              {
                label: $q.lang.editor.align,
                icon: $q.iconSet.editor.align,
                fixedLabel: true,
                list: 'only-icons',
                options: ['left', 'center', 'right', 'justify']
              },
              {
                label: $q.lang.editor.align,
                icon: $q.iconSet.editor.align,
                fixedLabel: true,
                options: ['left', 'center', 'right', 'justify']
              }
            ],
            [
              'bold',
              'italic',
              'strike',
              'underline',
              'subscript',
              'superscript'
            ],
            ['token', 'hr', 'custom_btn'],
            ['print', 'fullscreen'],
            [
              {
                label: $q.lang.editor.formatting,
                icon: $q.iconSet.editor.formatting,
                list: 'no-icons',
                options: ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'code']
              },
              {
                label: $q.lang.editor.fontSize,
                icon: $q.iconSet.editor.fontSize,
                fixedLabel: true,
                fixedIcon: true,
                list: 'no-icons',
                options: [
                  'size-1',
                  'size-2',
                  'size-3',
                  'size-4',
                  'size-5',
                  'size-6',
                  'size-7'
                ]
              },
              {
                label: $q.lang.editor.defaultFont,
                icon: $q.iconSet.editor.font,
                fixedIcon: true,
                list: 'no-icons',
                options: [
                  'default_font',
                  'arial',
                  'arial_black',
                  'comic_sans',
                  'courier_new',
                  'impact',
                  'lucida_grande',
                  'times_new_roman',
                  'verdana'
                ]
              },
              'removeFormat'
            ],
            ['quote', 'unordered', 'ordered', 'outdent', 'indent'],

            ['undo', 'redo']
          ]"
          :fonts="{
            arial: 'Arial',
            arial_black: 'Arial Black',
            comic_sans: 'Comic Sans MS',
            courier_new: 'Courier New',
            impact: 'Impact',
            lucida_grande: 'Lucida Grande',
            times_new_roman: 'Times New Roman',
            verdana: 'Verdana'
          }"
        />
      </div>
      <div class="col-xs-12">
        <br />
        <q-uploader
          accept="image/jpeg, image/png"
          label="Upload Home Images"
          multiple
          @added="added"
          hide-upload-btn
          ref="uploader"
          @removed="removed"
          class="full-width"
        >
          <template v-slot:list="scope">
            <q-list separator>
              <q-item v-for="file in scope.files" :key="file.name">
                <q-item-section>
                  <q-item-label class="full-width ellipsis">{{
                    file.name
                  }}</q-item-label>

                  <q-item-label caption
                    >Status: {{ file.__status }}</q-item-label
                  >

                  <q-item-label caption>
                    {{ file.__sizeLabel }}
                    <!-- / {{ file.__progressLabel }} -->
                  </q-item-label>
                </q-item-section>

                <q-item-section v-if="file.__img" thumbnail>
                  <img :src="file.__img.src" />
                </q-item-section>

                <q-item-section top side>
                  <q-radio
                    v-model="is_primary"
                    :val="file.name"
                    style="margin-top: 5px;"
                  />
                </q-item-section>
                <q-item-section top side>
                  <q-btn
                    class="q-mt-sm"
                    color="negative"
                    flat
                    dense
                    round
                    icon="delete"
                    @click="scope.removeFile(file)"
                  />
                </q-item-section>
              </q-item>
            </q-list>
          </template>
        </q-uploader>
      </div>
    </div>
    <slot></slot>
  </div>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
export default {
  props: ['homeImage'],
  validations: {
    locHomeImage: {
      desc: {
        required
      }
    }
  },
  data () {
    return {
      is_primary: null,
      selectedFile: [],
      locHomeImage: {
        desc: '',
        images: []
      }
    }
  },
  methods: {
    add () {
      this.$v.$touch()
      if (this.$v.$error) {
        this.$q.notify({
          color: 'negative',
          icon: 'warning',
          message: `Description is required.`
        })
      } else {
        this.$axios.post('home_images', this.data()).then(res => {
          this.$v.$reset()
          this.locHomeImage = {
            desc: ''
          }
          this.$refs.uploader.files = []
          this.$q.notify({
            color: 'positive',
            icon: 'fas fa-check-circle',
            message: `Home Images created successfully.`
          })
        })
      }
    },
    update () {
      this.$v.$touch()
      if (this.$v.$error) {
        this.$q.notify({
          color: 'negative',
          icon: 'warning',
          message: `Please check the fields.`
        })
      } else {
        this.$axios
          .post(
            `home_images_update/${this.$route.params.id}?id=${this.$route.params.id}`,
            this.data()
          )
          .then(res => {
            this.$v.$reset()
            this.$q.notify({
              color: 'positive',
              icon: 'check',
              message: `Home Images updated successfully.`
            })
          })
      }
    },
    added (files) {
      for (var i = 0; i <= files.length; i++) {
        this.selectedFile.push(files[i])
      }
    },
    removed (files) {
      let x = this.selectedFile.filter(function (v) {
        if (v !== undefined) {
          return v.name !== files[0].name
        }
      })
      this.selectedFile = x
    },
    data () {
      const fd = new FormData()
      for (var i = 0; i <= this.selectedFile.length; i++) {
        if (this.selectedFile[i] !== undefined) {
          if (this.selectedFile[i].__img.complete) {
            fd.append('files[]', this.selectedFile[i])
          } else {
            fd.append('ids[]', this.selectedFile[i].id)
          }
        }
      }
      fd.append('is_primary', this.is_primary)
      fd.append('desc', this.homeImage.desc)

      return fd
    }
  },
  mounted () {
    this.locHomeImage = this.homeImage
    if (this.locHomeImage.images != null) {
      for (var i = 0; i < this.locHomeImage.images.length; i++) {
        let fileName = this.locHomeImage.images[i].name
        let url = this.locHomeImage.images[i].path_url

        if (this.locHomeImage.images[i].is_primary === 1) {
          this.is_primary = fileName
        }
        let file = {
          id: this.locHomeImage.images[i].id,
          size: 123,
          type: fileName.split('.').pop(),
          name: fileName,
          __img: {
            src: url
          }
        }
        this.$refs.uploader.files.push(file)
        this.selectedFile.push(file)
      }
    }
  }
}
</script>
