<template>
  <generic-store
    :share-credit="shareCredit"
    icon="add_circle"
    ref="store"
  >
    <div class="col-12">
      <q-btn @click="cancel" color="negative" label="Back" class="q-ma-sm" />
      <q-btn @click="update" color="primary" label="Update" class="q-ma-sm" />
    </div>
  </generic-store>
</template>
<script>
import genericStore from "pages/dashboard/share-credits/form/generic-store";
import { mapState, mapActions } from "vuex";
export default {
  components: {
    genericStore
  },
  computed: {
    ...mapState("shareCredits", ["shareCredit"])
  },
  methods: {
    update() {
      this.$refs.store.update();
    },
    cancel() {
      this.$refs.store.cancel();
    }
  }
};
</script>
