<template>
  <div class="row">
    <div class="col-sm-12 gt-sm">
      <generic-table
        :data="serverData"
        :columns="columns"
        :pagination="serverPagination"
        @serverside-request="request"
        @search-change="filter = $event"
        :search-field="filter"
        @selected="selected"
        ref="cat"
        :title="'Share Credits'"
        :loading="loading"
        :search-placeholder="'Search catalog...'"
        entity="Share credits"
        @add="add"
        @edit="edit"
        @del="del"
      >
      </generic-table>
    </div>
    <div class="col-sm-12 lt-md">
      <grid
        :data="serverData"
        :columns="columns"
        :pagination="serverPagination"
        @serverside-request="request"
        @search-change="filter = $event"
        :search-field="filter"
        @selected="selected"
        ref="cat"
        :title="'Share Credits'"
        :loading="loading"
        :search-placeholder="'Search catalog...'"
        entity="Share credits"
        @add="add"
        @edit="edit"
        @del="del"
        :grid="true"
      >
      </grid>
    </div>
  </div>
</template>

<script>
import catchError from "components/api-errors/catch";
import genericTable from "components/data-table/new-generic";
import grid from "components/data-table/grid";
import { values } from "lodash";
import { debounce } from "quasar";
import { mapState, mapActions } from "vuex";
export default {
  mixins: [catchError],
  components: {
    genericTable,
    grid
  },
  data() {
    return {
      selectedValue: "",
      debouncedFunction: "",
      loading: false,
      filter: "",
      options: [5, 10, 15, 20],
      serverPagination: {
        page: 1,
        rowsNumber: 10,
        rowsPerPage: 10 // specifying this determines pagination is server-side
      },
      serverData: [],
      columns: [
        {
          name: "name",
          label: "Name",
          field: row => row.user.name,
          align: "left"
        },
        {
          name: "code",
          label: "Code",
          align: "left",
          field: "code"
        },
        {
          name: "Action",
          label: "ACTIONS",
          align: "left"
        }
      ]
    };
  },
  computed: {
    ...mapState("catalogs", ["catalog"])
  },
  methods: {
    ...mapActions("shareCredits", ["setShareCredit"]),
    restore() {},
    add() {
      this.setCatalog({
        name: ""
      });
      this.$router.push({
        path: `/dashboard/catalogs/create`
      });
    },
    edit(optimusId) {
      this.$axios
        .get(`/share-credits/${optimusId}/edit?id=${optimusId}`)
        .then(res => {
          this.setShareCredit(res.data.shareCredit);
          this.$router.push({
            path: `/dashboard/share-credits/${optimusId}`
          });
        });
    },
    del(optimusId) {
      this.$axios
        .get(`/catalogs_dashboard/${optimusId}?id=${optimusId}`)
        .then(res => {
          this.setCatalog(res.data.catalog);
          this.$q.notify({
            color: "negative",
            icon: "warning",
            message: `Delete ${this.catalog.name}?`,
            actions: [
              {
                label: "OK",
                color: "white",
                handler: () => {
                  this.$axios
                    .delete(
                      `/catalogs_dashboard/${this.catalog.optimus_id}?id=${this.catalog.optimus_id}`
                    )
                    .then(res => {
                      this.$q.notify({
                        color: "positive",
                        icon: "check",
                        message: `${this.catalog.name} deleted successfully`
                      });
                      this.request({
                        pagination: this.serverPagination,
                        filter: this.filter
                      });
                    })
                    .catch(err => {
                      console.log(`${err.response.data.message}`);
                      this.$q.notify({
                        color: "negative",
                        icon: "warning",
                        message: "Failed... Integrity Constraint" // `${err.response.data.message}`
                      });
                    });
                }
              }
            ]
          });
        });
    },
    selected(val) {
      this.selectedValue = val;
    },
    request(props) {
      this.debouncedFunction(props);
    }
  },
  mounted() {
    this.debouncedFunction = debounce(props => {
      this.loading = true;
      this.$axios
        .get(
          `/share-credits?page=${props.pagination.page}&perPage=${props.pagination.rowsPerPage}&filter=${this.filter}`
        )
        .then(res => {
          this.serverPagination = props.pagination;
          this.serverData = values(res.data.shareCredits.data);
          this.serverPagination.rowsNumber = res.data.shareCredits.total;
          this.lastPage = res.data.shareCredits.last_page;
          this.loading = false;
        })
        .catch(err => {
          // this.$router.go(-1);
          // this.catch(err);
        });
    }, 500);

    this.request({
      pagination: this.serverPagination,
      filter: this.filter
    });
  }
};
</script>
