<template>
  <generic :catalog="catalog" icon="add_circle" ref="catalog">
    <div class="col-12">
      <q-btn @click="cancel" color="secondary" label="Back" class="q-ma-sm" />
      <q-btn @click="add" color="primary" label="Submit" class="q-ma-sm" />
    </div>
  </generic>
</template>
<script>
import generic from 'pages/dashboard/purchased-invoices/form/generic'
import { mapState } from 'vuex'
export default {
  components: {
    generic
  },
  computed: {
    ...mapState('catalogs', ['catalog'])
  },
  methods: {
    add () {
      this.$refs.catalog.add()
    },
    cancel () {
      this.$refs.catalog.cancel()
    }
  }
}
</script>
