<template>
  <div class="row">
    <div class="col-sm-12 gt-sm">
      <generic-table
        :data="serverData"
        :columns="columns"
        :pagination="serverPagination"
        @serverside-request="request"
        @search-change="filter = $event"
        :search-field="filter"
        @selected="selected"
        ref="cat"
        :title="'Purchased Invoices'"
        :loading="loading"
        :search-placeholder="'Search invoice no...'"
        entity="Store Invoice"
        @view="view"
        @approve="approve"
        @disapprove="disapprove"
        @comments="comments"
      ></generic-table>
    </div>
    <div class="col-sm-12 lt-md">
      <grid
        :data="serverData"
        :columns="columns"
        :pagination="serverPagination"
        @serverside-request="request"
        @search-change="filter = $event"
        :search-field="filter"
        @selected="selected"
        ref="cat"
        :title="'Purchased Invoices'"
        :loading="loading"
        :search-placeholder="'Search invoice no...'"
        entity="Store Invoice"
        @view="view"
        @approve="approve"
        @disapprove="disapprove"
        :grid="true"
        @comments="comments"
      ></grid>
    </div>
    <q-dialog v-model="viewDialog">
      <q-card style="width: 800px; max-width: 100vw;">
        <q-card-section>
          <q-table
            class="gt-xs"
            title="Purchased Products"
            :data="storeInvoiceProducts"
            :columns="productColumns"
            hide-bottom
          >
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td :key="col.name" :props="props" v-for="col in props.cols">
                  <span v-if="col.name === 'Action'">
                    <q-btn
                      @click="$emit('approveProduct', props.row.optimus_id)"
                      color="positive"
                      flat
                    >
                      <q-icon name="fas fa-check-circle" />
                      <q-tooltip
                        transition-show="flip-right"
                        transition-hide="flip-left"
                        content-class="bg-positive"
                        content-style="font-size: 16px"
                        anchor="top left"
                        :offset="[30, 30]"
                        >Approve</q-tooltip
                      >
                    </q-btn>
                    <q-btn
                      @click="$emit('disapproveProduct', props.row.optimus_id)"
                      color="primary"
                      flat
                    >
                      <q-tooltip
                        transition-show="flip-right"
                        transition-hide="flip-left"
                        content-class="bg-primary"
                        content-style="font-size: 16px"
                        anchor="top left"
                        :offset="[30, 30]"
                        >Cancel Product</q-tooltip
                      >
                      <q-icon name="fas fa-minus-circle" />
                    </q-btn>
                  </span>
                  <span v-else>{{ col.value }}</span>
                </q-td>
              </q-tr>
            </template>
          </q-table>
          <grid-products
            class="lt-sm"
            :data="storeInvoiceProducts"
            :columns="productColumns"
            :pagination="serverPagination"
            @serverside-request="request"
            @search-change="filter = $event"
            :search-field="filter"
            @selected="selected"
            ref="cat"
            :title="'Purchased Products'"
            :loading="loading"
            :search-placeholder="'Search invoice no...'"
            entity="Store Invoice"
            @view="view"
            @approve="approve"
            @disapprove="disapprove"
            :grid="true"
            @comments="comments"
          ></grid-products>
        </q-card-section>
        <q-card-actions align="right" class="bg-white text-teal">
          <q-btn flat label="Close" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="chat">
      <q-card style="width: 800px; max-width: 100vw;">
        <q-card-section>
          <q-chat-message
            :text="[v.comment]"
            :sent="v.current_user_id !== v.user_id"
            v-for="(v, k) in allComments"
            :key="k"
          />
        </q-card-section>
        <q-card-section>
          <q-input v-model="comment" type="textarea" outlined label="Comment" />
        </q-card-section>
        <q-card-actions align="right" class="bg-white text-teal">
          <q-btn flat label="Close" v-close-popup />
          <q-btn flat label="Submit" @click="submitComments" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import catchError from "components/api-errors/catch";
import genericTable from "components/data-table/purchased-invoices/index";
import grid from "components/data-table/purchased-invoices/grid";
import gridProducts from "components/data-table/purchased-invoices/grid-products";
import { values } from "lodash";
import { debounce } from "quasar";
import { mapState, mapActions } from "vuex";
export default {
  mixins: [catchError],
  components: {
    genericTable,
    grid,
    gridProducts
  },
  data() {
    return {
      allComments: [],
      commentData: null,
      comment: "",
      chat: false,
      storeInvoiceProducts: [],
      productColumns: [
        {
          name: "sku",
          label: "SKU",
          field: row => row.product.sku,
          align: "left"
        },
        {
          name: "barcode",
          label: "Barcode",
          field: row => row.product.barcode,
          align: "left"
        },
        {
          name: "name",
          label: "Product Name",
          field: row => row.product.name,
          align: "left"
        },
        {
          name: "amount",
          label: "Amount",
          field: "amount",
          align: "left"
        },
        {
          name: "qty",
          label: "Qty",
          field: "qty",
          align: "left"
        }
      ],
      viewDialog: false,
      selectedValue: [],
      debouncedFunction: "",
      loading: false,
      filter: "",
      options: [5, 10, 15, 20],
      serverPagination: {
        page: 1,
        rowsNumber: 10,
        rowsPerPage: 10 // specifying this determines pagination is server-side
      },
      serverData: [],
      columns: [
        {
          name: "branch",
          label: "Store",
          field: "branch",
          align: "left"
        },
        {
          name: "invoice_no",
          label: "Invoice No.",
          field: "invoice_no",
          align: "left"
        },
        {
          name: "payment_type",
          label: "Payment Type",
          field: "payment_type",
          align: "left"
        },
        {
          name: "grand_total",
          label: "Grand Total",
          field: row => {
            return this.$options.filters.currency(row.grand_total, "₱ ");
          },
          align: "left"
        },
        {
          name: "created_at",
          label: "Created At",
          align: "left",
          field: "created_at"
        }
      ]
    };
  },
  computed: {
    ...mapState("catalogs", ["catalog"])
  },
  methods: {
    ...mapActions("storeInvoices", ["setStoreInvoice", "setInvoiceItems"]),
    submitComments() {
      this.$axios
        .post(`si_comments`, {
          comment: this.comment,
          store_invoice_id: this.commentData.optimusId,
          branch_id: this.commentData.branchId
        })
        .then(res => {
          this.allComments = res.data.comments;
        });
    },
    comments(val) {
      this.$axios.get(`si_comments?store_id=${val.optimusId}`).then(res => {
        this.allComments = res.data.comments;
        this.chat = true;
      });
      this.commentData = val;
    },
    view(val) {
      this.viewDialog = true;
      this.$axios
        .get(`si_store_invoice_products?store_invoice_id=${val.optimusId}`)
        .then(res => {
          this.storeInvoiceProducts = res.data.storeInvoiceProducts;
        });
    },
    approve(val) {
      this.$axios
        .post(`si_approve`, {
          optimusId: val
        })
        .then(res => {
          this.$q.notify({
            color: "positive",
            icon: "fas fa-check-circle",
            message: "Store Invoice successfully approved." // `${err.response.data.message}`
          });
          this.request({
            pagination: this.serverPagination,
            filter: this.filter
          });
        });
    },
    disapprove(val) {
      this.$axios
        .post(`si_disapprove`, {
          optimusId: val
        })
        .then(res => {
          this.$q.notify({
            color: "positive",
            icon: "fas fa-check-circle",
            message: "Store Invoice successfully disapproved." // `${err.response.data.message}`
          });
          this.request({
            pagination: this.serverPagination,
            filter: this.filter
          });
        });
    },
    edit(val) {
      this.$axios
        .get(
          `/store_invoices/${val.optimusId}/edit?id=${val.optimusId}&branchId=${val.branchId}`
        )
        .then(res => {
          this.setStoreInvoice(res.data.storeInvoice);
          this.setInvoiceItems(res.data.invoiceItems);
          this.$router.push({
            path: `/dashboard/store-invoices/${val.optimusId}`
          });
        });
    },
    del(optimusId) {
      this.$axios
        .get(`/catalogs_dashboard/${optimusId}?id=${optimusId}`)
        .then(res => {
          this.setCatalog(res.data.catalog);
          this.$q.notify({
            color: "negative",
            icon: "warning",
            message: `Delete ${this.catalog.name}?`,
            actions: [
              {
                label: "OK",
                color: "white",
                handler: () => {
                  this.$axios
                    .delete(
                      `/catalogs_dashboard/${this.catalog.optimus_id}?id=${this.catalog.optimus_id}`
                    )
                    .then(res => {
                      this.$q.notify({
                        color: "positive",
                        icon: "check",
                        message: `${this.catalog.name} deleted successfully`
                      });
                      this.request({
                        pagination: this.serverPagination,
                        filter: this.filter
                      });
                    })
                    .catch(err => {
                      console.log(`${err.response.data.message}`);
                      this.$q.notify({
                        color: "negative",
                        icon: "warning",
                        message: "Failed... Integrity Constraint" // `${err.response.data.message}`
                      });
                    });
                }
              }
            ]
          });
        });
    },
    selected(val) {
      this.selectedValue.push(val);
    },
    request(props) {
      this.debouncedFunction(props);
    }
  },
  mounted() {
    this.debouncedFunction = debounce(props => {
      this.loading = true;
      this.$axios
        .get(
          `/store_invoices?page=${props.pagination.page}&perPage=${props.pagination.rowsPerPage}&filter=${this.filter}`
        )
        .then(res => {
          this.serverPagination = props.pagination;
          this.serverData = values(res.data.storeInvoices.data);
          this.serverPagination.rowsNumber = res.data.storeInvoices.total;
          this.lastPage = res.data.storeInvoices.last_page;
          this.loading = false;
        })
        .catch(err => {
          this.$router.go(-1);
          this.catch(err);
        });
    }, 500);

    this.request({
      pagination: this.serverPagination,
      filter: this.filter
    });
  }
};
</script>
