<template>
  <div class="q-ma-sm">
    <form @submit.prevent="$emit('add')">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-h6 q-ma-sm">
            <q-icon name="add_circle" color="grey" />&nbsp; Store (Payment
            Requests)
          </p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <q-select
            dense
            outlined
            v-model="selectedStore"
            :options="locStores"
            label="Store"
            use-chips
            class="q-ml-sm q-mt-sm"
            use-input
          />
        </div>
        <div class="col-xs-12 col-sm-4">
          <q-select
            dense
            outlined
            v-model="selectedDeliveryReceived"
            :options="deliveryReceived"
            label="Delivery Receveid"
            use-chips
            class="q-ml-sm q-mt-sm"
            use-input
          />
        </div>
        <div class="col-xs-12 col-sm-4">
          <q-btn
            label="Add to Payment Request"
            @click="addPaymentRequest()"
            class="q-mb-md q-ml-sm q-mt-sm"
          ></q-btn>
        </div>

        <div class="col-xs-12">
          <q-list
            :bordered="paymentRequest.length > 0"
            separator
            class="q-ma-sm gt-xs"
          >
            <q-item v-for="(dr, k) in paymentRequest" :key="k">
              <q-item-section>
                <q-item-label>{{ dr.store }}</q-item-label>
                <q-item-label caption>Store</q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ dr.label }}</q-item-label>
                <q-item-label caption>Delivery No.</q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ dr.invoice_no }}</q-item-label>
                <q-item-label caption>Invoice No.</q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ dr.total | currency("₱ ") }}</q-item-label>
                <q-item-label caption>Total</q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-btn
                  icon="far fa-times-circle"
                  flat
                  color="negative"
                  @click="removePaymentRequest(k)"
                />
              </q-item-section>
            </q-item>
          </q-list>

          <q-card class="lt-sm" v-if="paymentRequest.length > 0">
            <q-card-section v-for="(dr, k) in paymentRequest" :key="k">
              <div><strong>Store: </strong> {{ dr.store }}</div>
              <div><strong>Delivery No. </strong> {{ dr.label }}</div>
              <div><strong>Invoice No.</strong> {{ dr.invoice_no }}</div>
              <div>
                <strong>Total: </strong> {{ dr.total | currency("₱ ") }}
              </div>
              <div>
                <q-btn
                  label="Remove"
                  color="negative"
                  @click="removePaymentRequest(k)"
                />
              </div>
            </q-card-section>
            <q-separator />
          </q-card>
        </div>
        <div class="col-xs-12">
          <q-list
            :bordered="locProducts.length > 0"
            separator
            class="q-mt-sm q-mb-sm"
          >
            <q-item v-for="(product, k) in locProducts" :key="k">
              <q-item-section avatar>
                <q-avatar rounded>
                  <img :src="product.img" />
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ product.name }}</q-item-label>
                <q-item-label caption>Item Name</q-item-label>
              </q-item-section>
              <q-item-section>
                <q-item-label
                  class="text-subtitle1 text-negative text-weight-medium"
                  >{{ product.amount | currency("₱") }}</q-item-label
                >
                <q-item-label caption>Price</q-item-label>
              </q-item-section>
              <q-item-section>
                <div class="row">
                  <div class="col-xs-6">
                    <q-input
                      type="number"
                      label="Qty"
                      v-model="product.qty"
                      outlined
                      dense
                      min="0"
                      readonly
                    ></q-input>
                  </div>
                </div>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section
                >Grand Total: {{ grandTotal | currency("₱ ") }}</q-item-section
              >
            </q-item>
          </q-list>
        </div>
        <div class="col-xs-12">
          <q-input
            dense
            outlined
            v-model="remarks"
            label="Remarks"
            type="textarea"
            class="q-ml-sm"
          />
        </div>
      </div>
    </form>
    <slot></slot>
  </div>
</template>
<script>
import { mapActions } from "vuex";
import { find } from "lodash";
export default {
  props: ["products"],
  data() {
    return {
      paymentRequest: [],
      locProducts: [],
      locStores: [],
      deliveryReceived: [],
      locBranch: this.branch
    };
  },
  computed: {
    remarks: {
      get() {
        return this.$store.getters["SPR/remarks"];
      },
      set(v) {
        this.setRemarks(v);
      }
    },
    grandTotal: {
      get() {
        return this.$store.getters["SPR/grandTotal"];
      },
      set(v) {
        this.setGrandTotal(v);
      }
    },
    selectedStore: {
      get() {
        return this.$store.getters["SPR/selectedStore"];
      },
      set(v) {
        this.setSelectedStore(v);
      }
    },
    selectedDeliveryReceived: {
      get() {
        return this.$store.getters["SPR/selectedDeliveryReceived"];
      },
      set(v) {
        this.setSelectedDeliveryReceived(v);
      }
    }
  },
  methods: {
    ...mapActions("SPR", [
      "setSelectedStore",
      "setSelectedDeliveryReceived",
      "setGrandTotal",
      "setRemarks"
    ]),
    removePaymentRequest(k) {
      this.paymentRequest.splice(k, 1);
      this.grandTotal(
        this.paymentRequest.map(r => r.total).reduce((a, b) => a + b)
      );
    },
    addPaymentRequest() {
      if (this.selectedDeliveryReceived === null) {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          message: `Please select delivery received.`
        });
      } else {
        let r = find(this.paymentRequest, {
          label: this.selectedDeliveryReceived.label
        });
        if (r === undefined) {
          this.paymentRequest.push(this.selectedDeliveryReceived);
          this.selectedDeliveryReceived = null;
          this.locProducts = [];
          this.setGrandTotal(
            this.paymentRequest.map(r => r.total).reduce((a, b) => a + b)
          );
        } else {
          this.$q.notify({
            color: "negative",
            icon: "warning",
            message: `Delivery No. already added.`
          });
        }
      }
    },
    getDeliveryProducts() {
      let drpId = null;
      if (this.selectedDeliveryReceived !== null) {
        drpId = this.selectedDeliveryReceived.value;
      }
      if (drpId !== null) {
        this.$axios.get(`spr_drp?drpId=${drpId}`).then(res => {
          this.locProducts = res.data.products;
        });
      } else {
        this.locProducts = [];
      }
    },
    getStores() {
      this.$axios.get("spr_stores").then(res => {
        this.locStores = res.data.stores;
      });
    },
    getDeliveryReceived() {
      let selectedStore = null;
      if (this.selectedStore !== null) {
        selectedStore = this.selectedStore.value;
      }
      this.$axios
        .get(`spr_delivery_received?selectedStore=${selectedStore}`)
        .then(res => {
          this.deliveryReceived = res.data.deliveryReceived;
          this.selectedDeliveryReceived = null;
        });
    },
    add() {
      if (this.paymentRequest.length === 0) {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          message: `Please add payment request.`
        });
      } else {
        this.$axios
          .post("spr", {
            deliveryReceived: this.paymentRequest,
            remarks: this.remarks,
            grand_total: this.grandTotal
          })
          .then(res => {
            this.paymentRequest = [];
            this.grandTotal = 0;
            this.$q.notify({
              color: "positive",
              icon: "fas fa-check-circle",
              message: `Payment Request created successfully.`
            });
          });
      }
    },
    update() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          message: `Please check the fields.`
        });
      } else {
        this.$axios
          .put(`branches/${this.locBranch.optimus_id}`, this.locBranch)
          .then(res => {
            this.$v.$reset();
            this.$q.notify({
              color: "positive",
              icon: "check",
              message: `${this.branch.name} created successfully.`
            });
          });
      }
    },
    cancel() {
      this.$router.go(-1);
    }
  },
  mounted() {
    this.getStores();
    this.locProducts = [];
  },
  watch: {
    locBranch: {
      handler(oldVal) {
        this.$emit("change", oldVal);
      },
      deep: true
    },
    selectedStore(val) {
      this.getDeliveryReceived();
    },
    selectedDeliveryReceived(val) {
      this.getDeliveryProducts();
    }
  }
};
</script>
