<template>
  <div class="q-ma-sm">
    <form @submit.prevent="$emit('add')">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-h5 q-ma-sm">
            <q-icon name="add_circle" color="grey" /> {{ locCatalog.name }}
          </p>
        </div>
        <div class="col-xs-12"></div>
      </div>
    </form>
    <slot></slot>
  </div>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
export default {
  props: ['catalog'],
  validations: {
    locCatalog: {
      name: {
        required
      }
    }
  },
  data () {
    return {
      locCatalog: this.catalog,
      loading: false,
      filter: '',
      options: [5, 10, 15, 20],
      serverPagination: {
        page: 1,
        rowsNumber: 10,
        rowsPerPage: 10 // specifying this determines pagination is server-side
      },
      serverData: [],
      columns: [
        {
          name: 'name',
          label: 'Name',
          field: 'name',
          align: 'left'
        },
        {
          name: 'created_at',
          label: 'Created At',
          align: 'left',
          field: 'created_at'
        },
        {
          name: 'Action',
          label: 'ACTIONS',
          align: 'left'
        }
      ]
    }
  },
  methods: {
    getInvoiceItems () {
      this.$axios.get('si_invoice_items')
    },
    add () {
      this.$v.$touch()
      if (this.$v.$error) {
        this.$q.notify({
          color: 'negative',
          icon: 'warning',
          message: `Please check the fields.`
        })
      } else {
        this.$axios.post('catalogs_dashboard', this.locCatalog).then(res => {
          this.locCatalog = {
            name: ''
          }
          this.$v.$reset()
          this.$q.notify({
            color: 'positive',
            icon: 'check',
            message: `${this.locCatalog.name} created successfully.`
          })
        })
      }
    },
    update () {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.$q.notify({
          color: 'negative',
          icon: 'warning',
          message: `Please check the fields.`
        })
      } else {
        this.$axios
          .put(`branches/${this.locCatalog.optimus_id}`, this.locCatalog)
          .then(res => {
            this.$v.$reset()
            this.$q.notify({
              color: 'positive',
              icon: 'check',
              message: `${this.branch.name} created successfully.`
            })
          })
      }
    },
    cancel () {
      this.$router.go(-1)
    }
  },
  mounted () {
    this.getInvoiceItems()
  }
}
</script>
