<template>
  <div>
    <div class="row cover-page">
      <div class="col-xs-12 q-mt-md">
        <p class="title">SHOP BY CATEGORY</p>
      </div>
      <div class="col-xs-12 q-mt-sm">
        <cat :categories="categories"></cat>
      </div>
      <div class="col-xs-12 q-mt-md">
        <p class="title">FEATURED CATEGORY</p>
      </div>
      <div class="col-xs-12 q-mt-sm">
        <cat :categories="featuredCategories"></cat>
      </div>
      <div class="col-xs-12 q-mt-md">
        <p class="title">MOST POPULAR PRODUCTS</p>
      </div>
      <div class="col-xs-12 q-mt-sm">
        <div class="popular-products">
          <div v-for="(v, i) in popularProducts" :key="i">
            <product :product="v"></product>
          </div>
        </div>
      </div>
    </div>

    <q-page-scroller
      expand
      position="bottom-right"
      :scroll-offset="150"
      :offset="[10, 15]"
    >
      <q-btn icon="keyboard_arrow_up" round color="negative"></q-btn>
    </q-page-scroller>
    <div class="row">
      <div class="col-xs-12">
        <div class="map-footer">
          <div class="content">
            <p class="footer-title">My Account</p>
            <ul>
              <li>
                <router-link class="link" to="/login">Login</router-link>
              </li>
              <li>
                <router-link class="link" to="/login"
                  >My Shopping Cart</router-link
                >
              </li>
              <li>
                <router-link class="link" to="/login">My Orders</router-link>
              </li>
              <li>
                <router-link class="link" to="/login">My address</router-link>
              </li>
              <li>
                <router-link class="link" to="/login"
                  >Account Summary</router-link
                >
              </li>
              <li>
                <router-link class="link" to="/login"
                  >Account Settings</router-link
                >
              </li>
            </ul>
          </div>
          <div class="content">
            <p class="footer-title">Customer Care</p>
            <ul>
              <li>
                <router-link class="link" to="/login">Help Center</router-link>
              </li>
              <li>
                <router-link class="link" to="/login">How to Buy</router-link>
              </li>
              <li>
                <router-link class="link" to="/login"
                  >Shipping and Delivery</router-link
                >
              </li>
              <li>
                <router-link class="link" to="/login"
                  >How to Return</router-link
                >
              </li>
              <li>
                <router-link class="link" to="/login">Contact Us</router-link>
              </li>
            </ul>
          </div>
          <div class="content" style="max-width: 300px;">
            <p class="footer-title">Payment Method</p>
            <img src="visa.png" />
            <img src="master-card.png" />
            <img src="jcb.png" /> &nbsp;
            <img src="american-express.png" />
            <div style="margin-top: 5px;">
              <img src="paypal.png" />&nbsp; <img src="cod.png" /> &nbsp;
              <img src="gcash.png" />
            </div>
          </div>
          <div class="content">
            <p class="footer-title">Follow Us</p>
            <img src="fb.png" />
            <img src="instagram.png" />
          </div>
          <div class="content">
            <p class="footer-title">Download RBMARKET</p>
            <img src="google-play.png" />
            <br />
            <img src="app-store.png" />
          </div>
        </div>
        <div class="col-xs-12">
          <div class="copy">
            <p style="margin-top: 20px;">&copy; rbmarket.com 2020</p>
            <p>
              <router-link to="/about-us" class="footer-link"
                >About Us</router-link
              >
              <router-link to="/about-us" class="footer-link"
                >Privacy</router-link
              >
              <router-link to="/about-us" class="footer-link"
                >Policy</router-link
              >
              <router-link to="/about-us" class="footer-link"
                >Terms & Conditions</router-link
              >
              <router-link to="/about-us" class="footer-link"
                >Intellectual Protections</router-link
              >
              <router-link to="/about-us" class="footer-link"
                >Career</router-link
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style></style>

<script>
import { mapState, mapActions } from "vuex";
import cat from "components/categories/categories";
import product from "components/products/product";

export default {
  components: {
    cat,
    product
  },
  data() {
    return {
      addShadow: false,
      stars: 3,
      shadowCard: "",
      popularProducts: []
    };
  },
  methods: {
    ...mapActions("users", ["setPerPage"]),
    ...mapActions("global", ["setCategories", "setAllCategories"]),
    ...mapActions("categories", ["setFeaturedCategories"]),
    async getCategories() {
      var take = 7;
      if (window.screen.width > 1500) {
        take = 7;
      } else if (window.screen.width > 1300) {
        take = 6;
      }
      await this.$axios.get(`categories_home?take=${take}`).then(res => {
        this.setFeaturedCategories(res.data.featuredCategories);
        this.setCategories(res.data.parentCat);
        this.setAllCategories(res.data.allCat);
        this.popularProducts = res.data.popularProducts;
      });
    },
    categoryNav(cat) {
      this.$router.push({
        path: `/catalog/${cat.optimus_id}/${cat.name}`
      });
    }
  },
  computed: {
    ...mapState("products", ["products"]),
    ...mapState("global", ["breadCrumbs", "categories"]),
    ...mapState("categories", ["featuredCategories"]),
    perPage: {
      get() {
        return this.$store.getters["users/perPage"];
      },
      set(val) {
        this.setPerPage(val);
      }
    }
  },
  mounted() {
    this.getCategories();
  }
};
</script>

<style scoped>
.title {
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #21552a;
  border-bottom: 2px solid #40a551;
}

.footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.link {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #1d1d1d;
}
.footer-link {
  font-size: 12px;
  padding: 10px;
  text-decoration: none;
  color: grey;
}

.popular-products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.map-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 20px;
  background-color: #e8e8e8;
}
.content img {
  margin: 5px;
}

.title {
  margin-top: 15px;
}
.card {
  margin: 10px;
  width: 160px;
  text-align: center;
}

.category-title {
  color: #000000;
  margin-top: 5px;
  font-size: 14px;
  height: 35px;
  text-align: center;
}

.cover-page {
  margin-left: 20px;
  margin-right: 20px;
}
.copy {
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .category,
  .popular-products {
    justify-content: center;
  }
  .map-footer {
    justify-content: center;
  }

  .content {
    text-align: center;
  }

  .cover-page {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 480px) {
  .category,
  .popular-products {
    border: none;
  }

  .map-footer .content {
    margin-top: 20px;
  }
  .content {
    text-align: center;
  }

  .content img {
    margin: 10px;
  }
}
</style>
