<template>
  <div>
    <q-table
      :data="data"
      :columns="columns"
      selection="single"
      :selected.sync="selected"
      row-key="optimus_id"
      :pagination.sync="paginationControl"
      :filter="filterOpts"
      @request="$emit('serverside-request', $event)"
      :title="title"
      :loading="loading"
    >
      <template v-slot:top-right>
        <q-btn @click="$emit('add')" color="primary" round size="sm">
          <q-tooltip
            transition-show="flip-right"
            transition-hide="flip-left"
            content-class="bg-primary"
            content-style="font-size: 16px"
            anchor="top left"
            :offset="[30, 30]"
          >Add {{ entity }}</q-tooltip>
          <q-icon name="add" />
        </q-btn>
        <slot></slot>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <!-- <q-tr :props="props" :class="'cursor-pointer'" @click.native="props.selected = !props.selected"> -->
          <q-td auto-width>
            <q-btn
              size="sm"
              color="primary"
              round
              dense
              @click="props.expand = !props.expand"
              :icon="props.expand ? 'keyboard_arrow_down' : 'keyboard_arrow_right'"
            />
          </q-td>

          <q-td :key="col.name" :props="props" v-for="col in props.cols">
            <span v-if="col.name === 'grand_total'">{{ col.value }}</span>
            <span v-else-if="col.name === 'is_paid'">
              <q-chip
                dense
                color="positive"
                text-color="white"
                icon="far fa-check-circle"
                v-if="col.value === true"
              >Paid</q-chip>

              <strong v-if="col.value === false" class="text-negative">Unpaid</strong>
            </span>
            <span v-else-if="col.name === 'Action'">
              <q-btn
                icon="fas fa-list"
                flat
                color="primary"
                @click="$emit('view', props.row.optimus_id)"
              >
                <q-tooltip
                  transition-show="flip-right"
                  transition-hide="flip-left"
                  content-class="bg-primary"
                  content-style="font-size: 16px"
                  anchor="top left"
                  :offset="[30, 30]"
                >View {{ entity }}</q-tooltip>
              </q-btn>
            </span>
            <span v-else>{{ col.value }}</span>
          </q-td>
        </q-tr>
        <q-tr v-show="props.expand" :props="props">
          <q-td colspan="100%">
            <q-list
              separator
              v-for="(v, k) in props.row.deliveryReceived"
              :key="k"
              class="bg-green-1"
            >
              <q-item-label header class="text-primary">
                <p style="font-size: 20px; font-weight: bold; text-align: center;">
                  {{
                  v.delivery_received.store.name | uppercase
                  }}
                </p>
              </q-item-label>
              <q-separator />
              <q-item v-ripple v-for="(vv, kk) in v.delivery_received.dr_products" :key="kk">
                <q-item-section>
                  <q-item-label>{{ vv.product.name }}</q-item-label>
                  <q-item-label caption>Product Name</q-item-label>
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ vv.amount | currency("₱ ") }}</q-item-label>
                  <q-item-label caption>Amount</q-item-label>
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ vv.qty }}</q-item-label>
                  <q-item-label caption>Qty</q-item-label>
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ (vv.qty * vv.amount) | currency("₱ ") }}</q-item-label>
                  <q-item-label caption>Subtotal</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
export default {
  props: {
    viewPayment: {
      type: [Boolean],
      default: false
    },
    payments: {
      type: [Boolean],
      default: false
    },
    products: {
      type: [Boolean],
      default: false
    },
    restoreData: {
      type: [Boolean],
      default: false
    },
    entity: {
      type: [String],
      default: null
    },
    // the table data
    searchPlaceholder: {
      type: [String],
      default: null
    },
    data: {
      type: [Array, Object],
      default: null
    },
    // column definition
    columns: {
      type: [Array, Object],
      default: null
    },
    search: {
      Boolean,
      default: true
    },
    grid: {
      Boolean,
      default: false
    },
    // current pagination settings of the table
    pagination: {
      type: Object,
      default: () => {
        return {
          rowsPerPage: 7,
          page: 1
        };
      }
    },
    rowOptions: {
      type: Array,
      default: () => [3, 5, 7, 10, 15, 25, 50, 0]
    },

    // the filter model of your table
    searchField: {
      type: String,
      default: () => ""
    },

    title: {
      type: String,
      default: () => ""
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      selected: []
    };
  },
  computed: {
    paginationControl: {
      set() {},
      get() {
        return this.pagination;
      }
    },
    filterOpts: {
      set(val) {
        this.$emit("search-change", val);
      },
      get() {
        return this.searchField;
      }
    }
  },
  watch: {
    selected(val) {
      this.$emit("selected", val);
    }
  }
};
</script>
