<template>
  <div class="row">
    <div class="col-xs-12">
      <q-carousel
        animated
        v-model="slide"
        infinite
        :autoplay="autoplay"
        ref="carousel"
      >
        <q-carousel-slide :name="1" img-src="~assets/banner1.jpg">
          <div class="absolute-center custom-caption">
            <div class="text-h3 carousel-text">
              Fresh and healthy living.
            </div>
            <div class="text-subtitle1 carousel-caption">
              Fruits and vegetables available
            </div>
          </div>
        </q-carousel-slide>
        <q-carousel-slide :name="2" img-src="~assets/banner2.jpg">
          <div class="absolute-center custom-caption ">
            <div class="text-h3 carousel-text">Seafoods and Seashells.</div>
            <div class="text-subtitle1 carousel-caption">
              At your service
            </div>
          </div>
        </q-carousel-slide>
        <q-carousel-slide :name="3" img-src="~assets/banner3.jpg">
          <div class="absolute-center custom-caption ">
            <div class="text-h3 carousel-text">
              Securely delivered in your home.
            </div>
          </div>
        </q-carousel-slide>
        <template v-slot:control>
          <q-carousel-control
            position="top-right"
            :offset="[18, 18]"
            class="text-white rounded-borders"
            style="background: rgba(0, 0, 0, .3); padding: 4px 8px;"
          >
            <q-toggle
              dense
              dark
              color="orange"
              v-model="autoplay"
              label="Auto Play"
            />
          </q-carousel-control>

          <q-carousel-control
            position="bottom-right"
            :offset="[18, 18]"
            class="q-gutter-xs"
          >
            <q-btn
              push
              round
              dense
              color="orange"
              text-color="black"
              icon="arrow_left"
              @click="$refs.carousel.previous()"
            />
            <q-btn
              push
              round
              dense
              color="orange"
              text-color="black"
              icon="arrow_right"
              @click="$refs.carousel.next()"
            />
          </q-carousel-control>
        </template>
      </q-carousel>
    </div>
    <div class="col-xs-12">
      <splash></splash>
    </div>
  </div>
</template>

<script>
import splash from "components/splash/index";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      slide: 1,
      autoplay: false
    };
  },
  components: {
    splash
  },
  methods: {
    ...mapActions("global", ["setLeftDrawer"])
  },
  mounted() {
    this.setLeftDrawer(true);
  }
};
</script>

<style>
.carousel-text {
  color: #404040;
}
.carousel-caption {
  text-align: center;
  color: #404040;
}
.strokeme {
  color: white;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
.text-h3 {
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .text-h3 {
    font-size: 30px;
    font-weight: bold;
  }
}
</style>
