<template>
  <q-page class="docs-input row main flex flex-center">
    <div class="formContainer self-center">
      <form @submit.prevent="submit">
        <p style="font-weight: bold; font-size: 24px; text-align:center;">
          ACCOUNT LOGIN
        </p>
        <q-banner
          rounded
          inline-actions
          :class="activationBanner"
          class="q-mb-sm text-center"
          v-if="$route.params.token"
        >
          <q-icon style="font-size: 2em;" :name="activationIcon" />
          {{ activationMessage }}
        </q-banner>
        <q-input
          v-model="$v.email.$model"
          label="Email"
          @keyup.enter="login"
          :error="$v.email.$dirty && !$v.email.required"
          error-message="Email is required."
          bottom-slots
        ></q-input>
        <q-input
          v-model="$v.password.$model"
          :type="isPwd ? 'password' : 'text'"
          class="q-mt-sm form__input"
          label="Password"
          @keyup.enter="login"
          :error="
            ($v.password.$dirty && !$v.password.required) ||
              ($v.password.$dirty && !$v.password.minLength)
          "
          error-message="Password must be at least 8 and required."
          bottom-slots
        >
          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
            />
          </template>
        </q-input>
        <div>
          <q-btn @click="back" color="negative" class="q-ma-sm" no-caps
            >Cancel</q-btn
          >
          <q-btn
            :loading="loading"
            @click="login"
            color="primary"
            class="q-ma-sm"
            no-caps
            >Login</q-btn
          >
        </div>
        <div class="float-left">
          <q-btn to="/password/reset" class="q-ma-sm" flat no-caps
            >Forgot Password?</q-btn
          >
        </div>
        <div class="q-mt-sm float-right">
          <!-- <div class="col-xs-12 text-center">
            <q-radio v-model="userType" val="User" label="Buyer" color="teal" />
            <q-radio v-model="userType" val="Seller" label="Seller" color="orange" />
          </div> -->
        </div>
      </form>
    </div>
  </q-page>
</template>

<script>
import { setAuthHeader } from "boot/axios";

import { required, minLength } from "vuelidate/lib/validators";
import { mapActions, mapState } from "vuex";

export default {
  data() {
    return {
      userType: "User",
      prevRoute: null,
      activationIcon: "warning",
      activationMessage: "We cannot find your activation code.",
      activationBanner: "text-white bg-red",
      email: "",
      password: "",
      isPwd: true,
      loading: false
    };
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.prevRoute = from;
    });
  },
  validations: {
    email: {
      required
    },
    password: {
      required,
      minLength: minLength(8)
    }
  },
  ...mapState("users", ["token"]),
  methods: {
    ...mapActions("users", [
      "setToken",
      "setUser",
      "setDelivery",
      "setFacebookUser"
    ]),
    ...mapActions("global", ["setLeftDrawer"]),
    getUserData() {
      const { api } = this.facebook.FB;
      api("/me", { fields: "id, name, email" }, user => {
        this.setFacebookUser(Object.assign({}, this.user, user));
        // api(`${this.user.id}/picture?width=9999&redirect=false`, picture => {
        //   if (picture) {
        //     if (picture.data.url === this.user.picture.data.url) {
        //       // Do not update
        //     } else {
        //       // this.$set(this.user, "picture", picture);
        //     }
        //   } else {
        //     // this.flags.nopicture = true;
        //   }
        // })
        var app = this;
        this.facebook.FB.getLoginStatus(function(response) {
          app.$axios
            .post("facebook_register", {
              accessToken: response.authResponse.accessToken,
              userType: app.userType
            })
            .then(res => {
              app.setToken(res.data.success.token);
              app.setUser(res.data.user);
              app.setDelivery(res.data.user);
              setAuthHeader(res.data.success.token);
              app.$q.notify({
                color: "positive",
                icon: "far fa-check-circle",
                message: `Your facebook successfully login.`
              });
              app.facebook.FB.logout(function(response) {});
              if (app.prevRoute.params.token !== undefined) {
                app.$router.push("/");
              } else {
                if (app.prevRoute.path === "/register") {
                  app.$router.push("/");
                } else if (app.prevRoute.path === "/checkout") {
                  app.$router.go(-1);
                } else {
                }
              }
            });
        });
      });
    },
    handleSdkInit({ FB, scope }) {
      this.facebook.scope = scope;
      this.facebook.FB = FB;
    },
    handleConnect() {
      this.getUserData();
    },
    handleLogout() {
      // eslint-disable-next-line
      console.info("[V-Facebook-Login info]: Logged `logout` event.");
    },
    handleClick() {
      // eslint-disable-next-line
      console.info("[V-Facebook-Login info]: Logged `click` event.");
    },
    back() {
      this.setLeftDrawer(true);
      this.$router.push("/");
    },
    login() {
      this.loading = true;
      this.$v.$touch();
      if (this.$v.$error) {
        this.$q.notify({
          message: "Please review your login credentials.",
          color: "negative",
          icon: "warning"
        });
        this.loading = false;
      } else {
        this.$axios
          .post("/login", {
            email: this.email,
            password: this.password
          })
          .then(res => {
            this.setToken(res.data.success.token);
            this.$q.cookies.set("token", res.data.success.token);
            this.$q.cookies.set("user", res.data.user);
            this.setUser(res.data.user);
            this.setDelivery(res.data.user);

            setAuthHeader(res.data.success.token);
            this.loading = false;
            this.setLeftDrawer(true);

            if (this.prevRoute.params.token !== undefined) {
              this.$router.push("/");
            } else {
              if (this.prevRoute.path === "/register") {
                this.$router.push("/");
              } else {
                this.$router.go(-1);
              }
            }
          })
          .catch(error => {
            this.loading = false;
            if (error.response.status === 401) {
              this.$q.notify({
                icon: "warning",
                color: "negative",
                message: error.response.data.error
              });
              return;
            }
            this.$q.notify({
              icon: "warning",
              color: "negative",
              message: error.message
            });
          });
      }
    }
  },
  mounted() {
    this.setLeftDrawer(false);
    if (this.$route.params.token !== undefined) {
      this.$axios.post(`register/${this.$route.params.token}`).then(res => {
        this.activationIcon = "far fa-check-circle";
        this.activationMessage =
          "You have successfully verified your email. You may now login.";
        this.activationBanner = "text-white bg-positive";
      });
    }
  }
};
</script>

<style>
.main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-wrapper {
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.form-wrapper,
.form-wrapper input,
.form-wrapper label {
  color: #000;
}

.header-login {
  text-align: center;
}

.formContainer,
.formContainer input,
.formContainer label {
  color: #000;
}

.formContainer {
  width: 600px;
  background: #ffffff;
  padding: 20px;
  margin: 5px;
}
</style>
