<template>
  <q-page class="docs-input row main flex flex-center">
    <q-card class="formContainer">
      <q-card-section>
        <p
          style="font-weight: bold; font-size: 24px; text-align:center; margin-bottom: 0px; padding-bottom: 0px;"
        >
          REGISTER ACCOUNT
        </p>
      </q-card-section>
      <q-card-section>
        <div class="row"></div>
        <div class="row">
          <div class="col-xs-6">
            <q-input
              debounce="500"
              v-model="$v.email.$model"
              label="Email"
              :error="$v.email.$error"
              :error-message="emailError"
              bottom-slots
            ></q-input>
          </div>
          <div class="col-xs-6">
            <q-input
              debounce="500"
              v-model="$v.mobile.$model"
              label="Mobile"
              class="q-ml-sm"
              :error="$v.mobile.$error"
              :error-message="mobileError"
              bottom-slots
            ></q-input>
          </div>

          <div class="col-xs-6">
            <q-input
              v-model="$v.password.$model"
              :type="isPwd ? 'password' : 'text'"
              label="Password"
              @keyup.enter="register"
              :error="$v.password.$error"
              error-message="Password must be at least 8 characters."
              bottom-slots
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>
          </div>
          <div class="col-xs-6">
            <q-input
              class="q-ml-sm"
              v-model="$v.confirm_password.$model"
              type="password"
              label="Confirm Password"
              :error="$v.confirm_password.$error"
              error-message="Must be the same as password."
            ></q-input>
          </div>
        </div>
      </q-card-section>

      <q-btn
        @click="back"
        type="submit"
        color="negative"
        class="q-ml-md"
        no-caps
        >Cancel</q-btn
      >
      <q-btn
        @click="register"
        type="submit"
        color="primary"
        class="q-ml-md"
        no-caps
        >Register</q-btn
      >
    </q-card>
  </q-page>
</template>
<script>
import {
  required,
  email,
  integer,
  sameAs,
  minLength,
  maxLength
} from "vuelidate/lib/validators";
import { mapActions } from "vuex";

export default {
  data() {
    return {
      userType: "User",
      mobileError: "Mobile # must be integer(11) and required.",
      emailError: "Valid email is required.",
      usernameError: "Username is required.",
      isPwd: true,
      firstname: "",
      middlename: "",
      lastname: "",
      mobile: "",
      email: "",
      password: "",
      confirm_password: ""
    };
  },
  validations: {
    email: {
      isUnique(value) {
        this.emailError = "Valid email is required.";
        return this.$axios
          .get(
            `/user/validator/email?email=${value}&id=${this.$route.params.id}`
          )
          .then(res => {
            console.log(res);
            return true;
          })
          .catch(err => {
            console.log(err);
            this.emailError = "Email has already been taken.";
            return false;
          });
      },
      required,
      email
    },
    mobile: {
      isUnique(value) {
        this.mobileError = "Mobile # must be integer(11) and required.";
        return this.$axios
          .get(
            `/user/validator/mobile?mobile=${value}&id=${this.$route.params.id}`
          )
          .then(res => {
            console.log(res);
            return true;
          })
          .catch(err => {
            console.log(err);
            this.mobileError = "Mobile has already been taken.";
            return false;
          });
      },
      minLength: minLength(11),
      maxLength: maxLength(11),
      required,
      integer
    },
    password: {
      required,
      minLength: minLength(8)
    },
    confirm_password: {
      sameAsPassword: sameAs("password")
    }
  },
  methods: {
    ...mapActions("global", ["setLeftDrawer"]),
    back() {
      this.$router.push("/");
    },
    register() {
      this.$v.$touch();
      if (this.$v.$error) {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          message: `Please check error fields.`
        });
      } else {
        this.$axios
          .post("user_register", {
            userType: this.userType,
            firstname: this.firstname,
            middlename: this.middlename,
            lastname: this.lastname,
            mobile: this.mobile,
            email: this.email,
            username: this.username,
            password: this.password
          })
          .then(res => {
            this.firstname = "";
            this.middlename = "";
            this.lastname = "";
            this.mobile = "";
            this.username = "";
            this.email = "";
            this.password = "";
            this.confirm_password = "";
            this.$v.$reset();
            this.$q.notify({
              color: "positive",
              icon: "far fa-check-circle",
              message: `New Account successfully created. Please check your email.`
            });
          })
          .catch(err => {
            this.$q.notify({
              color: "negative",
              icon: "fas fa-exclamation-circle",
              message: `Please reload and try again.`
            });
          });
      }
    }
  },
  mounted() {
    this.setLeftDrawer(false);
  }
};
</script>

<style>
.main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-wrapper {
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.form-wrapper,
.form-wrapper input,
.form-wrapper label {
  color: #000;
}

.header-login {
  text-align: center;
}

.formContainer,
.formContainer input,
.formContainer label {
  color: #000;
}

.formContainer {
  width: 700px;
  max-width: 90vw;
  background: #ffffff;
  padding: 20px;
  overflow: hidden;
}
</style>
