<template>
  <generic-store
    :payment-request="paymentRequest"
    icon="add_circle"
    ref="store"
  >
    <div class="col-12">
      <q-btn @click="cancel" color="secondary" label="Back" class="q-ma-sm" />
      <q-btn @click="add" color="primary" label="Submit" class="q-ma-sm" />
    </div>
  </generic-store>
</template>
<script>
import genericStore from 'pages/dashboard/payment-requests/form/generic-store'
import { mapState } from 'vuex'
export default {
  components: {
    genericStore
  },
  computed: {
    ...mapState('paymentRequest', ['paymentRequest'])
  },
  methods: {
    add () {
      this.$refs.store.add()
    },
    cancel () {
      this.$refs.store.cancel()
    }
  }
}
</script>
