<template>
  <generic-store
    :products="products"
    icon="add_circle"
    ref="store"
    :name="name"
    :address="address"
    :mobile="user.mobile"
    :images="paymentImages"
  >
    <div class="col-12">
      <q-btn @click="cancel" color="negative" label="Back" class="q-ma-sm" />
      <q-btn @click="update" color="positive" label="Update" class="q-ma-sm" />
      <q-btn @click="print" color="primary" label="Print" class="q-ma-sm" />
    </div>
  </generic-store>
</template>
<script>
import genericStore from "pages/dashboard/payment-requests/form/generic-store";
import { mapState } from "vuex";
export default {
  components: {
    genericStore
  },
  computed: {
    ...mapState("users", ["user"]),
    ...mapState("SPR", ["products", "address", "paymentImages"]),
    name() {
      return this.user.lastname + ", " + this.user.firstname;
    }
  },
  methods: {
    print() {
      this.$refs.store.print();
    },
    cancel() {
      this.$refs.store.cancel();
    },
    update() {
      this.$refs.store.update();
    }
  }
};
</script>
