<template>
  <div class="q-ma-sm">
    <form @submit.prevent="$emit('add')">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-h5 q-ma-sm">
            <q-icon name="add_circle" color="grey" />
            {{ deliveryPrice.name }}
          </p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <q-input
            dense
            outlined
            v-model="$v.locDeliveryPrice.name.$model"
            label="Delivery Price Name"
            :error="$v.locDeliveryPrice.name.$error"
            bottom-slots
            error-message="Delivery Price Name is required."
          />
        </div>
        <div class="col-sm-4 col-xs-6">
          <amount
            label="Amount"
            :value="$v.locDeliveryPrice.amount.$model"
            v-model="$v.locDeliveryPrice.amount.$model"
            :error="$v.locDeliveryPrice.amount.$error"
            bottom-slots
            error-message="Amount is required."
            dense
            class="q-ml-sm"
          ></amount>
        </div>
        <div class="col-sm-2 col-xs-6">
          <q-toggle v-model="locDeliveryPrice.is_default" label="Default" />
        </div>
      </div>
    </form>
    <slot></slot>
  </div>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
import amount from 'components/inputs/amount'
export default {
  components: {
    amount
  },
  props: ['deliveryPrice'],
  validations: {
    locDeliveryPrice: {
      name: {
        required
      },
      amount: {
        required
      }
    }
  },
  data () {
    return {
      locDeliveryPrice: {
        name: '',
        amount: 0
      }
    }
  },
  methods: {
    add () {
      this.$v.$touch()
      if (this.$v.$error) {
        this.$q.notify({
          color: 'negative',
          icon: 'warning',
          message: `Please check the fields.`
        })
      } else {
        this.$axios.post('delivery_price', this.locDeliveryPrice).then(res => {
          this.$q.notify({
            color: 'positive',
            icon: 'fas fa-check-circle',
            message: `${this.locDeliveryPrice.name} created successfully.`
          })
          this.locDeliveryPrice = {
            name: '',
            amount: 0,
            is_default: true
          }
          this.$v.$reset()
        })
      }
    },
    update () {
      this.$v.$touch()
      if (this.$v.$error) {
        this.$q.notify({
          color: 'negative',
          icon: 'warning',
          message: `Please check the required fields.`
        })
      } else {
        this.$axios
          .put(
            `delivery_price/${this.locDeliveryPrice.optimus_id}`,
            this.locDeliveryPrice
          )
          .then(res => {
            this.$q.notify({
              color: 'positive',
              icon: 'fas fa-check-circle',
              message: `${this.locDeliveryPrice.name} created successfully.`
            })
          })
      }
    },
    cancel () {
      this.$router.go(-1)
    }
  },
  mounted () {
    this.locDeliveryPrice = this.deliveryPrice
  }
}
</script>
