<template>
  <div class="q-mr-sm">
    <div class="row">
      <div class="col-xs-12">
        <q-breadcrumbs
          class="text-negative"
          active-color="black"
          style="padding: 10px; margin: 5px; "
        >
          <template v-slot:separator>
            <q-icon size="1.5em" name="chevron_right" color="black" />
          </template>
          <q-breadcrumbs-el icon="home" to="/">
            <strong style="font-size: 14px; letter-spacing: 1px;">&nbsp;Home</strong>
          </q-breadcrumbs-el>
          <q-breadcrumbs-el to="/catalogs" v-if="$route.path !== '/'">
            <strong style="font-size: 14px; letter-spacing: 1px;">Catalog</strong>
          </q-breadcrumbs-el>
        </q-breadcrumbs>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3" v-for="(c, i) in catalogs" :key="i">
        <q-card class="q-ml-sm q-mt-sm">
          <q-btn :label="c.name" class="full-width" flat />
          <q-separator />
          <q-list>
            <q-item clickable v-for="(p, index) in c.products" :key="index" @click="productNav(p)">
              <q-item-section thumbnail>
                <span v-if="p.images.length > 0">
                  <img :src="p.images[0].path_url" style="width: 60px; padding: 5px;" />
                </span>
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ p.name }}</q-item-label>
                <q-item-label caption>
                  <span style="text-decoration:line-through;">
                    Before: {{
                    p.price | currency("₱", 2)
                    }}
                  </span>
                  &nbsp;
                  <span class="text-subtitle2 text-negative">
                    {{
                    p.discounted_price | currency("₱", 2)
                    }}
                  </span>
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      catalogs: []
    };
  },
  methods: {
    productNav(product) {
      this.$router.push({
        path: `/products/${product.category_slug_name}/${product.optimus_id}/${product.slug_name}`
      });
    },
    getCatalogs() {
      this.$axios.get("catalogs").then(res => {
        this.catalogs = res.data.catalogs;
      });
    }
  },
  mounted() {
    this.getCatalogs();
  }
};
</script>
