<template>
  <div>
    <div class="row">
      <div class="col-xs-12">
        <!-- <GmapMap
          :center="markersPosition"
          :zoom="13"
          map-type-id="terrain"
          :style="this.report"
          :radius="300"
        >
          <gmap-circle
            :center="{ lat: 10.341354563413713, lng: 123.93968547094724 }"
            :radius="2600"
            :options="mapCenterOptions"
          ></gmap-circle>
          <GmapMarker
            :key="index"
            v-for="(m, index) in markers"
            :position="m.position"
            :clickable="true"
            :draggable="true"
            @click="infoWindow = true"
            @dragend="dragend($event.latLng)"
          />
          <gmap-info-window
            :options="infoOptions"
            :position="markersPosition"
            :opened="infoWindow"
            @closeclick="infoWindow = false"
          >
            <div>
              Please move the marker
              <br />to the nearest street...
            </div>
          </gmap-info-window>
        </GmapMap> -->
        <q-resize-observer @resize="onResize" />
      </div>

      <div class="col-sm-6 col-xs-12">
        <q-card class="my-card q-mt-sm q-mr-sm">
          <q-card-section class="text-center text-subtitle1">
            <strong>CHOOSE A PAYMENT METHOD</strong>
          </q-card-section>
          <q-separator inset />
          <q-card-section>
            <q-list>
              <q-item tag="label" v-ripple>
                <q-item-section avatar>
                  <q-radio v-model="paymentOption" val="1" color="teal" />
                </q-item-section>
                <q-item-section>
                  CASH On Delivery
                </q-item-section>
              </q-item>
              <q-item tag="label" v-ripple>
                <q-item-section avatar top>
                  <q-radio v-model="paymentOption" val="2" color="cyan" />
                </q-item-section>
                <q-item-section>
                  GCASH On Delivery
                </q-item-section>
              </q-item>
              <q-item tag="label" v-ripple>
                <q-item-section avatar top>
                  <q-radio v-model="paymentOption" val="3" color="cyan" />
                </q-item-section>
                <q-item-section>
                  PAYMAYA On Delivery
                </q-item-section>
              </q-item>
              <!-- <q-item tag="label" v-ripple>
                <q-item-section avatar>
                  <q-radio
                    v-model="paymentOption"
                    val="2"
                    color="orange"
                    disable
                  />
                </q-item-section>

                <q-item-section>On progress...</q-item-section>
                <q-item-section>
                  <img src="/paypal.png" width="100" />
                </q-item-section>
              </q-item> -->
            </q-list>
          </q-card-section>
        </q-card>
      </div>

      <div class="col-sm-6 col-xs-12">
        <q-card class="my-card q-mt-sm q-mr-sm">
          <q-card-section class="text-center text-subtitle1">
            <strong>YOUR ORDER</strong>
          </q-card-section>
          <q-separator inset />
          <q-card-section>
            <q-btn
              class="q-ml-sm float-right checkout-address"
              label="Select Address"
              icon="fas fa-check-circle"
              @click="selectAddressMethod()"
            />
            <q-btn
              class="float-right checkout-address"
              label="Add Address"
              icon="fas fa-plus-circle"
              @click="medium = true"
            />
            <br />
            <br />
            <div class="q-pl-sm q-mt-md" style="clear: both">
              <strong class="checkout-del-add">DELIVERY ADDRESS: </strong>
              {{ address.complete_address }}
            </div>
            <br />
            <q-input
              outlined
              label="Receiver's Mobile #"
              v-model="$v.mobile.$model"
              error-message="Mobile must be 11 digits."
              :error="$v.mobile.$error"
              class="q-pl-sm"
              dense
            ></q-input>
            <q-separator />
            <q-list separator>
              <q-item to="/cart">
                <q-item-section avatar>
                  <q-icon name="shopping_cart" color="primary" />
                </q-item-section>
                <q-item-section class="text-h5">
                  Grand Total: &nbsp;
                  {{ totalCart | currency("₱") }}
                </q-item-section>
              </q-item>
            </q-list>
            <q-btn color="primary" @click="submit()" class="full-width"
              >Submit</q-btn
            >
          </q-card-section>
        </q-card>
      </div>
    </div>
    <q-dialog v-model="medium">
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section>
          <div class="text-h6">
            Add Delivery Address
            <q-toggle v-model="address.is_default" label="Default Address" />
          </div>
        </q-card-section>

        <q-card-section>
          <!-- <q-select
            outlined
            dense
            label="Province"
            v-model="address.province_id"
            :options="provinces"
            use-input
            @filter="filterProvince"
          ></q-select>-->
          <q-select
            outlined
            dense
            label="City"
            v-model="address.city_id"
            :options="cities"
            @filter="filterCity"
            use-input
            class="q-mt-sm"
            readonly
          ></q-select>
          <q-select
            outlined
            dense
            label="Brgy"
            v-model="address.brgy_id"
            :options="brgys"
            @filter="filterBrgy"
            use-input
            class="q-mt-sm"
          ></q-select>
          <q-input
            type="textarea"
            outlined
            dense
            label="Street, Block and Lot No."
            v-model="address.street_lot_blk"
            class="q-mt-sm"
          ></q-input>
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-primary">
          <q-btn label="Cancel" v-close-popup color="negative" />
          <q-btn label="Submit" @click="addAddress" color="primary" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="selectAddress">
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section>
          <generic-table
            :data="serverData"
            :columns="columns"
            :pagination="serverPagination"
            @serverside-request="request"
            @selected="selected"
            ref="cat"
            :loading="loading"
            entity="Catalog"
          ></generic-table>
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-primary">
          <q-btn color="negative" label="Close" v-close-popup />
          <q-btn color="primary" label="Update" @click="selectedAddress" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <br />
    <br />
  </div>
</template>

<script>
import { values, head } from "lodash";
import { Loading, debounce } from "quasar";
import { integer, required, minLength } from "vuelidate/lib/validators";
import { mapState, mapActions } from "vuex";
import genericTable from "components/data-table/select-address";
import axios from "axios";
export default {
  components: {
    genericTable
  },
  validations: {
    mobile: {
      required,
      integer,
      minLength: minLength(11)
    }
  },
  data() {
    return {
      globeCode: "",
      mapCenterOptions: {
        strokeColor: "#FF0000",
        strokeOpacity: 0.8,
        strokeWeight: 1,
        fillColor: "#FFFFFF",
        fillOpacity: 0
      },
      paymentOption: "1",
      serverPagination: {
        page: 1,
        rowsNumber: 10,
        rowsPerPage: 10 // specifying this determines pagination is server-side
      },
      selectedValue: "",
      columns: [
        {
          name: "complete_address",
          label: "DELIVERY ADDRESS",
          field: row => {
            if (row.address != null) {
              return row.address.complete_address;
            }
          },
          align: "left"
        }
      ],
      loading: false,
      serverData: [],
      debouncedFunction: "",
      selectAddress: false,
      count: 0,
      brgys: [],
      cities: [],
      provinces: [],
      medium: false,
      delivery_amount: 0,
      report: "width: 300px; height:400px;",
      infoOptions: {
        pixelOffset: {
          width: 0,
          height: -38
        }
      },
      infoWindow: true,
      markersPosition: {
        lat: 10.341354563413713,
        lng: 123.93968547094724
      },
      markers: [
        {
          position: {
            lat: 10.341354563413713,
            lng: 123.93968547094724
          }
        }
      ],
      step: 1,
      buttonStyle: {
        label: "checkout",
        locale: "fr_FR",
        size: "large",
        shape: "rect",
        color: "gold",
        fundingicons: "true"
      },

      locProvinces: [],
      locCities: [],
      locBrgys: [],
      locDelCities: [],
      locDelBrgys: []
    };
  },
  computed: {
    ...mapState("users", ["token", "user", "delivery"]),
    ...mapState("global", ["cart", "deliveryPrice"]),
    address: {
      get() {
        return this.$store.getters["checkout/address"];
      },
      set(val) {
        this.setAddress(val);
      }
    },
    mobile: {
      get() {
        return this.$store.getters["checkout/mobile"];
      },
      set(val) {
        this.setMobile(val);
      }
    },
    totalCart() {
      return String(this.$store.getters["global/totalCart"]);
    },

    paymentOptions() {
      return this.$store.getters["paymentOptions/paymentOptions"].map(e => {
        return {
          label: e.name,
          value: e.optimus_id
        };
      });
    }
  },
  methods: {
    ...mapActions("global", [
      "setProvinces",
      "setCities",
      "setBrgys",
      "setDelCities",
      "setDelBrgys",
      "setCart",
      "setDefaultCart",
      "setLeftDrawer"
    ]),
    ...mapActions("paymentOptions", ["setPaymentOptions"]),
    ...mapActions("checkout", [
      "setMobile",
      "setPaymentOptionn",
      "setMarkersPosition",
      "setAddress"
    ]),
    ...mapActions("payments", ["setCartt", "setPayment", "setGrandTotal"]),
    checkGlobeCode() {
      if (this.globeCode != "") {
        // console.log("processing...");
        this.$axios.post("globe_codes").then(res => {
          console.log(res.data);
        });
      }
    },
    submit() {
      this.cashOnDelivery();
    },
    selectedAddress() {
      if (this.selectedValue !== "") {
        this.$axios
          .post(`selected_address`, head(this.selectedValue))
          .then(res => {
            this.$q.notify({
              color: "positive",
              icon: "far fa-check-circle",
              message: `Delivery address updated.`
            });
            this.getAddress();
          });
      } else {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          message: `Please select a default address.`
        });
      }
    },
    selected(val) {
      this.selectedValue = val;
    },
    filterProvince(val, update, abort) {
      // call abort() at any time if you can't retrieve data somehow
      setTimeout(() => {
        update(() => {
          const needle = val.toLowerCase();
          this.provinces = this.locProvinces.filter(
            v => v.label.toLowerCase().indexOf(needle) > -1
          );
        });
      }, 500);
    },
    filterCity(val, update, abort) {
      // call abort() at any time if you can't retrieve data somehow
      setTimeout(() => {
        update(() => {
          const needle = val.toLowerCase();
          this.cities = this.locCities.filter(
            v => v.label.toLowerCase().indexOf(needle) > -1
          );
        });
      }, 500);
    },
    filterBrgy(val, update, abort) {
      // call abort() at any time if you can't retrieve data somehow
      setTimeout(() => {
        update(() => {
          const needle = val.toLowerCase();
          this.brgys = this.locBrgys.filter(
            v => v.label.toLowerCase().indexOf(needle) > -1
          );
        });
      }, 500);
    },
    checkDeliveryAddress() {
      if (
        this.address.province_id === null ||
        this.address.city_id === null ||
        this.address.brgy_id === null
      ) {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          message: `Delivery Address is required.`
        });
        return false;
      } else {
        return true;
      }
    },
    addresss() {
      var a = this.address;
      let provinceId = null;
      if (a.province_id !== null) {
        provinceId = a.province_id.value;
      }
      let cityId = null;
      if (a.city_id !== null) {
        cityId = a.city_id.value;
      }
      let brgyId = null;
      if (a.brgy_id !== null) {
        brgyId = a.brgy_id.value;
      }
      return {
        is_default: a.is_default,
        province_id: provinceId,
        city_id: cityId,
        brgy_id: brgyId,
        street_lot_blk: a.street_lot_blk,
        latitude: this.markersPosition.lat,
        longitude: this.markersPosition.lng
      };
    },
    addAddress() {
      this.$axios
        .post(`delivery_address`, this.addresss())
        .then(res => {
          this.count = 0;
          this.medium = false;
          this.getAddress();
          this.$q.notify({
            color: "positive",
            icon: "fas fa-check-circle",
            message: `Delivery address has been updated.`
          });
        })
        .catch(res => {});
    },
    getProvinces() {
      this.$axios.get("provinces").then(res => {
        this.provinces = res.data.provinces;
        this.locProvinces = res.data.provinces;
      });
    },
    paypalPayment() {
      this.$v.$touch();
      if (this.$v.$error) {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          message: `Please check required fields.`
        });
      } else {
        Loading.show();
        this.$axios
          .post("paypal_payments_create", {
            cart: this.cart
          })
          .then(res => {
            this.setMarkersPosition(this.markersPosition);
            Loading.hide();
            this.setCartt(this.cart);
            window.open(res.data.url, "_self");
          })
          .catch(res => {
            Loading.hide();
            this.$q.notify({
              color: "negative",
              icon: "warning",
              message: `An error occurred. Please try again...`
            });
          });
      }
    },
    getLocation() {
      var app = this;
      navigator.geolocation.watchPosition(
        function(position) {
          navigator.geolocation.getCurrentPosition(app.showPosition);
        },
        function(error) {}
      );
    },
    showPosition(position) {
      this.markersPosition = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };

      this.markers = [
        {
          position: {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          }
        }
      ];
    },
    fd() {
      return {
        globeCode: this.globeCode,
        mobile: this.mobile,
        lat: this.markersPosition.lat,
        lng: this.markersPosition.lng,
        payment_option_id: this.paymentOption,
        grand_total: this.totalCart,
        delivery_amount: this.deliveryPrice,
        products: this.cart
      };
    },
    cashOnDelivery() {
      if (this.checkDeliveryAddress()) {
        this.$v.$touch();
        if (this.$v.$error) {
          this.$q.notify({
            color: "negative",
            icon: "warning",
            message: `Please check required fields.`
          });
        } else {
          Loading.show();
          this.$axios
            .post("payments_cod", this.fd())
            .then(res => {
              Loading.hide();
              this.setDefaultCart([]);
              this.setPayment(res.data.payment);
              this.setGrandTotal(res.data.grandTotal);
              this.setLeftDrawer(true);
              this.$router.push({
                path: `dashboard/my-payments/${res.data.payment.optimus_id}`
              });
              this.$q.notify({
                color: "positive",
                icon: "fas fa-check-circle",
                message: `Transaction completed.`
              });
            })
            .catch(res => {
              Loading.hide();
              this.$q.notify({
                color: "negative",
                icon: "warning",
                message: `An error occurred. Please try again...`
              });
            });
        }
      }
    },
    peraPadala() {
      this.$v.$touch();
      if (this.$v.$error) {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          message: `Please check required fields.`
        });
      } else {
        this.$axios
          .post("payments_pera_padala", {
            mobile: this.mobile,
            lat: this.markersPosition.lat,
            lng: this.markersPosition.lng,
            payment_option_id: this.paymentOption,
            grand_total: this.totalCart,
            delivery_amount: this.deliveryPrice,
            products: this.cart
          })
          .then(res => {
            Loading.hide();
            this.setDefaultCart([]);
            this.setPayment(res.data.payment);
            this.setGrandTotal(res.data.grandTotal);
            this.$router.push({
              path: `dashboard/my-payments/${res.data.payment.optimus_id}`
            });
            this.$q.notify({
              color: "positive",
              icon: "fas fa-check-circle",
              message: `Transaction needs attachment as a proof of payment.`
            });
          })
          .catch(res => {
            Loading.hide();
            this.$q.notify({
              color: "negative",
              icon: "warning",
              message: `An error occurred. Please try again...`
            });
          });
      }
    },
    onResize(size) {
      this.report = `width:${size.width}px; height: ${size.height}px`;
    },
    dragend(latLng) {
      this.markersPosition = {
        lat: latLng.lat(),
        lng: latLng.lng()
      };
      console.log(this.markersPosition);
    },
    getPaymentOptions() {
      this.$axios.get("payment_options").then(res => {
        this.setPaymentOptions(res.data.paymentOptions);
      });
    },
    selectAddressMethod() {
      this.request({
        pagination: this.serverPagination,
        filter: this.filter
      });
      this.selectAddress = true;
    },
    getAddress() {
      this.$q.loading.show();

      this.$axios
        .get("default_address")
        .then(res => {
          let a = res.data.address;
          let province = null;
          if (a.province != null) {
            // CEBU 722
            province = {
              label: a.province.description,
              value: a.province.id
            };
          }
          let city = null;
          if (a.city != null) {
            city = {
              label: a.city.description,
              value: a.city.id
            };
          }
          let brgy = null;
          if (a.brgy != null) {
            brgy = {
              label: a.brgy.description,
              value: a.brgy.id
            };
          }
          this.address = {
            // province
            province_id: {
              label: "CEBU",
              value: 722
            },
            city_id: {
              label: "MANDAUE CITY",
              value: 72230
            },
            brgy_id: brgy,
            complete_address: a.complete_address,
            is_default: a.is_default,
            street_lot_blk: a.street_lot_blk
          };
          this.$q.loading.hide();
        })
        .catch(res => {
          this.$q.loading.hide();
        });
    },
    request(props) {
      this.debouncedFunction(props);
    },
    getBrgys() {
      this.$axios.get(`/brgys/72230`).then(res => {
        this.brgys = res.data.brgys;
        this.locBrgys = res.data.brgys;
        if (this.count > 1) {
          this.address.brgy = null;
        }
        this.address = {
          // province
          province_id: {
            label: "CEBU",
            value: 722
          },
          city_id: {
            label: "MANDAUE CITY",
            value: 72230
          },
          brgy_id: null,
          complete_address: "",
          is_default: true,
          street_lot_blk: ""
        };
      });
    }
  },
  mounted() {
    let url = new URL(window.location.href);
    let params = new URLSearchParams(url.search);
    let code = params.get("code");
    if (code != null) {
      this.globeCode = code;
      this.checkGlobeCode();
    }
    // this.getLocation();
    if (this.token === "") {
      this.$router.push("/login");
    }
    this.getBrgys();
    this.getAddress();
    this.getProvinces();
    this.getPaymentOptions();

    this.debouncedFunction = debounce(props => {
      this.loading = true;
      this.$axios
        .get(
          `/delivery_address?page=${props.pagination.page}&perPage=${props.pagination.rowsPerPage}`
        )
        .then(res => {
          this.serverPagination = props.pagination;
          this.serverData = values(res.data.deliveryAddress.data);
          this.serverPagination.rowsNumber = res.data.deliveryAddress.total;
          this.lastPage = res.data.deliveryAddress.last_page;
          this.loading = false;
        })
        .catch(err => {
          this.catch(err);
        });
    }, 500);

    this.request({
      pagination: this.serverPagination,
      filter: this.filter
    });
  },
  watch: {
    "address.province_id"(val) {
      this.count += 1;
      if (val != null) {
        this.$axios.get(`/cities/${val.value}`).then(res => {
          this.cities = res.data.cities;
          this.locCities = res.data.cities;
          if (this.count > 1) {
            this.address.city = null;
            this.address.brgy = null;
            this.address.street_lot_blk = "";
          }
        });
      }
    },
    "address.city_id"(val) {
      if (val != null) {
        this.$axios.get(`/brgys/${val.value}`).then(res => {
          this.brgys = res.data.brgys;
          this.locBrgys = res.data.brgys;
          if (this.count > 1) {
            this.address.brgy = null;
          }
        });
      }
    },
    markersPosition(val) {
      console.log(val);
    }
  }
};
</script>

<style>
@media screen and (max-width: 407px) {
  .checkout-address {
    float: none !important;
    margin: 5px;
    width: 100%;
  }
  .checkout-del-add {
    display: inline-block;
  }
}
.vue-map-container .gm-ui-hover-effect {
  display: none !important;
}
</style>
