<template>
  <div>
    <q-table
      :grid="grid"
      :data="data"
      :columns="columns"
      selection="single"
      :selected.sync="selected"
      row-key="id"
      :pagination.sync="paginationControl"
      :filter="filterOpts"
      @request="$emit('serverside-request', $event)"
      :title="title"
      :loading="loading"
    >
      <template v-slot:top-right>
        <q-btn @click="$emit('add')" color="primary" round size="sm">
          <q-tooltip
            transition-show="flip-right"
            transition-hide="flip-left"
            content-class="bg-primary"
            content-style="font-size: 16px"
            anchor="top left"
            :offset="[30, 30]"
            >Add {{ entity }}</q-tooltip
          >
          <q-icon name="add" />
        </q-btn>
        <q-input
          borderless
          dense
          debounce="300"
          v-model="filterOpts"
          :placeholder="searchPlaceholder"
          outlined
          class="q-ma-sm"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      <template v-slot:item="props">
        <div
          class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-style-transition "
          :style="props.selected ? 'transform: scale(0.95);' : ''"
        >
          <q-card>
            <q-card-section>
              <div>
                <span class="text-body1 "
                  ><strong>INVOICE NO: </strong>
                  {{ props.row.invoice_no }}</span
                >
              </div>
              <div style="clear: both" />
            </q-card-section>
            <q-separator />
            <q-list dense>
              <template v-for="(col, k) in props.cols">
                <q-item :key="k">
                  <q-item-section>
                    <q-item-label overline>{{ col.name }}</q-item-label>
                  </q-item-section>
                  <q-item-section side>
                    <q-item-label caption>{{ col.value }}</q-item-label>
                  </q-item-section>
                </q-item>
              </template>
              <q-item>
                <q-item-section>
                  <q-item-label overline>PRODUCTS</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-item-label caption>
                    <div style="width: 200px; margin-bottom: 5px;">
                      <q-btn-dropdown
                        split
                        color="primary"
                        label="Products"
                        style="float: right;"
                        @click="
                          $emit('view', {
                            optimusId: props.row.optimus_id,
                            branchId: props.row.branch_id
                          })
                        "
                      >
                        <q-list>
                          <q-item
                            clickable
                            v-close-popup
                            @click="
                              $emit('comments', {
                                optimusId: props.row.optimus_id,
                                branchId: props.row.branch_id
                              })
                            "
                          >
                            <q-item-section>
                              <q-item-label>
                                <q-icon
                                  name="far fa-comments"
                                  size="sm"
                                />&nbsp; Comments
                              </q-item-label>
                            </q-item-section>
                          </q-item>

                          <q-item
                            clickable
                            v-close-popup
                            @click="$emit('approve', props.row.optimus_id)"
                            :disable="props.row.disabled === true"
                          >
                            <q-item-section>
                              <q-item-label>
                                <q-icon
                                  name="far fa-thumbs-up"
                                  size="sm"
                                />&nbsp; Approve
                              </q-item-label>
                            </q-item-section>
                          </q-item>

                          <q-item
                            clickable
                            v-close-popup
                            @click="$emit('disapprove', props.row.optimus_id)"
                            :disable="props.row.disabled === true"
                          >
                            <q-item-section>
                              <q-item-label>
                                <q-icon
                                  name="far fa-thumbs-down"
                                  size="sm"
                                />&nbsp; Disapprove
                              </q-item-label>
                            </q-item-section>
                          </q-item>
                        </q-list>
                      </q-btn-dropdown>
                      <div style="clear: both;"></div>
                      <p
                        v-if="props.row.is_disapprove === true"
                        class="text-negative q-ma-sm"
                      >
                        Products declined by the seller.
                      </p>
                      <p
                        v-if="props.row.is_approve === true"
                        class="text-positive q-ma-sm"
                      >
                        Products has been approved by the seller.
                      </p>
                    </div>
                  </q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-card>
        </div>
      </template>
    </q-table>
  </div>
</template>

<script>
function truncate(text, max) {
  return text.substr(0, max - 1) + (text.length > max ? "..." : "");
}
export default {
  props: {
    entity: {
      type: [String],
      default: null
    },
    // the table data
    searchPlaceholder: {
      type: [String],
      default: null
    },
    grid: {
      Boolean,
      default: false
    },
    data: {
      type: [Array, Object],
      default: null
    },
    // column definition
    columns: {
      type: [Array, Object],
      default: null
    },
    search: {
      Boolean,
      default: true
    },
    // current pagination settings of the table
    pagination: {
      type: Object,
      default: () => {
        return {
          rowsPerPage: 7,
          page: 1
        };
      }
    },
    rowOptions: {
      type: Array,
      default: () => [3, 5, 7, 10, 15, 25, 50, 0]
    },

    // the filter model of your table
    searchField: {
      type: String,
      default: () => ""
    },

    title: {
      type: String,
      default: () => ""
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      selected: []
    };
  },
  computed: {
    paginationControl: {
      set() {},
      get() {
        return this.pagination;
      }
    },
    filterOpts: {
      set(val) {
        this.$emit("search-change", val);
      },
      get() {
        return this.searchField;
      }
    }
  },
  methods: {
    allchildren(row) {
      var res = [];
      const cb = e => {
        res.push(e.name);
        e.all_children && e.all_children.forEach(cb);
      };
      row.all_children.forEach(cb);
      return truncate(res.toString(), 30);
    }
  },
  watch: {
    selected(val) {
      this.$emit("selected", val);
    }
  }
};
</script>
