<template>
  <div>
    <q-table
      :grid="grid"
      :data="data"
      :columns="columns"
      selection="single"
      :selected.sync="selected"
      row-key="id"
      :pagination.sync="paginationControl"
      :filter="filterOpts"
      @request="$emit('serverside-request', $event)"
      :title="title"
      :loading="loading"
    >
      <template v-slot:item="props">
        <div
          class="q-pa-xs col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-style-transition "
          :style="props.selected ? 'transform: scale(0.95);' : ''"
        >
          <q-card>
            <q-list dense>
              <template v-for="(col, k) in props.cols">
                <q-item :key="k">
                  <q-item-section>
                    <q-item-label overline>{{ col.name }}</q-item-label>
                  </q-item-section>
                  <q-item-section side>
                    <q-item-label caption>{{ col.value }}</q-item-label>
                  </q-item-section>
                </q-item>
              </template>
            </q-list>
          </q-card>
        </div>
      </template>
    </q-table>
  </div>
</template>

<script>
function truncate(text, max) {
  return text.substr(0, max - 1) + (text.length > max ? "..." : "");
}
export default {
  props: {
    entity: {
      type: [String],
      default: null
    },
    // the table data
    searchPlaceholder: {
      type: [String],
      default: null
    },
    grid: {
      Boolean,
      default: false
    },
    data: {
      type: [Array, Object],
      default: null
    },
    // column definition
    columns: {
      type: [Array, Object],
      default: null
    },
    search: {
      Boolean,
      default: true
    },
    // current pagination settings of the table
    pagination: {
      type: Object,
      default: () => {
        return {
          rowsPerPage: 7,
          page: 1
        };
      }
    },
    rowOptions: {
      type: Array,
      default: () => [3, 5, 7, 10, 15, 25, 50, 0]
    },

    // the filter model of your table
    searchField: {
      type: String,
      default: () => ""
    },

    title: {
      type: String,
      default: () => ""
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      selected: []
    };
  },
  computed: {
    paginationControl: {
      set() {},
      get() {
        return this.pagination;
      }
    },
    filterOpts: {
      set(val) {
        this.$emit("search-change", val);
      },
      get() {
        return this.searchField;
      }
    }
  },
  methods: {
    allchildren(row) {
      var res = [];
      const cb = e => {
        res.push(e.name);
        e.all_children && e.all_children.forEach(cb);
      };
      row.all_children.forEach(cb);
      return truncate(res.toString(), 30);
    }
  },
  watch: {
    selected(val) {
      this.$emit("selected", val);
    }
  }
};
</script>
