<template>
  <div>
    <q-table
      :data="data"
      :columns="columns"
      selection="single"
      :selected.sync="selected"
      row-key="optimus_id"
      :pagination.sync="paginationControl"
      :filter="filterOpts"
      @request="$emit('serverside-request', $event)"
      :title="title"
      :loading="loading"
    >
      <template v-slot:top-right>
        <slot></slot>
        <q-input
          borderless
          dense
          debounce="300"
          v-model="filterOpts"
          :placeholder="searchPlaceholder"
          outlined
          class="q-ma-sm"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <!-- <q-tr :props="props" :class="'cursor-pointer'" @click.native="props.selected = !props.selected"> -->
          <q-td auto-width>
            <q-btn
              size="sm"
              color="primary"
              round
              dense
              @click="props.expand = !props.expand"
              :icon="props.expand ? 'keyboard_arrow_down' : 'keyboard_arrow_right'"
            />
          </q-td>

          <q-td :key="col.name" :props="props" v-for="col in props.cols">{{ col.value }}</q-td>
        </q-tr>
        <q-tr v-show="props.expand" :props="props">
          <q-td colspan="100%">
            <div class="q-ml-lg q-mt-md">
              <div class="row">
                <q-btn-dropdown
                  split
                  color="primary"
                  label="Products"
                  @click="
                  $emit('view', {
                    optimusId: props.row.optimus_id,
                    branchId: props.row.branch_id
                  })
                "
                >
                  <q-list>
                    <q-item
                      clickable
                      v-close-popup
                      @click="
                      $emit('comments', {
                        optimusId: props.row.optimus_id,
                        branchId: props.row.branch_id
                      })
                    "
                    >
                      <q-item-section>
                        <q-item-label>
                          <q-icon name="far fa-comments" size="sm" />&nbsp;
                          Comments
                        </q-item-label>
                      </q-item-section>
                    </q-item>

                    <q-item
                      clickable
                      v-close-popup
                      @click="$emit('approve', props.row.optimus_id)"
                      :disable="
                     
                        props.row.disabled === true
                    "
                    >
                      <q-item-section>
                        <q-item-label>
                          <q-icon name="far fa-thumbs-up" size="sm" />&nbsp;
                          Approve
                        </q-item-label>
                      </q-item-section>
                    </q-item>

                    <q-item
                      clickable
                      v-close-popup
                      @click="$emit('disapprove', props.row.optimus_id)"
                      :disable="
                        props.row.disabled === true
                    "
                    >
                      <q-item-section>
                        <q-item-label>
                          <q-icon name="far fa-thumbs-down" size="sm" />&nbsp;
                          Disapprove
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-btn-dropdown>
                <p
                  v-if="props.row.is_disapprove === true"
                  class="text-negative q-ma-sm"
                >Products declined by the seller.</p>
                <p
                  v-if="props.row.is_approve === true"
                  class="text-positive q-ma-sm"
                >Products has been approved by the seller.</p>
              </div>
            </div>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
export default {
  props: {
    viewPayment: {
      type: [Boolean],
      default: false
    },
    payments: {
      type: [Boolean],
      default: false
    },
    products: {
      type: [Boolean],
      default: false
    },
    restoreData: {
      type: [Boolean],
      default: false
    },
    entity: {
      type: [String],
      default: null
    },
    // the table data
    searchPlaceholder: {
      type: [String],
      default: null
    },
    data: {
      type: [Array, Object],
      default: null
    },
    // column definition
    columns: {
      type: [Array, Object],
      default: null
    },
    search: {
      Boolean,
      default: true
    },
    grid: {
      Boolean,
      default: false
    },
    // current pagination settings of the table
    pagination: {
      type: Object,
      default: () => {
        return {
          rowsPerPage: 7,
          page: 1
        };
      }
    },
    rowOptions: {
      type: Array,
      default: () => [3, 5, 7, 10, 15, 25, 50, 0]
    },

    // the filter model of your table
    searchField: {
      type: String,
      default: () => ""
    },

    title: {
      type: String,
      default: () => ""
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      selected: []
    };
  },
  computed: {
    paginationControl: {
      set() {},
      get() {
        return this.pagination;
      }
    },
    filterOpts: {
      set(val) {
        this.$emit("search-change", val);
      },
      get() {
        return this.searchField;
      }
    }
  },
  watch: {
    selected(val) {
      this.$emit("selected", val);
    }
  }
};
</script>
