<template>
  <div class="row">
    <div class="col-sm-12 gt-sm">
      <generic-table
        :data="serverData"
        :columns="columns"
        :pagination="serverPagination"
        @serverside-request="request"
        @search-change="filter = $event"
        :search-field="filter"
        @selected="selected"
        ref="storeTable"
        :title="'All Users Payment'"
        :loading="loading"
        :search-placeholder="'Search Invoice No...'"
        entity="Payment"
        @edit="info"
        @print="print"
        @del="del"
        @unvoid="unvoid"
        :payments="true"
        @payment-option="paymentOption"
      ></generic-table>
    </div>
    <div class="col-sm-12 lt-md">
      <grid
        :data="serverData"
        :columns="columns"
        :pagination="serverPagination"
        @serverside-request="request"
        @search-change="filter = $event"
        :search-field="filter"
        @selected="selected"
        ref="storeTable"
        :title="'All Users Payment'"
        :loading="loading"
        :search-placeholder="'Search Invoice No...'"
        entity="Payment"
        @edit="info"
        @print="print"
        @del="del"
        :payments="true"
        :grid="true"
      ></grid>
    </div>
  </div>
</template>

<script>
import catchError from "components/api-errors/catch";
import genericTable from "components/data-table/users-payments/index";
import grid from "components/data-table/grid";
import { values } from "lodash";
import { debounce } from "quasar";
import { mapState, mapActions } from "vuex";
export default {
  mixins: [catchError],
  components: {
    genericTable,
    grid
  },
  data() {
    return {
      selectedPaymentOption: null,
      selectedValue: "",
      debouncedFunction: "",
      loading: false,
      filter: "",
      options: [5, 10, 15, 20],
      serverPagination: {
        page: 1,
        rowsNumber: 10,
        rowsPerPage: 10 // specifying this determines pagination is server-side
      },
      serverData: [],
      columns: [
        {
          name: "invoice_no",
          label: "Invoice No.",
          field: "invoice_no",
          align: "left"
        },
        {
          name: "payment_option",
          label: "Payment Option",
          field: "payment_option",
          align: "left"
        },
        {
          name: "grand_total",
          label: "Grand Total",
          field: row => {
            return this.$options.filters.currency(row.grand_total, "₱ ");
          },
          align: "left"
        },
        {
          name: "is_completed",
          label: "Completed",
          field: "is_completed",
          align: "left"
        },
        {
          name: "is_void",
          label: "Void",
          field: "is_void",
          align: "left"
        },
        {
          name: "created_at",
          label: "Created At",
          field: "created_at",
          align: "left"
        },
        {
          name: "Action",
          label: "ACTIONS",
          align: "left"
        }
      ]
    };
  },
  computed: {
    ...mapState("payments", ["payment"])
  },
  methods: {
    ...mapActions("payments", [
      "setPayment",
      "setPaymentOptions",
      "setGrandTotal"
    ]),
    unvoid(v) {
      this.$axios.post(`/user_payments_unvoid/${v}`).then(res => {
        this.$q.notify({
          color: "positive",
          icon: "far fa-check-circle",
          message: `Payment successfully unvoid.`
        });
        this.request({
          pagination: this.serverPagination,
          filter: this.filter
        });
      });
    },
    paymentOption(val) {
      if (val !== null) {
        this.selectedPaymentOption = val.id;
      } else {
        this.selectedPaymentOption = null;
      }
      this.request({
        pagination: this.serverPagination,
        filter: this.filter
      });
    },
    getPaymentOptions() {
      this.$axios.get("payments_payment_options").then(res => {
        this.setPaymentOptions(res.data.paymentOptions);
      });
    },
    info(optimus) {
      this.$axios.get(`user_payments/${optimus}?id=${optimus}`).then(res => {
        this.setPayment(res.data.payment);
        this.setGrandTotal(res.data.grandTotal);
        this.$router.push({
          path: `/dashboard/users-payments/${optimus}`
        });
      });
    },
    print(optimusId) {
      this.$axios
        .get(`user_payments/${optimusId}?id=${optimusId}`)
        .then(res => {
          this.setPayment(res.data.payment);
          this.setPaypalInfo(res.data.paypalInfo);
          this.$router.push({
            path: `/dashboard/payments/${optimusId}/print`
          });
        });
    },
    del(optimusId) {
      this.$axios
        .get(`user_payments/${optimusId}?id=${optimusId}`)
        .then(res => {
          this.setPayment(res.data.payment);
          this.$q.notify({
            color: "negative",
            icon: "warning",
            message: `Void this payment?`,
            actions: [
              {
                label: "OK",
                color: "white",
                handler: () => {
                  this.$axios
                    .delete(
                      `/user_payments/${this.payment.optimus_id}?id=${this.payment.optimus_id}`
                    )
                    .then(res => {
                      this.$q.notify({
                        color: "positive",
                        icon: "far fa-check-circle",
                        message: `Payment successfully void.`
                      });
                      this.request({
                        pagination: this.serverPagination,
                        filter: this.filter
                      });
                    })
                    .catch(err => {
                      console.log(`${err.response.data.message}`);
                      this.$q.notify({
                        color: "negative",
                        icon: "warning",
                        message: "Failed... Integrity Constraint" // `${err.response.data.message}`
                      });
                    });
                }
              }
            ]
          });
        });
    },
    selected(val) {
      this.selectedValue = val;
    },
    request(props) {
      this.debouncedFunction(props);
    }
  },
  mounted() {
    this.debouncedFunction = debounce(props => {
      this.loading = true;
      this.$axios
        .get(
          `/user_payments?page=${props.pagination.page}&perPage=${props.pagination.rowsPerPage}&filter=${this.filter}&paymentOption=${this.selectedPaymentOption}`
        )
        .then(res => {
          this.serverPagination = props.pagination;
          this.serverData = values(res.data.payments.data);
          this.serverPagination.rowsNumber = res.data.payments.total;
          this.lastPage = res.data.payments.last_page;
          this.loading = false;
        })
        .catch(err => {
          this.$router.go(-1);
          this.catch(err);
        });
    }, 500);

    this.request({
      pagination: this.serverPagination,
      filter: this.filter
    });

    this.getPaymentOptions();
  }
};
</script>
