<template>
  <div class="q-ma-sm">
    <form @submit.prevent="$emit('add')">
      <div class="row">
        <div class="col-12">
          <p class="text-h5 q-ma-sm">
            <q-icon name="add_circle" color="grey" /> {{ locCatalog.name }}
          </p>
        </div>
        <div class="col-12">
          <q-input
            dense
            outlined
            v-model="$v.locCatalog.name.$model"
            label="Catalog Name"
            :error="$v.locCatalog.name.$error"
            bottom-slots
            error-message="Catalog name is required."
          />
        </div>
      </div>
    </form>
    <slot></slot>
  </div>
</template>
<script>
import { required } from "vuelidate/lib/validators";
export default {
  props: ["catalog"],
  validations: {
    locCatalog: {
      name: {
        required
      }
    }
  },
  data() {
    return {
      locCatalog: this.catalog
    };
  },
  methods: {
    add() {
      this.$v.$touch();
      if (this.$v.$error) {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          message: `Please check the fields.`
        });
      } else {
        this.$axios.post("catalogs_dashboard", this.locCatalog).then(res => {
          this.locCatalog = {
            name: ""
          };
          this.$v.$reset();
          this.$q.notify({
            color: "positive",
            icon: "far fa-check-circle",
            message: `${this.locCatalog.name} created successfully.`
          });
        });
      }
    },
    update() {
      this.$v.$touch();
      if (this.$v.$error) {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          message: `Please check required fields.`
        });
      } else {
        this.$axios
          .put(
            `catalogs_dashboard/${this.locCatalog.optimus_id}`,
            this.locCatalog
          )
          .then(res => {
            this.$v.$reset();
            this.$q.notify({
              color: "positive",
              icon: "far fa-check-circle",
              message: `Catalog updated successfully.`
            });
          });
      }
    },
    cancel() {
      this.$router.go(-1);
    }
  }
};
</script>
