<template>
  <div>
    <q-table
      :data="data"
      :columns="columns"
      selection="single"
      :selected.sync="selected"
      row-key="optimus_id"
      :pagination.sync="paginationControl"
      :filter="filterOpts"
      @request="$emit('serverside-request', $event)"
      :title="title"
      :loading="loading"
    >
      <template v-slot:top-right>
        <q-btn @click="$emit('add')" color="primary" round size="sm">
          <q-tooltip
            transition-show="flip-right"
            transition-hide="flip-left"
            content-class="bg-primary"
            content-style="font-size: 16px"
            anchor="top left"
            :offset="[30, 30]"
            >Add {{ entity }}</q-tooltip
          >
          <q-icon name="add" />
        </q-btn>
        <slot></slot>
        <q-select
          outlined
          v-model="selectedCategory"
          :options="categories"
          label="Category"
          class="q-ml-sm"
          dense
          debounce="300"
          style="width: 200px;"
          use-chips
        />
        <q-input
          borderless
          dense
          debounce="300"
          v-model="filterOpts"
          :placeholder="searchPlaceholder"
          outlined
          class="q-ma-sm"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <!-- <q-tr :props="props" :class="'cursor-pointer'" @click.native="props.selected = !props.selected"> -->
          <q-td auto-width>
            <!-- <q-checkbox dense v-model="props.selected" v-if="restoreData"/> -->
          </q-td>
          <q-td :key="col.name" :props="props" v-for="col in props.cols">
            <span v-if="col.name === 'updated_at'">
              <span :class="{ 'text-red': props.row.out_date }"
                >{{ props.row.updated_at }}
              </span>
            </span>
            <span v-if="col.name === 'Action'">
              <q-btn
                @click="$emit('edit', props.row.optimus_id)"
                color="primary"
                flat
              >
                <q-icon name="far fa-file" />
                <q-tooltip
                  transition-show="flip-right"
                  transition-hide="flip-left"
                  content-class="bg-primary"
                  content-style="font-size: 16px"
                  anchor="top left"
                  :offset="[30, 30]"
                  >Edit {{ entity }}</q-tooltip
                >
              </q-btn>
              <q-btn
                @click="$emit('del', props.row.optimus_id)"
                color="negative"
                flat
              >
                <q-tooltip
                  transition-show="flip-right"
                  transition-hide="flip-left"
                  content-class="bg-negative"
                  content-style="font-size: 16px"
                  anchor="top left"
                  :offset="[30, 30]"
                  >Delete {{ entity }}</q-tooltip
                >
                <q-icon name="far fa-trash-alt" />
              </q-btn>
            </span>
            <span v-else>{{ col.value }}</span>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import { mapState } from "vuex";
import mixins from "../mixin";
export default {
  mixins: [mixins],
  data() {
    return {
      selectedCategory: null,
      selected: [],
      categories: []
    };
  },
  computed: {
    ...mapState("products", ["category"]),
    paginationControl: {
      set() {},
      get() {
        return this.pagination;
      }
    },
    filterOpts: {
      set(val) {
        this.$emit("search-change", val);
      },
      get() {
        return this.searchField;
      }
    }
  },
  mounted() {
    this.selectedCategory = this.category;
    this.$axios.get("categories").then(res => {
      this.categories = res.data.categories;
    });
  },
  watch: {
    selectedCategory(val) {
      if (val !== null) {
        this.$emit("selectedCategory", val);
      } else {
        this.$emit("selectedCategory", null);
      }
    }
  }
};
</script>
