<template>
  <q-btn-group flat>
    <q-btn flat to="/dashboard/profile" v-show="token !== ''">
      <q-icon name="dashboard" />
      <q-tooltip
        transition-show="flip-right"
        transition-hide="flip-left"
        content-class="bg-negative"
        content-style="font-size: 16px"
        anchor="top left"
        :offset="[30, 30]"
        >Dashboard</q-tooltip
      >
    </q-btn>
    <q-btn flat to="/login" v-show="token == ''" icon="lock">
      <span class="hide-small">Login</span>
    </q-btn>
    <q-btn to="/register" flat v-show="token == ''" icon="people">
      <span class="hide-small">Register</span>
    </q-btn>
    <q-btn to="/cart" flat icon="fas fa-shopping-cart" style="margin-top: 5px;">
      <q-badge color="negative" floating v-if="cartLength != ''">
        {{ cartLength }}
      </q-badge>
      <q-tooltip
        transition-show="flip-right"
        transition-hide="flip-left"
        content-class="bg-negative"
        content-style="font-size: 16px"
        anchor="top left"
        :offset="[30, 30]"
        >View Cart</q-tooltip
      >
    </q-btn>
    <!-- <q-btn flat v-if="token != ''" @click="$emit('dialog', true)">
      <q-icon name="power_settings_new" />
      <q-tooltip
        transition-show="flip-right"
        transition-hide="flip-left"
        content-class="bg-negative"
        content-style="font-size: 16px"
        anchor="top left"
        :offset="[30, 30]"
        >Logout</q-tooltip
      >
    </q-btn> -->
  </q-btn-group>
</template>
<script>
import { mapState } from "vuex";
import _ from "lodash";
export default {
  computed: {
    ...mapState("users", ["token"]),
    ...mapState("global", ["cart", "cartLength"]),
    cartLength() {
      let cartLength = _.sumBy(this.cart, i => {
        return i.qty;
      });
      if (cartLength === 0) {
        return "";
      } else {
        return cartLength;
      }
    }
  }
};
</script>
