<template>
  <div class="row">
    <div class="col-sm-12 gt-sm">
      <generic-table
        :data="serverData"
        :columns="columns"
        :pagination="serverPagination"
        @serverside-request="request"
        @search-change="filter = $event"
        :search-field="filter"
        ref="product"
        :title="'All Products'"
        :loading="loading"
        :search-placeholder="'Search product...'"
        entity="Product"
        @add="add"
        @edit="edit"
        @del="del"
        @selectedCategory="selectedCategory"
      >
      </generic-table>
    </div>
    <div class="col-sm-12 lt-md">
      <grid
        :data="serverData"
        :columns="columns"
        :pagination="serverPagination"
        @serverside-request="request"
        @search-change="filter = $event"
        :search-field="filter"
        ref="product"
        :title="'All Products'"
        :loading="loading"
        :search-placeholder="'Search product...'"
        :grid="true"
        entity="Product"
        @add="add"
        @edit="edit"
        @del="del"
        @selectedCategory="selectedCategory"
      >
      </grid>
    </div>
  </div>
</template>

<script>
import genericTable from "components/data-table/products/index";
import grid from "components/data-table/grid";
import pagination from "components/mixins/pagination";
import catchError from "components/api-errors/catch";
import { values } from "lodash";
import { debounce } from "quasar";
import { mapState, mapActions } from "vuex";
export default {
  mixins: [catchError, pagination],
  components: {
    genericTable,
    grid
  },
  data() {
    return {
      columns: [
        {
          name: "Store",
          label: "Store",
          align: "left",
          field: row => row.branch.name
        },
        {
          name: "name",
          label: "Name",
          field: "name",
          align: "left"
        },
        {
          name: "sku",
          label: "SKU",
          align: "left",
          field: row => row.sku
        },
        {
          name: "price",
          label: "Price",
          align: "left",
          field: row => this.$options.filters.currency(row.price, "₱ ")
        },
        {
          name: "updated_at",
          label: "Updated At",
          align: "left"
        },
        {
          name: "Action",
          label: "ACTIONS",
          align: "left"
        }
      ]
    };
  },
  computed: {
    ...mapState("global", ["currentPage"]),
    ...mapState("branches", ["branch"]),
    ...mapState("products", ["product", "category"])
  },
  methods: {
    ...mapActions("products", [
      "setProduct",
      "setProductBranch",
      "setProductMainCategory",
      "setProductSubCategory",
      "setProductMoreCategory",
      "setMainCategories",
      "setCategory"
    ]),
    ...mapActions("global", [, "setCurrentPage"]),
    selectedCategory(val) {
      this.setCategory(val);
      this.request({
        pagination: this.serverPagination,
        filter: this.filter
      });
    },
    add() {
      this.setProduct({
        catalog_id: null,
        branch_id: null,
        unit_id: null,
        main_category_id: null,
        sub_category_id: null,
        more_category_id: null,
        category_id: null,
        chart_account_id: null,
        tax_type_id: null,
        product_id: null,
        name: "",
        sku: "",
        barcode: "",
        discount: 0,
        price: 0,
        qty: 0,
        desc: "",
        is_active: false
      });
      this.$router.push({
        path: `/dashboard/products/create`
      });
    },
    edit(optimusId) {
      this.$axios
        .get(`/dashboard_products/${optimusId}/edit?id=${optimusId}`)
        .then(res => {
          var product = res.data.product;
          var catalog = null;
          if (product.catalog != null) {
            catalog = {
              label: product.catalog.name,
              value: product.catalog.id,
              id: product.catalog.id
            };
          }
          var unit = null;
          if (product.unit != null) {
            unit = {
              label: product.unit.name,
              value: product.unit.value
            };
          }
          this.setProduct({
            optimus_id: product.optimus_id,
            branch_id: {
              label: product.branch.name,
              value: product.branch.id
            },
            main_category_id: null,
            sub_category_id: null,
            more_category_id: null,
            category_id: null,
            catalog_id: catalog,
            chart_account_id: null,
            tax_type_id: null,
            product_id: null,
            name: product.name,
            sku: product.sku,
            barcode: product.barcode,
            discount: product.discount,
            price: product.price,
            qty: product.qty,
            desc: product.desc,
            images: product.images,
            unit_id: unit,
            is_active: product.is_active
          });
          this.setProductBranch({
            label: res.data.product.branch.name,
            value: res.data.product.branch.id
          });
          this.setProductMainCategory({
            label: res.data.categories[0].name,
            value: res.data.categories[0].id
          });
          if (res.data.categories.length > 2) {
            this.setProductSubCategory({
              label: res.data.categories[1].name,
              value: res.data.categories[1].id
            });
          }
          if (res.data.categories.length === 3) {
            this.setProductMoreCategory({
              label: res.data.categories[2].name,
              value: res.data.categories[2].id
            });
          }

          this.$router.push({
            path: `/dashboard/products/${optimusId}`
          });
        });
    },
    del(optimusId) {
      this.$axios
        .get(`/dashboard_products/${optimusId}?id=${optimusId}`)
        .then(res => {
          this.setProduct(res.data.product);
          this.$q.notify({
            color: "negative",
            icon: "warning",
            message: `Delete ${res.data.product.name}?`,
            actions: [
              {
                color: "white",
                label: "OK",
                handler: () => {
                  this.$axios
                    .delete(
                      `/dashboard_products/${this.product.optimus_id}?id=${this.product.optimus_id}`
                    )
                    .then(res => {
                      this.$q.notify({
                        color: "positive",
                        icon: "fas fa-check-circle",
                        message: `${this.product.name} deleted successfully`
                      });
                      this.request({
                        pagination: this.serverPagination,
                        filter: this.filter
                      });
                    })
                    .catch(err => {
                      this.$router.go(-1);
                      this.catch(err);
                    });
                }
              }
            ]
          });
        });
    },

    getData() {
      this.debouncedFunction = debounce(props => {
        this.loading = true;
        var categoryId = null;
        if (this.category != null) {
          categoryId = this.category.id;
        }
        this.setCurrentPage(props.pagination.page);
        this.$axios
          .get(
            `/dashboard_products?page=${props.pagination.page}&perPage=${props.pagination.rowsPerPage}&filter=${this.filter}&categoryId=${categoryId}`
          )
          .then(res => {
            this.serverPagination = props.pagination;
            this.serverData = values(res.data.products.data);
            this.serverPagination.rowsNumber = res.data.products.total;
            this.lastPage = res.data.products.last_page;
            this.loading = false;
          })
          .catch(err => {
            this.$router.go(-1);
            this.catch(err);
          });
      }, 500);
    }
  },
  mounted() {
    this.serverPagination.page = this.currentPage;
    console.log(this.currentPage);
    this.getData();
    this.request({
      pagination: this.serverPagination,
      filter: this.filter
    });
    this.$axios.get("get-main-categories").then(res => {
      this.setMainCategories(res.data.mainCategories);
    });
  }
};
</script>
