<template>
  <div>
    <q-table
      :grid="grid"
      :data="data"
      :columns="columns"
      selection="single"
      :selected.sync="selected"
      row-key="id"
      :pagination.sync="paginationControl"
      :filter="filterOpts"
      @request="$emit('serverside-request', $event)"
      :loading="loading"
      flat
    >
      <template v-slot:body="props">
        <q-tr
          :props="props"
          :class="'cursor-pointer'"
          @click.native="props.selected = !props.selected"
        >
          <q-td auto-width>
            <q-checkbox dense v-model="props.selected" />
          </q-td>

          <q-td :key="col.name" :props="props" v-for="col in props.cols">
            <span v-if="col.name === 'Action'">
              <q-btn
                @click="$emit('edit', props.row.optimus_id)"
                color="secondary"
                flat
              >
                <q-icon name="edit" />
                <q-tooltip
                  transition-show="flip-right"
                  transition-hide="flip-left"
                  content-class="bg-secondary"
                  content-style="font-size: 16px"
                  anchor="top left"
                  :offset="[30, 30]"
                  >Edit {{ entity }}</q-tooltip
                >
              </q-btn>
              <q-btn
                @click="$emit('del', props.row.optimus_id)"
                color="primary"
                flat
              >
                <q-tooltip
                  transition-show="flip-right"
                  transition-hide="flip-left"
                  content-class="bg-primary"
                  content-style="font-size: 16px"
                  anchor="top left"
                  :offset="[30, 30]"
                  >Delete {{ entity }}</q-tooltip
                >
                <q-icon name="delete" />
              </q-btn>
            </span>
            <span v-else>{{ col.value }}</span>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
function truncate (text, max) {
  return text.substr(0, max - 1) + (text.length > max ? '...' : '')
}
export default {
  props: {
    entity: {
      type: [String],
      default: null
    },
    // the table data
    searchPlaceholder: {
      type: [String],
      default: null
    },
    grid: {
      Boolean,
      default: false
    },
    data: {
      type: [Array, Object],
      default: null
    },
    // column definition
    columns: {
      type: [Array, Object],
      default: null
    },
    search: {
      Boolean,
      default: true
    },
    // current pagination settings of the table
    pagination: {
      type: Object,
      default: () => {
        return {
          rowsPerPage: 7,
          page: 1
        }
      }
    },
    rowOptions: {
      type: Array,
      default: () => [3, 5, 7, 10, 15, 25, 50, 0]
    },

    // the filter model of your table
    searchField: {
      type: String,
      default: () => ''
    },

    title: {
      type: String,
      default: () => ''
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      selected: []
    }
  },
  computed: {
    paginationControl: {
      set () {},
      get () {
        return this.pagination
      }
    },
    filterOpts: {
      set (val) {
        this.$emit('search-change', val)
      },
      get () {
        return this.searchField
      }
    }
  },
  methods: {
    allchildren (row) {
      var res = []
      const cb = e => {
        res.push(e.name)
        e.all_children && e.all_children.forEach(cb)
      }
      row.all_children.forEach(cb)
      return truncate(res.toString(), 30)
    }
  },
  watch: {
    selected (val) {
      this.$emit('selected', val)
    }
  }
}
</script>
