<template>
  <div>
    <q-table
      :data="data"
      :columns="columns"
      selection="single"
      :selected.sync="selected"
      row-key="optimus_id"
      :pagination.sync="paginationControl"
      :filter="filterOpts"
      @request="$emit('serverside-request', $event)"
      :title="title"
      :loading="loading"
    >
      <template v-slot:top-right>
        <slot></slot>
        <q-input
          borderless
          dense
          debounce="300"
          v-model="filterOpts"
          :placeholder="searchPlaceholder"
          outlined
          class="q-ma-sm"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      <template v-slot:body="props">
        <q-tr :props="props">
          <!-- <q-tr :props="props" :class="'cursor-pointer'" @click.native="props.selected = !props.selected"> -->
          <q-td auto-width>
            <!-- <q-checkbox dense v-model="props.selected" v-if="restoreData"/> -->
          </q-td>

          <q-td :key="col.name" :props="props" v-for="col in props.cols">
            <span v-if="col.name === 'Action'">
              <q-btn-dropdown
                split
                color="primary"
                label="Products"
                @click="
                  $emit('view', {
                    optimusId: props.row.optimus_id,
                    branchId: props.row.branch_id
                  })
                "
              >
                <q-list>
                  <q-item
                    clickable
                    v-close-popup
                    @click="
                      $emit('comments', {
                        optimusId: props.row.optimus_id,
                        branchId: props.row.branch_id
                      })
                    "
                  >
                    <q-item-section>
                      <q-item-label>
                        <q-icon name="far fa-comments" size="sm" />&nbsp;
                        Comments
                      </q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item
                    clickable
                    v-close-popup
                    @click="$emit('approve', props.row.optimus_id)"
                    :disable="
                      props.row.is_disapprove === true ||
                        props.row.is_approve === true ||
                        props.row.disabled === true
                    "
                  >
                    <q-item-section>
                      <q-item-label>
                        <q-icon name="far fa-thumbs-up" size="sm" />&nbsp;
                        Approve
                      </q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item
                    clickable
                    v-close-popup
                    @click="$emit('disapprove', props.row.optimus_id)"
                    :disable="
                      props.row.is_disapprove === true ||
                        props.row.is_approve === true ||
                        props.row.disabled === true
                    "
                  >
                    <q-item-section>
                      <q-item-label>
                        <q-icon name="far fa-thumbs-down" size="sm" />&nbsp;
                        Disapprove
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-btn-dropdown>
              <q-btn
                @click="$emit('disapprove', props.row.optimus_id)"
                color="primary"
                flat
                disable
                v-if="props.row.is_disapprove === true"
              >
                <q-icon name="far fa-thumbs-down" />
              </q-btn>
              <q-btn
                @click="$emit('disapprove', props.row.optimus_id)"
                color="positive"
                flat
                disable
                v-if="props.row.is_approve === true"
              >
                <q-icon name="far fa-thumbs-up" />
              </q-btn>
            </span>
            <span v-else>{{ col.value }}</span>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import mixin from "./mixin";
export default {
  mixin: [mixin]
};
</script>
