<template>
  <generic :delivery-received="deliveryReceived" :products="products" icon="add_circle" ref="store">
    <div class="col-12">
      <q-btn @click="cancel" color="negative" label="Back" class="q-ma-sm" />
      <q-btn @click="update" color="primary" label="Update" class="q-ma-sm" />
    </div>
  </generic>
</template>
<script>
import generic from "pages/dashboard/delivery-received/form/generic";
import { mapState } from "vuex";
export default {
  components: {
    generic
  },
  computed: {
    ...mapState("deliveryReceived", ["deliveryReceived", "products"])
  },
  methods: {
    update() {
      this.$refs.store.update();
    },
    cancel() {
      this.$refs.store.cancel();
    }
  }
};
</script>
