<template>
  <div class="row">
    <div class="col-sm-12 gt-sm">
      <generic-table
        :data="serverData"
        :columns="columns"
        :pagination="serverPagination"
        @serverside-request="request"
        @search-change="filter = $event"
        :search-field="filter"
        @selected="selected"
        ref="table"
        :title="'All Delivery Received'"
        :loading="loading"
        :search-placeholder="'Search Invoice No.'"
        entity="Delivery Received"
        @add="add"
        @edit="edit"
        @restore="restore"
        @del="del"
      ></generic-table>
    </div>
    <div class="col-sm-12 lt-md">
      <grid
        :data="serverData"
        :columns="columns"
        :pagination="serverPagination"
        @serverside-request="request"
        @search-change="filter = $event"
        :search-field="filter"
        @selected="selected"
        ref="table"
        :title="'All Delivery Received'"
        :loading="loading"
        :search-placeholder="'Search Invoice No.'"
        entity="Delivery Received"
        @add="add"
        @edit="edit"
        @restore="restore"
        @del="del"
        :grid="true"
      ></grid>
    </div>
  </div>
</template>

<script>
import catchError from "components/api-errors/catch";
import genericTable from "components/data-table/new-generic";
import grid from "components/data-table/grid";
import { values } from "lodash";
import { debounce } from "quasar";
import { mapState, mapActions } from "vuex";
export default {
  mixins: [catchError],
  components: {
    genericTable,
    grid
  },
  data() {
    return {
      selectedValue: "",
      debouncedFunction: "",
      loading: false,
      filter: "",
      options: [5, 10, 15, 20],
      serverPagination: {
        page: 1,
        rowsNumber: 10,
        rowsPerPage: 10 // specifying this determines pagination is server-side
      },
      serverData: [],
      columns: [
        {
          name: "store",
          label: "Store",
          field: "store",
          align: "left"
        },
        {
          name: "invoice_no",
          label: "Invoice No.",
          align: "left",
          field: "invoice_no"
        },
        {
          name: "created_at",
          label: "Created At",
          align: "left",
          field: "created_at"
        },
        {
          name: "Action",
          label: "ACTIONS",
          align: "left"
        }
      ]
    };
  },
  computed: {
    ...mapState("deliveryReceived", ["deliveryReceived"])
  },
  methods: {
    ...mapActions("deliveryReceived", [
      "setDeliveryReceived",
      "setSelectedStore",
      "setProducts"
    ]),
    restore() {},
    add() {
      this.setDeliveryReceived({
        store_invoice_id: null,
        no: null
      });
      this.setSelectedStore(null);
      this.setProducts([]);
      this.$router.push({
        path: `/dashboard/delivery-received/create`
      });
    },
    edit(optimusId) {
      this.$axios
        .get(`/delivery_received/${optimusId}/edit?id=${optimusId}`)
        .then(res => {
          let dr = res.data.deliveryReceived;
          this.setSelectedStore({
            value: dr.store.value,
            label: dr.store.label
          });
          this.setDeliveryReceived({
            store_invoice_id: {
              value: dr.store_invoice.invoice.optimus_id,
              label: dr.store_invoice.invoice.label,
              products: dr.dr_products
            },
            no: dr.delivery_no
          });

          this.setProducts(dr.dr_products);
          this.$router.push({
            path: `/dashboard/delivery-received/${optimusId}`
          });
        });
    },
    del(optimusId) {
      this.$axios
        .get(`/delivery_received/${optimusId}/edit?id=${optimusId}`)
        .then(res => {
          let dr = res.data.deliveryReceived;
          this.setSelectedStore({
            value: dr.store.value,
            label: dr.store.label
          });
          this.setDeliveryReceived({
            store_invoice_id: {
              value: dr.store_invoice.invoice.optimus_id,
              label: dr.store_invoice.invoice.label,
              products: dr.dr_products
            },
            no: dr.delivery_no
          });

          this.$q.notify({
            color: "negative",
            icon: "warning",
            message: `Delete delivery received?`,
            actions: [
              {
                label: "OK",
                color: "white",
                handler: () => {
                  this.$axios
                    .delete(
                      `/delivery_received/${dr.optimus_id}?id=${dr.optimus_id}`
                    )
                    .then(res => {
                      this.$q.notify({
                        color: "positive",
                        icon: "check",
                        message: `Delivery received deleted successfully`
                      });
                      this.request({
                        pagination: this.serverPagination,
                        filter: this.filter
                      });
                      this.$refs.storeTable.selected = [];
                    })
                    .catch(err => {
                      console.log(`${err.response.data.message}`);
                      this.$q.notify({
                        color: "negative",
                        icon: "warning",
                        message: "Failed... Integrity Constraint" // `${err.response.data.message}`
                      });
                    });
                }
              }
            ]
          });
        });
    },
    selected(val) {
      this.selectedValue = val;
    },
    request(props) {
      this.debouncedFunction(props);
    }
  },
  mounted() {
    this.debouncedFunction = debounce(props => {
      this.loading = true;
      this.$axios
        .get(
          `/delivery_received?page=${props.pagination.page}&perPage=${props.pagination.rowsPerPage}&filter=${this.filter}`
        )
        .then(res => {
          this.serverPagination = props.pagination;
          this.serverData = values(res.data.deliveryReceived.data);
          this.serverPagination.rowsNumber = res.data.deliveryReceived.total;
          this.lastPage = res.data.deliveryReceived.last_page;
          this.loading = false;
        })
        .catch(err => {
          this.$router.go(-1);
          this.catch(err);
        });
    }, 500);

    this.request({
      pagination: this.serverPagination,
      filter: this.filter
    });
  }
};
</script>
