<template>
  <div>
    <form @submit.prevent="$emit('add')">
      <div class="row">
        <div class="col-xs-8">
          <p class="text-h5 q-ma-sm">
            <q-icon :name="icon" color="grey" />
            {{ category.name }}
          </p>
        </div>
        <div class="col-xs-4">
          <div>
            <q-checkbox
              v-model="locCategory.is_active"
              label="Active"
              style="margin-top: 8px;"
              class="float-right"
            />
          </div>
        </div>
        <div class="col-xs-12">
          <q-select
            dense
            outlined
            v-model="locCategory.parent_id"
            :options="localCategories"
            label="Parent Category"
            class="q-ma-sm"
            @filter="filterFn"
            use-input
            use-chips
          />
        </div>
        <div class="col-xs-8">
          <q-input
            dense
            outlined
            v-model="$v.locCategory.name.$model"
            label="Category Name"
            class="q-ma-sm"
            :error="$v.locCategory.name.$error"
            bottom-slots
            error-message="Category name is required."
          />
        </div>
        <div class="col-xs-4">
          <q-checkbox
            v-model="locCategory.featured"
            label="Feature Category"
            style="margin-top: 8px;"
          />
        </div>
        <div class="col-xs-12">
          <q-input
            dense
            outlined
            v-model="locCategory.desc"
            label="Description"
            class="q-ma-sm"
            type="textarea"
          />
        </div>
        <div class="col-xs-12">
          <div class="q-ma-sm">
            <q-uploader
              accept="image/jpeg, image/png"
              label="Category Cover Images"
              multiple
              @added="added"
              hide-upload-btn
              ref="uploader"
              @removed="removed"
              class="full-width"
            >
              <template v-slot:list="scope">
                <q-list separator>
                  <q-item v-for="file in scope.files" :key="file.name">
                    <q-item-section>
                      <q-item-label class="full-width ellipsis">
                        {{ file.name }}
                      </q-item-label>

                      <q-item-label caption
                        >Status: {{ file.__status }}</q-item-label
                      >

                      <q-item-label caption>
                        {{ file.__sizeLabel }}
                        <!-- / {{ file.__progressLabel }} -->
                      </q-item-label>
                    </q-item-section>

                    <q-item-section v-if="file.__img" thumbnail>
                      <img :src="file.__img.src" />
                    </q-item-section>
                    <q-item-section top side>
                      <q-item-label>
                        <q-btn
                          class="q-mt-sm"
                          color="negative"
                          flat
                          dense
                          round
                          icon="far fa-trash-alt"
                          @click="scope.removeFile(file)"
                        />
                      </q-item-label>
                      <q-item-label caption>Remove</q-item-label>
                    </q-item-section>
                    <q-item-section top side>
                      <q-item-label>
                        <q-radio
                          v-model="is_primary"
                          :val="file.name"
                          style="margin-top: 5px;"
                        />
                      </q-item-label>
                      <q-item-label caption>Primary</q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </template>
            </q-uploader>
          </div>
        </div>
        <slot></slot>
      </div>
    </form>
  </div>
</template>

<script>
// const valCategory = (value) => value !== undefined
import { required } from "vuelidate/lib/validators";
import { mapState, mapActions } from "vuex";
import { find } from "lodash";
export default {
  props: ["category", "icon"],
  data() {
    return {
      is_primary: null,
      selectedFile: [],
      localCategories: [
        {
          value: "",
          label: ""
        }
      ],
      locCategory: this.category
    };
  },
  validations: {
    locCategory: {
      name: {
        required
      }
    }
  },
  computed: {
    ...mapState("categories", ["dashboardCategories"]),
    parentId: {
      get() {
        return find(this.dashboardCategories, {
          value: this.category.parent_id
        });
      },
      set(val) {
        let p = "";
        if (val !== null) {
          p = val.value;
        } else {
          p = val;
        }
        this.$emit("change", {
          desc: this.category.desc,
          name: this.category.name,
          parent_id: p,
          url: this.category.url
        });
      }
    }
  },
  methods: {
    ...mapActions("categories", [
      "setDashboardCategories",
      "setCategoryParentId",
      "setCategory"
    ]),
    added(files) {
      for (var i = 0; i <= files.length; i++) {
        this.selectedFile.push(files[i]);
      }
    },
    removed(files) {
      let x = this.selectedFile.filter(function(v) {
        if (v !== undefined) {
          return v.name !== files[0].name;
        }
      });
      this.selectedFile = x;
    },
    heirarchyCat(categories) {
      const result = [];
      for (var i = 0; i <= categories.length - 1; i++) {
        result.push({
          value: categories[i].id,
          label: "I." + categories[i].name,
          parent_id: categories[i].parent_id
        });
        for (var ii = 0; ii <= categories[i].all_children.length - 1; ii++) {
          result.push({
            value: categories[i].all_children[ii].id,
            label: " &emsp; II. " + categories[i].all_children[ii].name,
            parent_id: categories[i].all_children[ii].parent_id
          });
          for (
            var iii = 0;
            iii <= categories[i].all_children[ii].all_children.length - 1;
            iii++
          ) {
            result.push({
              value: categories[i].all_children[ii].all_children[iii].id,
              label:
                " &emsp; &emsp; III. " +
                categories[i].all_children[ii].all_children[iii].name,
              parent_id:
                categories[i].all_children[ii].all_children[iii].parent_id
            });
          }
        }
      }
      return result;
    },
    create() {
      this.$axios.get("/categories-all").then(res => {
        this.setDashboardCategories(this.heirarchyCat(res.data.categories));
        this.localCategories = this.heirarchyCat(res.data.categories);
        this.setCategoryParentId(
          find(this.heirarchyCat(res.data.categories), {
            value: this.category.parent_id
          })
        );
      });
    },
    data() {
      const fd = new FormData();
      for (var i = 0; i <= this.selectedFile.length; i++) {
        if (this.selectedFile[i] !== undefined) {
          if (this.selectedFile[i].__img.complete) {
            fd.append("files[]", this.selectedFile[i]);
          } else {
            fd.append("ids[]", this.selectedFile[i].id);
          }
        }
      }
      fd.append("is_primary", this.is_primary);
      fd.append("desc", this.locCategory.desc);
      fd.append("name", this.locCategory.name);
      fd.append("icon", "");
      let parentId = 0;
      if (this.locCategory.parent_id != null) {
        parentId = this.locCategory.parent_id.value;
      }
      fd.append("parent_id", parentId);
      fd.append("url", this.locCategory.name);
      fd.append("featured", this.locCategory.featured);
      fd.append("is_active", this.locCategory.is_active);
      return fd;
    },
    filterFn(val, update, abort) {
      // call abort() at any time if you can't retrieve data somehow
      setTimeout(() => {
        update(() => {
          const needle = val.toLowerCase();
          this.localCategories = this.dashboardCategories.filter(
            v => v.label.toLowerCase().indexOf(needle) > -1
          );
        });
      }, 500);
    },
    add() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          message: `Please check the fields.`
        });
      } else {
        this.$axios
          .post(`/dashboard_categories`, this.data())
          .then(res => {
            this.$q.notify({
              color: "positive",
              icon: "far fa-check-circle",
              message: `${this.locCategory.name} created successfully.`
            });
            this.create();
            this.locCategory = {
              parent_id: null,
              name: "",
              icon: "",
              url: "",
              featured: false
            };
            this.$v.$reset();
          })
          .catch(err => {
            this.$q.notify({
              color: "negative",
              icon: "warning",
              message: `${err.response.data.message}`
            });
          });
      }
    },
    update() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.$q.notify({
          color: "negative",
          icon: "warning",
          message: `Please check the fields.`
        });
      } else {
        let parentId = null;
        if (this.locCategory.parent_id != null) {
          parentId = this.locCategory.parent_id.value;
        }
        this.$axios
          .post(
            `/dashboard_categories_update/${this.locCategory.optimus_id}?id=${this.locCategory.optimus_id}`,
            this.data()
          )
          .then(res => {
            this.$v.$reset();
            this.$q.notify({
              color: "positive",
              icon: "far fa-check-circle",
              message: `${this.locCategory.name} update successfully.`
            });
          })
          .catch(err => {
            this.$q.notify({
              color: "negative",
              icon: "warning",
              message: `${err.response.data.message}`
            });
          });
      }
    }
  },
  mounted() {
    this.create();

    if (this.locCategory.images != null) {
      for (var i = 0; i < this.locCategory.images.length; i++) {
        let fileName = this.locCategory.images[i].name;
        let url = this.locCategory.images[i].path_url;

        if (this.locCategory.images[i].is_primary === 1) {
          this.is_primary = fileName;
        }
        let file = {
          id: this.locCategory.images[i].id,
          size: 123,
          type: fileName.split(".").pop(),
          name: fileName,
          __img: {
            src: url
          }
        };
        this.$refs.uploader.files.push(file);
        this.selectedFile.push(file);
      }
    }
  }
};
</script>
