<template>
  <q-page class="docs-input row">
    <div class="col-12">
      <q-btn
        flat
        icon="fas fa-arrow-circle-left"
        color="negative"
        class="q-ma-sm"
        @click="$router.go(-1)"
      >
        <q-tooltip
          transition-show="flip-right"
          transition-hide="flip-left"
          content-class="bg-negative"
          content-style="font-size: 16px"
          anchor="top left"
          :offset="[15, 15]"
          >Back</q-tooltip
        >
      </q-btn>
      <span class="text-subtitle1">ADD COMMENT AND RATING</span>
    </div>
    <div class="col-sm-5 col-xs-12">
      <div class="q-pa-md">
        <q-carousel swipeable animated v-model="slide" thumbnails infinite>
          <q-carousel-slide
            :name="k + 1"
            :img-src="image.path_url"
            v-for="(image, k) in product.images"
            :key="k"
          />
        </q-carousel>
      </div>
    </div>
    <div class="col-sm-7 col-xs-12">
      <div class="q-pa-sm">
        <p class="text-h5 q-mt-md">{{ product.name }}</p>
        <q-rating size="30px" v-model="stars" :max="5" class="q-ma-sm" />
        {{ rating }}
        ratings
        <q-separator />
        <div class="q-ma-sm">
          <span class="text-h4 text-negative q-mt-md">
            {{ product.discounted_price | currency("₱") }} </span
          >&nbsp;
          <span v-if="product.discount > 1">
            <span class="text-grey-13">Before</span>
            <span style="text-decoration:line-through;" class="text-grey-13">
              {{ product.price | currency("₱") }}
            </span>
            &nbsp;
            <span>-{{ product.discount }}%</span>
          </span>
        </div>
        <q-input
          label="Comment"
          type="textarea"
          outlined
          class="q-mb-sm"
          v-model="$v.comment.$model"
          :error="$v.comment.$error"
          bottom-slots
          error-message="Comment is required."
        />
        <q-btn
          color="negative"
          label="Cancel"
          class="q-mt-sm q-mr-sm"
          @click="cancel"
        />
        <q-btn
          color="primary"
          label="Submit"
          class="q-mt-sm q-mr-sm"
          @click="addComment"
        />
      </div>
    </div>
    <div class="col-xs-12">
      <q-separator />
      <br />
      <br />
      <div class="q-ma-sm" v-html="product.desc"></div>
    </div>
    <div class="col-xs-12 q-pl-sm q-pr-sm">
      <q-separator />
      <br />
      <q-chat-message
        :key="comment.id"
        v-for="comment in comments"
        :name="comment.user"
        :avatar="comment.user_img"
        :text="[comment.comments]"
        :stamp="comment.created_at"
        bg-color="grey-3"
      />
    </div>
  </q-page>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { Loading } from 'quasar'
import { required } from 'vuelidate/lib/validators'
export default {
  validations: {
    comment: {
      required
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.$axios
        .get(
          'store_invoice_check?invoice=' +
            vm.$route.params.invoice +
            '&product_id=' +
            vm.$route.params.id
        )
        .then(res => {
          let result = res.data.success
          if (result === false) {
            vm.$router.go(-1)
          }
        })
    })
  },
  data () {
    return {
      comment: '',
      slide: 1,
      dense: false
    }
  },
  computed: {
    ...mapState('products', ['product', 'comments', 'rating']),
    ...mapState('global', ['cart']),
    stars: {
      get () {
        return this.$store.getters['products/stars']
      },
      set (v) {
        this.setStars(v)
      }
    },
    qty: {
      get () {
        let qty = this.$store.getters['global/qty']
        if (isNaN(qty)) {
          return 1
        } else {
          return qty
        }
      },
      set (val) {
        if (isNaN(val) || val === '') {
          this.setQty(1)
        } else {
          this.setQty(val)
        }
      }
    }
  },
  methods: {
    ...mapActions('products', [
      'setProduct',
      'setStars',
      'setComments',
      'setRating'
    ]),
    ...mapActions('global', ['setQty', 'setCart']),
    getProduct () {
      Loading.show()
      this.$axios.get(`/products/${this.$route.params.id}`).then(res => {
        this.setProduct(res.data.product)
        this.setStars(res.data.stars)
        this.setRating(res.data.rating)
        this.setComments(res.data.comments)
        Loading.hide()
      })
    },
    addQty () {
      if (this.qty < 0) {
        this.qty = 1
      } else {
        this.qty += 1
      }
    },
    subQty () {
      if (this.qty < 1) {
        this.qty = 1
      } else {
        this.qty -= 1
      }
    },
    addComment () {
      this.$v.$touch()
      if (this.$v.$error) {
        this.$q.notify({
          color: 'negative',
          icon: 'warning',
          message: `Please check required fields.`
        })
      } else {
        this.$axios
          .post(`product_feedback`, {
            invoice_no: this.$route.params.invoice,
            product_id: this.$route.params.id,
            comment: this.comment,
            stars: this.stars
          })
          .then(res => {
            this.comment = ''
            this.$q.notify({
              color: 'positive',
              icon: 'far fa-check-circle',
              message: `Feedback created successfully.`
            })
            this.getProduct()
          })
      }
    },
    cancel () {
      this.$router.go(-1)
    }
  },
  mounted () {
    this.getProduct()
  }
}
</script>
