<template>
  <q-page class="docs-input row">
    <div class="col-12">
      <q-btn
        flat
        icon="fas fa-arrow-circle-left"
        color="negative"
        class="q-ma-sm"
        @click="$router.go(-1)"
      >
        <q-tooltip
          transition-show="flip-right"
          transition-hide="flip-left"
          content-class="bg-primary"
          content-style="font-size: 16px"
          anchor="top left"
          :offset="[15, 15]"
          >Back</q-tooltip
        >
      </q-btn>
    </div>
    <div class="col-sm-5 col-xs-12">
      <div class="q-pa-md">
        <q-carousel swipeable animated v-model="slide" thumbnails infinite>
          <q-carousel-slide
            :name="k + 1"
            :img-src="image.path_url"
            v-for="(image, k) in product.images"
            :key="k"
          />
        </q-carousel>
      </div>
    </div>
    <div class="col-sm-7 col-xs-12">
      <div class="q-pa-sm">
        <p class="text-h5 q-mt-md">{{ product.name | uppercase }}</p>
        <q-rating
          size="30px"
          v-model="stars"
          :max="5"
          class="q-ma-sm"
          readonly
        />
        {{ comments.length }}
        ratings
        <q-separator />
        <div class="q-ma-sm">
          <span class="text-h4 text-negative q-mt-md">
            {{ product.discounted_price | currency("₱") }}/{{
              productUnit(product.unit)
            }} </span
          >&nbsp;
          <span v-if="product.discount > 1">
            <span class="text-grey-13">Before</span>
            <span style="text-decoration:line-through;" class="text-grey-13">
              {{ product.price | currency("₱") }}
            </span>
            &nbsp;
            <span>-{{ product.discount }}%</span>
          </span>
        </div>
        <div style="max-width: 120px; float: left;" class="q-mt-md">
          <q-input
            bottom-slots
            v-model="qty"
            counter
            maxlength="2"
            dense
            outlined
          >
            <template v-slot:prepend>
              <q-btn round dense flat icon="remove" @click="subQty" />
            </template>

            <template v-slot:append>
              <q-btn round dense flat icon="add" @click="addQty" />
            </template>
          </q-input>
        </div>
        <br />
        <q-btn
          icon="fas fa-cart-plus"
          color="primary"
          label="Add"
          class="q-ma-sm"
          @click="addCart"
          style="float: right;"
        />
        <q-btn
          color="negative"
          label="Back"
          class="q-ma-sm"
          @click="cancel"
          style="float: right;"
        />
      </div>
    </div>
    <div class="col-12">
      <q-separator />
      <br />
      <div class="q-ma-sm" v-html="product.desc"></div>
      <br />
    </div>
    <div class="col-xs-12">
      <q-separator />
      <br />
      <div class="q-pl-sm q-pr-sm">
        <q-chat-message
          :key="comment.id"
          v-for="comment in comments"
          :name="comment.user"
          :avatar="userImg(comment)"
          :text="[comment.comments]"
          :stamp="comment.created_at"
          bg-color="grey-3"
        />
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapState, mapActions } from "vuex";
import { Loading } from "quasar";
import _ from "lodash";
export default {
  data() {
    return {
      slide: 1,
      dense: false
    };
  },
  computed: {
    ...mapState("products", ["product", "comments"]),
    ...mapState("global", ["cart"]),
    stars: {
      get() {
        return this.$store.getters["products/stars"];
      },
      set(v) {
        this.setStars(v);
      }
    },
    qty: {
      get() {
        let qty = this.$store.getters["global/qty"];
        if (isNaN(qty)) {
          return 1;
        } else {
          return qty;
        }
      },
      set(val) {
        if (isNaN(val) || val === "") {
          this.setQty(1);
        } else {
          this.setQty(val);
        }
      }
    }
  },
  methods: {
    ...mapActions("products", ["setProduct", "setStars", "setComments"]),
    ...mapActions("global", ["setQty", "setCart"]),
    userImg(comment) {
      if (comment.user_img != null) {
        return comment.user_img.path_url;
      }
    },
    productUnit(unit) {
      if (unit != null) {
        return unit.label;
      }
    },
    getProduct() {
      Loading.show();
      this.$axios.get(`/products/${this.$route.params.id}`).then(res => {
        this.setProduct(res.data.product);

        this.setComments(res.data.comments);
        if (res.data.stars !== null) {
          this.setStars(res.data.stars);
        } else {
          this.setStars(0);
        }
        Loading.hide();
      });
    },
    addQty() {
      if (this.qty < 0) {
        this.qty = 1;
      } else {
        this.qty += 1;
      }
    },
    subQty() {
      if (this.qty < 1) {
        this.qty = 1;
      } else {
        this.qty -= 1;
      }
    },
    addCart() {
      var addCart = _.find(this.cart, { id: this.product.id });
      var index = _.findIndex(this.cart, { id: this.product.id });
      if (addCart === undefined) {
        this.setCart({
          id: this.product.id,
          product: this.product,
          qty: this.qty
        });
        this.$q.notify({
          message: `${this.qty} ${this.product.name} added in your cart.`,
          color: "positive",
          icon: "far fa-check-circle"
        });
      } else {
        this.cart.splice(index, 1);
        this.setCart({
          id: this.product.id,
          product: this.product,
          qty: this.qty + addCart.qty
        });
      }
    },
    cancel() {
      this.$router.go(-1);
    }
  },
  mounted() {
    this.getProduct();
  }
};
</script>
