<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%= productName %></title> -->
    <title>Mandaue Stores</title>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Purchase our product and we will delivery it in your home."
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />
    <meta property="og:title" content="Mandaue Stores" />
    <meta
      property="og:description"
      content="Purchase our product and we will delivery it in your home."
    />
    <meta
      property="og:image"
      content="https://mandaue-stores.com/img/banner3.54bdba38.jpg"
    />
    <meta property="og:url" content="https://mandaue-stores.com/" />

    <link rel="icon" type="image/png" sizes="96x96" href="favicon.ico" />
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
