<template>
  <generic :home-image="homeImage" icon="add_circle" ref="home">
    <div class="col-12">
      <q-btn @click="cancel" color="secondary" label="Back" class="q-ma-sm" />
      <q-btn @click="add" color="primary" label="Submit" class="q-ma-sm" />
    </div>
  </generic>
</template>
<script>
import generic from 'pages/dashboard/home-images/form/generic'
import { mapState } from 'vuex'
export default {
  components: {
    generic
  },
  computed: {
    ...mapState('homeImages', ['homeImage'])
  },
  methods: {
    add () {
      this.$refs.home.add()
    },
    cancel () {
      this.$router.go(-1)
    }
  }
}
</script>
