<template>
  <generic :home-image="homeImage" icon="add_circle" ref="home">
    <div class="col-12">
      <q-btn @click="cancel" color="secondary" label="Back" class="q-ma-sm" />
      <q-btn @click="update" color="primary" label="Update" class="q-ma-sm" />
    </div>
  </generic>
</template>
<script>
import generic from 'pages/dashboard/home-images/form/generic'
import { mapState } from 'vuex'
export default {
  components: {
    generic
  },
  computed: {
    ...mapState('homeImages', ['homeImage'])
  },
  methods: {
    update () {
      this.$refs.home.update()
    },
    cancel () {
      this.$router.go(-1)
    }
  },
  mounted () {
    console.log(this.homeImage)
  }
}
</script>
