<template>
  <div class="row">
    <div class="col-sm-12 gt-sm">
      <generic-table
        :data="serverData"
        :columns="columns"
        :pagination="serverPagination"
        @serverside-request="request"
        @search-change="filter = $event"
        :search-field="filter"
        @selected="selected"
        :title="'Home Images'"
        :loading="loading"
        :search-placeholder="'Search store...'"
        entity="Home Image"
        @add="add"
        @edit="edit"
        @restore="restore"
        @del="del"
      ></generic-table>
    </div>
    <div class="col-sm-12 lt-md">
      <grid
        :data="serverData"
        :columns="columns"
        :pagination="serverPagination"
        @serverside-request="request"
        @search-change="filter = $event"
        :search-field="filter"
        @selected="selected"
        ref="storeTable"
        :title="'All Categories'"
        :loading="loading"
        :search-placeholder="'Search store...'"
        :grid="true"
        entity="Store"
        @add="add"
        @edit="edit"
        @restore="restore"
        @del="del"
      ></grid>
    </div>
  </div>
</template>

<script>
import catchError from 'components/api-errors/catch'
import genericTable from 'components/data-table/home-images'
import grid from 'components/data-table/grid'
import { values } from 'lodash'
import { debounce } from 'quasar'
import { mapState, mapActions } from 'vuex'
export default {
  mixins: [catchError],
  components: {
    genericTable,
    grid
  },
  data () {
    return {
      selectedValue: '',
      debouncedFunction: '',
      loading: false,
      filter: '',
      options: [5, 10, 15, 20],
      serverPagination: {
        page: 1,
        rowsNumber: 10,
        rowsPerPage: 10 // specifying this determines pagination is server-side
      },
      serverData: [],
      columns: [
        {
          name: 'desc',
          label: 'Desc',
          field: 'desc_display',
          align: 'left'
        },
        {
          name: 'Action',
          label: 'ACTION',
          align: 'left'
        }
      ]
    }
  },
  computed: {
    ...mapState('homeImages', ['homeImage'])
  },
  methods: {
    ...mapActions('homeImages', ['setHomeImage']),
    restore () {},
    add () {
      this.setHomeImage({
        desc: ''
      })
      this.$router.push({
        path: `/dashboard/home-images/create`
      })
    },
    edit (optimusId) {
      this.$axios
        .get(`/home_images/${optimusId}/edit?id=${optimusId}`)
        .then(res => {
          this.setHomeImage(res.data.homeImage)
          this.$router.push({
            path: `/dashboard/home-images/${optimusId}`
          })
        })
    },
    del (optimusId) {
      this.$axios
        .get(`/home_images/${optimusId}/edit?id=${optimusId}`)
        .then(res => {
          this.setHomeImage(res.data.homeImage)
          this.$q.notify({
            color: 'negative',
            icon: 'warning',
            message: `Delete Home Image?`,
            actions: [
              {
                label: 'OK',
                color: 'white',
                handler: () => {
                  this.$axios
                    .delete(
                      `/home_images/${this.homeImage.optimus_id}?id=${this.homeImage.optimus_id}`
                    )
                    .then(res => {
                      this.$q.notify({
                        color: 'positive',
                        icon: 'check',
                        message: `Home Image deleted successfully`
                      })
                      this.request({
                        pagination: this.serverPagination,
                        filter: this.filter
                      })
                    })
                    .catch(err => {
                      console.log(`${err.response.data.message}`)
                      this.$q.notify({
                        color: 'negative',
                        icon: 'warning',
                        message: 'Failed... Integrity Constraint' // `${err.response.data.message}`
                      })
                    })
                }
              }
            ]
          })
        })
    },
    selected (val) {
      this.selectedValue = val
    },
    request (props) {
      this.debouncedFunction(props)
    }
  },
  mounted () {
    this.debouncedFunction = debounce(props => {
      this.loading = true
      this.$axios
        .get(
          `/home_images?page=${props.pagination.page}&perPage=${props.pagination.rowsPerPage}&filter=${this.filter}`
        )
        .then(res => {
          this.serverPagination = props.pagination
          this.serverData = values(res.data.homeImages.data)
          this.serverPagination.rowsNumber = res.data.homeImages.total
          this.lastPage = res.data.homeImages.last_page
          this.loading = false
        })
        .catch(err => {
          this.$router.go(-1)
          this.catch(err)
        })
    }, 500)

    this.request({
      pagination: this.serverPagination,
      filter: this.filter
    })
  }
}
</script>
