<template>
  <q-layout view="lHh Lpr fFf">
    <q-header>
      <q-toolbar class="bg-primary shadow-transition text-white">
        <q-btn
          flat
          dense
          round
          @click="clickLeftDrawer"
          aria-label="Menu"
          class="text-green-3"
        >
          <q-icon name="menu" />
        </q-btn>
        <router-link to="/" class="text-secondary">
          <q-img src="~/assets/logo.png" spinner-color="black" class="logo" />
        </router-link>
        <q-space />
        <q-btn
          dense
          flat
          icon="dashboard"
          class="q-ml-md"
          to="/dashboard/profile"
          v-if="token !== ''"
        />
        <q-btn flat v-if="token != ''" @click="dialog = true">
          <q-icon name="power_settings_new" />
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawer" bordered content-class="bg-grey-2">
      <q-input
        dense
        debounce="500"
        class="q-pa-sm"
        label="Search Menu..."
        v-model="searchMenu"
      >
        <template v-slot:append>
          <q-icon name="search" />
        </template>
      </q-input>
      <q-list>
        <q-item clickable v-ripple exact to="/">
          <q-item-section>
            <span style="font-size: 15px;">Home</span>
          </q-item-section>
        </q-item>
        <!-- <q-item clickable v-ripple exact to="/dashboard" active-class="my-menu-link">
          <q-item-section>
            <span style="font-size: 15px;">Dashboard</span>
          </q-item-section>
        </q-item>-->
        <template v-for="(menu, i) in menus">
          <q-item
            clickable
            v-ripple
            :key="i"
            :to="`${menu.path}`"
            active-class="my-menu-link"
            @click="menuClick()"
          >
            <q-item-section>
              <span style="font-size: 15px;">{{ menu.name }}</span>
            </q-item-section>
          </q-item>
        </template>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
    <q-dialog v-model="dialog" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar
            icon="power_settings_new"
            color="primary"
            text-color="white"
          />
          <span class="q-ml-sm">Are you sure you want to log-out?</span>
        </q-card-section>

        <!-- Notice v-close-dialog -->
        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn
            flat
            label="Logout"
            color="primary"
            v-close-popup
            @click="logout"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-layout>
</template>

<script>
import { openURL } from "quasar";
import { unSetAuthHeader } from "boot/axios";
import { mapState, mapActions } from "vuex";

export default {
  name: "MyLayout",
  data() {
    return {
      searchMenu: "",
      dialog: false,
      menu: false,
      leftDrawerOpen: this.$q.platform.is.desktop
    };
  },
  computed: {
    ...mapState("users", ["token", "user", "facebook"]),
    ...mapState("global", ["cart", "cartLength"]),
    ...mapState("menus", ["menus"]),
    leftDrawer: {
      get() {
        return this.$store.getters["global/leftDrawer"];
      },
      set(val) {
        this.setLeftDrawer(val);
      }
    }
  },
  methods: {
    openURL,
    ...mapActions("global", ["setLeftDrawer", "setCurrentPage"]),
    ...mapActions("users", ["setToken", "setUser", "setDialogChangePassword"]),
    ...mapActions("menus", ["setMenus"]),
    menuClick() {
      this.setCurrentPage(1);
    },
    showPasswordModal() {
      this.setDialogChangePassword(true);
    },
    clickLeftDrawer() {
      if (this.leftDrawer === true) {
        this.setLeftDrawer(false);
      } else {
        this.setLeftDrawer(true);
      }
    },
    getMenus() {
      this.$axios.get("menus").then(res => {
        this.setMenus(res.data.menus);
      });
    },
    logout() {
      this.$axios
        .post(`/logout`)
        .then(e => {
          unSetAuthHeader();
          this.setToken("");
          this.setUser({});
          this.$router.push("/login?logout=true");
        })
        .catch(e => {
          unSetAuthHeader();
          this.setToken("");
          this.setUser({});
        });
    },
    searchMenus(val) {
      this.$axios.get(`search-menus?search=${val}`).then(res => {
        this.setMenus(res.data.menus);
      });
    }
  },
  created() {
    this.getMenus();
  },
  watch: {
    searchMenu(val) {
      this.searchMenus(val);
    }
  }
};
</script>

<style lang="sass" scoped>
.my-menu-link
  font-weight: bold
  color: #21552A
  background-color: #D3D3D3

.logo
  width: 130px
  display: inline-block
  margin-top: 5px
  margin-bottom: 5px
</style>
