<template>
  <q-layout view="lHh Lpr fFf">
    <q-header style="max-width: 1536px; margin: 0 auto;">
      <q-toolbar class="bg-primary shadow-transition text-white">
        <router-link to="/">
          <q-img
            src="~/assets/logo.png"
            spinner-color="black"
            class="logo absolute-top"
          />
        </router-link>
        <q-space />
        <q-input
          outlined
          dense
          bg-color="white"
          v-model="searchStringProduct"
          input-class="text-left"
          label="Search Product..."
          debounce="500"
          style="width: 50%; "
          class="gt-xs"
        >
          <template v-slot:append>
            <q-btn-dropdown
              style="color: #250000;"
              label="All Categories"
              flat
              dense
            >
              <q-list>
                <q-item
                  clickable
                  v-close-popup
                  v-for="(v, k) in allCategories"
                  :key="k"
                  :to="`/catalog/${v.url}`"
                >
                  <q-item-section>
                    <q-item-label>{{ v.name }}</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
            <q-icon
              v-if="searchStringProduct === ''"
              name="search"
              class="hide-small"
            />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer hide-small"
              @click="changeSearchStringProduct"
            />
          </template>
        </q-input>
        <header-btn @dialog="dialog = true"></header-btn>
      </q-toolbar>
      <q-toolbar class="lt-sm">
        <q-input
          outlined
          dense
          bg-color="white"
          v-model="searchStringProduct"
          input-class="text-left"
          label="Search Product..."
          debounce="500"
          style="width: 100%; margin-left: 0px;"
        >
          <template v-slot:append>
            <q-btn-dropdown
              style="color: #250000;"
              label="All Categories"
              flat
              dense
            >
              <q-list>
                <q-item
                  active-class="my-menu-link"
                  clickable
                  v-close-popup
                  v-for="(v, k) in allCategories"
                  :key="k"
                  :to="`/catalog/${v.url}`"
                >
                  <q-item-section>
                    <q-item-label>{{ v.name }}</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
            <q-icon v-if="searchStringProduct === ''" name="search" />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer"
              @click="changeSearchStringProduct"
            />
          </template>
        </q-input>
      </q-toolbar>
    </q-header>

    <q-page-container style="max-width: 1536px; margin: 0 auto;">
      <router-view />
    </q-page-container>
    <q-dialog v-model="dialog" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar
            icon="power_settings_new"
            color="primary"
            text-color="white"
          />
          <span class="q-ml-sm">Are you sure you want to log-out?</span>
        </q-card-section>

        <!-- Notice v-close-dialog -->
        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn
            flat
            label="Logout"
            color="primary"
            v-close-popup
            @click="logout"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-layout>
</template>

<script>
import { openURL } from "quasar";
import { unSetAuthHeader } from "boot/axios";
import { mapState, mapActions } from "vuex";
import headerBtn from "./common/header-btn";
import _ from "lodash";

export default {
  name: "MyLayout",
  components: {
    headerBtn
  },
  data() {
    return {
      searchMenu: "",
      dialog: false,
      menu: false,
      leftDrawerOpen: this.$q.platform.is.desktop
    };
  },
  computed: {
    ...mapState("global", ["allCategories"]),
    ...mapState("menus", ["menus"]),
    searchStringProduct: {
      get() {
        return this.$store.getters["global/searchStringProduct"];
      },
      set(val) {
        this.setSearchStringProduct(val);
      }
    },
    leftDrawer: {
      get() {
        return this.$store.getters["global/leftDrawer"];
      },
      set(val) {
        this.setLeftDrawer(val);
      }
    }
  },
  methods: {
    openURL,
    ...mapActions("global", ["setLeftDrawer", "setSearchStringProduct"]),
    ...mapActions("users", ["setToken", "setUser", "setDialogChangePassword"]),
    ...mapActions("menus", ["setMenus"]),
    changeSearchStringProduct() {
      this.setSearchStringProduct("");
    },
    showPasswordModal() {
      this.setDialogChangePassword(true);
    },
    clickLeftDrawer() {
      if (this.leftDrawer === true) {
        this.setLeftDrawer(false);
      } else {
        this.setLeftDrawer(true);
      }
    },
    logout() {
      this.$axios
        .post("/logout")
        .then(e => {
          unSetAuthHeader();
          this.setToken("");
          this.setUser({});
          this.$router.push("/");
        })
        .catch(e => {
          unSetAuthHeader();
          this.setToken("");
          this.setUser({});
        });
    },
    searchMenus(val) {
      this.$axios.get(`search-menus?search=${val}`).then(res => {
        this.setMenus(res.data.menus);
      });
    }
  },
  mounted() {
    console.log(window.screen.width);
  },
  watch: {
    searchMenu(val) {
      this.searchMenus(val);
    }
  }
};
</script>

<style scope>
footer {
  text-align: center;
}
.logo {
  width: 130px;
  display: inline-block;
  top: 5px;
  left: 15px;
}
div#main-header {
  display: flex;
  background-color: white;
  justify-content: space-around;
}
ul#main-top,
ul#second-top {
  list-style-type: none;
  font-size: 14px;
  margin-bottom: 0px;
}
ul#main-top li {
  float: left;
  margin-right: 20px;
}

ul#main-top li a {
  text-decoration: none;
  color: #250000;
  font-weight: bold;
}

ul#second-top {
  margin-right: 10px;
}
ul#second-top li {
  float: right;
  margin-right: 20px;
}

ul#second-top li a {
  text-decoration: none;
  color: #250000;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .logo {
    width: 140px;
    display: inline-block;
  }
}

@media screen and (max-width: 375px) {
  .hide-small {
    display: none;
  }
  .xs-device {
    display: inline-block;
    font-size: 18px;
    color: white;
    text-decoration: none;
  }
}</style
>>
