<template>
  <q-layout view="hHh Lpr fff">
    <q-header>
      <q-toolbar class="bg-primary shadow-transition text-white">
        <q-btn
          @click="clickLeftDrawer"
          aria-label="Menu"
          flat
          class="text-green-3"
          dense
        >
          <q-icon name="menu" />
        </q-btn>
        <router-link to="/" class="text-secondary">
          <q-img src="~/assets/logo.png" spinner-color="black" class="logo2" />
        </router-link>
        <q-space />
        <q-input
          outlined
          dense
          bg-color="white"
          v-model="searchStringProduct"
          input-class="text-left"
          label="Search Product..."
          debounce="500"
          style="width: 50%; margin-left: 20px;"
          class="gt-xs"
        >
          <template v-slot:append>
            <q-btn-dropdown
              style="color: #250000;"
              label="All Categories"
              flat
              dense
            >
              <q-list>
                <q-item
                  active-class="my-menu-link"
                  clickable
                  v-close-popup
                  v-for="(v, k) in allCategories"
                  :key="k"
                  :to="`/catalog/${v.url}`"
                >
                  <q-item-section>
                    <q-item-label>{{ v.name }}</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
            <q-icon v-if="searchStringProduct === ''" name="search" />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer"
              @click="changeSearchStringProduct"
            />
          </template>
        </q-input>

        <header-btn @dialog="dialog = true"></header-btn>
      </q-toolbar>
      <q-toolbar class="lt-sm">
        <q-input
          outlined
          dense
          bg-color="white"
          v-model="searchStringProduct"
          input-class="text-left"
          label="Search Product..."
          debounce="500"
          style="width: 100%; margin-left: 0px;"
        >
          <template v-slot:append>
            <q-btn-dropdown
              style="color: #250000;"
              label="All Categories"
              flat
              dense
            >
              <q-list>
                <q-item
                  active-class="my-menu-link"
                  clickable
                  v-close-popup
                  v-for="(v, k) in allCategories"
                  :key="k"
                  :to="`/catalog/${v.url}`"
                >
                  <q-item-section>
                    <q-item-label>{{ v.name }}</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
            <q-icon v-if="searchStringProduct === ''" name="search" />
            <q-icon
              v-else
              name="clear"
              class="cursor-pointer"
              @click="changeSearchStringProduct"
            />
          </template>
        </q-input>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawer" bordered content-class="bg-grey-2">
      <q-list>
        <q-separator />
        <q-item>
          <q-item-section>
            <q-input
              dense
              debounce="500"
              label="Search Category..."
              v-model="searchCategory"
              outlined
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </q-item-section>
        </q-item>
        <template v-for="(category, i) in categories">
          <q-expansion-item
            class="cat-name"
            active-class="my-menu-link"
            expand-separator
            :key="i"
            v-if="category.all_children.length > 0"
            :to="`/catalog/${category.optimus_id}/${category.slug_name}`"
          >
            <template v-slot:header>
              <q-item-section avatar>
                <q-avatar>
                  <img :src="category.default_image.path_url" />
                </q-avatar>
              </q-item-section>
              <q-item-section class="text-spacing">{{
                category.name
              }}</q-item-section>
            </template>

            <template v-for="(subCat, a) in category.all_children">
              <q-expansion-item
                header-class="my-menu-link"
                :header-inset-level="1"
                expand-separator
                :label="subCat.name"
                :key="a"
                v-if="subCat.all_children.length > 0"
                :to="
                  `/catalog/${category.optimus_id}/${category.slug_name}/${subCat.optimus_id}/${subCat.slug_name}`
                "
                exact
              >
                <template v-for="(furtherCat, b) in subCat.all_children">
                  <q-expansion-item
                    header-class="my-menu-link"
                    switch-toggle-side
                    dense-toggle
                    :label="furtherCat.name"
                    :header-inset-level="1"
                    :content-inset-level="2"
                    :key="b"
                    v-if="furtherCat.all_children.length > 0"
                    :to="
                      `/catalog/${category.name}/${subCat.optimus_id}/${subCat.name}/${furtherCat.name}/${futherCat.optimus_id}`
                    "
                  ></q-expansion-item>
                  <q-item
                    active-class="my-menu-link"
                    clickable
                    v-ripple
                    v-else
                    :key="b"
                    side
                    :inset-level="2"
                    :to="
                      `/catalog/${category.optimus_id}/${category.slug_name}/${subCat.optimus_id}/${subCat.slug_name}/${furtherCat.optimus_id}/${furtherCat.slug_name}`
                    "
                  >
                    <q-item-section class="text-spacing">{{
                      furtherCat.name
                    }}</q-item-section>
                  </q-item>
                </template>
              </q-expansion-item>
              <q-item
                active-class="my-menu-link"
                clickable
                v-ripple
                v-else
                :key="a"
                side
                :inset-level="1"
                :to="
                  `/catalog/${category.optimus_id}/${category.slug_name}/${subCat.optimus_id}/${subCat.slug_name}`
                "
                exact
              >
                <q-item-section avatar>
                  <q-avatar>
                    <img :src="subCat.default_image.path_url" />
                  </q-avatar>
                </q-item-section>
                <q-item-section class="text-spacing">{{
                  subCat.name
                }}</q-item-section>
              </q-item>
            </template>
          </q-expansion-item>
          <q-item
            active-class="my-menu-link"
            clickable
            v-ripple
            v-else
            :key="i"
            :to="`/catalog/${category.optimus_id}/${category.slug_name}`"
          >
            <q-item-section avatar>
              <q-avatar>
                <img :src="category.default_image.path_url" />
              </q-avatar>
            </q-item-section>
            <q-item-section class="text-spacing">{{
              category.name
            }}</q-item-section>
          </q-item>
        </template>
      </q-list>
    </q-drawer>

    <q-page-container style="margin-left: 5px; margin-right: 5px;">
      <router-view />
    </q-page-container>
    <q-dialog v-model="dialog" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar
            icon="power_settings_new"
            color="primary"
            text-color="white"
          />
          <span class="q-ml-sm">Are you sure you want to log-out?</span>
        </q-card-section>

        <!-- Notice v-close-dialog -->
        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn
            flat
            label="Logout"
            color="primary"
            v-close-popup
            @click="logout"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-layout>
</template>

<script>
import _ from "lodash";
import { openURL } from "quasar";
import { unSetAuthHeader } from "boot/axios";
import { mapState, mapActions } from "vuex";
import headerBtn from "./common/header-btn";
export default {
  name: "MyLayout",
  components: {
    headerBtn
  },
  data() {
    return {
      tab: "",
      text: "",
      dialog: false,
      menu: false,
      leftDrawerOpen: this.$q.platform.is.desktop
    };
  },
  computed: {
    ...mapState("categories", ["categories"]),
    ...mapState("global", ["allCategories"]),
    searchStringProduct: {
      get() {
        return this.$store.getters["global/searchStringProduct"];
      },
      set(val) {
        this.setSearchStringProduct(val);
      }
    },
    searchCategory: {
      get() {
        return this.$store.getters["categories/searchCategory"];
      },
      set(val) {
        this.setSearchCategory(val);
      }
    },
    page: {
      get() {
        return this.$store.getters["users/page"];
      },
      set(val) {
        this.setPage(val);
      }
    },
    leftDrawer: {
      get() {
        return this.$store.getters["global/leftDrawer"];
      },
      set(val) {
        this.setLeftDrawer(val);
      }
    }
  },
  methods: {
    openURL,
    ...mapActions("categories", ["setCategories", "setSearchCategory"]),
    ...mapActions("global", ["setLeftDrawer", "setSearchStringProduct"]),
    ...mapActions("users", ["setToken", "setUser"]),
    ...mapActions("products", ["setProducts"]),
    changeSearchStringProduct() {
      this.setSearchStringProduct("");
    },
    clickLeftDrawer() {
      if (this.leftDrawer === true) {
        this.setLeftDrawer(false);
      } else {
        this.setLeftDrawer(true);
      }
    },
    logout() {
      this.$axios
        .post("/logout")
        .then(e => {
          unSetAuthHeader();
          this.setToken("");
          this.setUser({});
          this.$router.push("/");
        })
        .catch(e => {
          unSetAuthHeader();
          this.setToken("");
          this.setUser({});
        });
    },
    getCategories() {
      this.$axios
        .get(`search-category?search=${this.searchCategory}`)
        .then(res => {
          this.setCategories(res.data.categories);
        });
    }
  },
  mounted() {
    this.getCategories();
  },
  watch: {
    $route(to, from) {
      this.getCategories();
    },
    searchCategory(val) {
      this.getCategories();
    }
  }
};
</script>
<style lang="sass" scope>

.text-spacing
  letter-spacing: .5px;
.cart-btn
  margin-top: 5px

.logo2
 width: 130px
  display: inline-block
  top: 5px
  left: 15px

.my-menu-link
  font-weight: bold
  color: #21552A

@media screen and (max-width: 480px)
  .logo2
    width: 140px
    margin-top: 10px;
    display: inline-block

@media screen and (max-width: 360px)
  .logo2
    width: 130px
    margin-top: 10px;
    display: inline-block
@media screen and (max-width: 350px)
  .logo2
    width: 100px
    margin-top: 10px;
    display: inline-block
</style>
